[2020-09-18 20:29] ViralBShah commented on #262
I think the mbedtls library is not right. Can you try doing `using Pkg; Pkg.update()` to see if it gets upgraded and the problem goes away?

[2020-09-18 20:50] blindjesse commented on #262
Did not help. I take it you are not seeing this error?

[2020-09-18 20:53] blindjesse commented on #262
@vlandau yes I'm getting the same error using `using ArchGDAL`. So this is not a Circuitscape issue.

[2020-09-18 21:15] #262 closed

[2020-09-18 21:53] ViralBShah commented on #262
Something is messed up with the Julia install. If you don't have any packages you are working on (unsaved work) in`.julia/dev`, I would suggest wiping `.julia` or some way to upgrade the mbedtls dependency.

[2020-09-20 19:38] blindjesse commented on #262
Thanks, this turned out to be a local install error. I had previously used the ubuntu version and removing it didn't remove libjulia1

[2020-09-29 01:57] nevilamos opened #266 "Pkg.test("Circuitscape") fail on new installation"
I have just installed julia LTS and circutiscape following the generic Linux installation instructions. on ubuntu 20.04.1
On running Pkg.test("Circuitscape") I get the following error message

ERROR: Package Circuitscape errored during testing
Stacktrace:
 [1] pkgerror(::String, ::Vararg{String,N} where N) at /build/julia-98cBbp/julia-1.4.1+dfsg/usr/share/julia/stdlib/v1.4/Pkg/src/Types.jl:53
 [2]

[2020-09-29 02:49] ViralBShah commented on #266
Can you try Julia 1.5?

[2020-09-30 03:44] nevilamos commented on #266
Thanks - I was using the ubuntu binaires.  It works fine now I have updated to julia 1.5.

[2020-09-30 03:44] #266 closed

[2020-10-10 15:25] #222 closed

[2020-10-22 17:41] angelabrennan opened #268 "trouble with variable source strengths"
Hi there, I'm trying to use the variable source strengths for the all-to-one mode but having some trouble. I can get it to work in the Circuitscape standalone app, but when using the exact ini file in Julia I get the same results I would without varying source strengths. Any ideas how to apply different currents to each source node in an all-to-one application? I will definitely need to do this in

[2020-10-23 19:20] angelabrennan commented on #268
And looking into this further I tested your example in All-to-one/12 in two ways: with the variable strength file and without. The cumulative current maps were identical. Shouldn't their be some differences if applying different currents?
Angela

[2020-10-26 01:23] merry1010 opened #269 "When I was running the circuitscape, I had a stop working error。"
![IMG_20201026_085108](https://user-images.githubusercontent.com/73450776/97124798-7dd5c300-176c-11eb-96ce-a6f5d22963b8.jpg)
I'm the win7,ARCgis 10.5
Every time I run circuitscape, there's an error that stops working. I really can't find the reason
![wx_camera_1603602041806](https://user-images.githubusercontent.com/73450776/97124857-cb523000-176c-11eb-878b-7c72d4168cb6.jpg)
Circuitscape ArcGIS to

[2020-10-26 01:44] merry1010 commented on #269
![wx_camera_1603436644823](https://user-images.githubusercontent.com/73450776/97125618-7237cb80-176f-11eb-8077-ce6ac41bad02.jpg)
Before my computer  win10 system will quickly complete the processing, but my final output of the folder does not have the final results, later I re installed the win7 system, there was a stop working error.
I really can't find the problem, because I know little about ci

[2020-10-27 20:03] ranjanan commented on #269
Hi @merry1010, you're running the old CS v4, which is now deprecated. Can you run your analysis using the new Circuitscape.jl? Installation and documentation are in the README of this package.

[2020-10-29 02:17] #268 closed

[2020-11-09 09:58] BSiggery opened #271 ""Error: syntax: invalid escape sequence""
Hi all,

I appreciate this is probably something really straightforward to resolve but this is my first time working in Julia.
I have successfully installed Circuitscape in Julia 1.5.2 and ran the test successfully.

However, when I try to run it on an .ini file manually, I get the following:
julia> compute("I:\DMU\Connectivity\BASELINE_RESULTS\_Oct19_Rerun\TBH\TBH6\Adder\Circuitresult\addercon2.i

[2020-11-09 13:27] ViralBShah commented on #271
Paste your ini file here. It is not formatted correctly, it seems.

[2020-11-09 13:30] BSiggery commented on #271
Hi there, the mgNetworkVerify1.ini  should not have issues since it's the one in Julia's test files but I have pasted below anyway:
[code]

[2020-11-09 13:31] BSiggery commented on #271
This is the code for my .ini generated with Circuitscape 4 GUI

[code]

[2020-11-09 16:20] ranjanan commented on #271
Can you run `compute(raw"I:\DMU\Connectivity\BASELINE_RESULTS_Oct19_Rerun\TBH\TBH6\Adder\Circuitresult\addercon2.ini")`?

[2020-11-09 16:24] BSiggery commented on #271
Yes! That helps. Now I get a new error: "ERROR: SystemError: opening file "output/mgNetworkVerify1.out": No such file or directory"

Could you explain how to create an .out file? If it just a blank notepad doc?

Could you also explain why I need to use the "raw" command?

[2020-11-09 16:43] ranjanan commented on #271
Re creating out files: You don't need to create one yourself. Circuitscape will just create one for you. Just specify an absolute path like you have in `addercon2.ini`.

Re the raw syntax:
[code]
You need two escape characters while specifying strings in the julia prompt in Windows. Tab-complete will automatically do that for you. If you're pasting from your explorer window, the `raw` command is a

[2020-11-11 10:27] BSiggery commented on #271
Hi Ranjanan, thanks a lot for your reply! It looks like it's working fine now with the raw command.

I'm not sure exactly what you mean about pwd? But I suppose it doesn't matter since the more important thing is that I've managed to run my own file.

One last question, do generate the .ini files from the Circuitscape 4 GUI I have to "run" the problem but then can just cancel it straight away? Wil

[2020-11-23 18:57] RachLamb opened #272 "ValueError: could not broadcast input array fro, shape (3,1) into shape (3)"
Error running Pinchpoint Mapper in Linkage Mapper Toolkit using ArcGIS 10.6. Had to use Circuitscape v4.0 to get the script to run. Does this value suggest an underlying error with the original linkage map?

[valueerror.txt](https://github.com/Circuitscape/Circuitscape.jl/files/5585165/valueerror.txt)

[2020-12-10 09:25] Jana587 opened #273 "AttributeError: type object 'QgsMessageLog' has no attribute 'INFO'"
Hello everyone,

I am using Circuitscape for the first time to model gene flow within a forest area:

I am using circuitscape as a QGis plugin in version 3.14 in  windows 10. The input data are one resistance map per tree species (raster file with values 0 =same species, 1= forest area but other species, 100000000= no forest or no data cells).

![image](https://user-images.githubusercontent.com/75

[2020-12-15 10:02] tildigg opened #274 "ERROR: KeyError: key "Zlib_jll" not found"
I am trying to download circuit scape. I have downloaded Julia and followed the code to install circuit scape but i keep getting this message.

[2020-12-15 18:49] vlandau opened #275 "Move CI/docs building to GitHub Actions"
Travis has capped compute allowances, so eventually CI will fail due to lack of credits. I switched Omniscape.jl to GitHub Actions and it was pretty easy. Just have to add a DOCUMENTER_KEY to "secrets" (see [here](https://juliadocs.github.io/Documenter.jl/stable/man/hosting/#GitHub-Actions)) to get docs deployment to work.

[Here](https://github.com/Circuitscape/Omniscape.jl/blob/main/.github/work

[2020-12-25 02:25] vlandau commented on #274
@tildigg sorry for the delay in getting back to you. Can you please post the full stacktrace in a code black, as well as information about your operating system and which version of Julia you're using?

[2020-12-25 02:34] vlandau commented on #272
@RachLamb sorry for the delay in getting back to you. Unfortunately, Circuitscape v4 is no longer actively supported. However, you may have better luck posting an issue in the [Linkage Mapper repo](https://github.com/linkagescape/linkage-mapper/issues).

[2020-12-25 02:34] #272 closed

[2020-12-25 02:36] vlandau commented on #250
Closing because we'll be moving to GitHub Actions anyway

[2020-12-25 02:36] #250 closed

[2020-12-25 02:40] #252 closed

[2020-12-25 02:45] vlandau commented on #261
@linhunt hopefully you found a solution! I'm going to close this issue since we haven't heard back, but please feel free to reopen it if you continue to have problems.

[2020-12-25 02:45] #261 closed

[2020-12-25 02:51] vlandau commented on #249
@frederikvand sorry that this issue has gone unaddressed for so long. I believe we have changed the IO methods since this issue was posted. Do you know if this issue is still occurring?

[2020-12-25 03:32] #275 closed

[2020-12-31 23:48] vlandau commented on #271
@BSiggery I'm not sure if the ini file is written and will be saved if you cancel the job from v4. Did you find out? I'm going to close this issue since the original problem was resolved, but if problems persist, feel free to respond here or reach out on the [gitter page](https://gitter.im/Circuitscape/Circuitscape.jl). cc @ranjanan

[2020-12-31 23:48] #271 closed

[2021-01-04 09:22] frederikvand commented on #249
Dear @vlandau,

On a short time period I won't have time to test if the problem was resolved but I will notice you directly when I can. The paper using this method to predict migration routes for > 50k patches for many scenarios is currently accepted with revisions and I do think that there might be more requests to model on this scale in the future. Not having to separate each raster scenario in

[2021-01-04 14:14] ViralBShah commented on #274
Did you install using the Julia package manager?

[2021-01-04 14:20] ViralBShah commented on #245
CI is still failing. We should get it to pass...

[2021-01-11 17:39] ranjanan opened #276 "Make new release with AMG 0.4.0"
It has a breaking change (`tol => `reltol`).

[2021-01-12 22:54] #274 closed

[2021-01-12 22:56] ViralBShah commented on #136
@ranjanan we have this now right?

[2021-01-12 23:58] vlandau opened #277 "Add details on all INI arguments and their defaults to docs"
Something similar to [what is done for Omniscape.jl](https://docs.circuitscape.org/Omniscape.jl/latest/usage/#Arguments)? Having all of the arguments described in one place would be valuable.

[2021-01-13 00:23] ViralBShah commented on #276
we should go with v5.8.

[2021-01-13 20:25] ranjanan opened #278 "Include pairs not implemented in the polygon focal point case"
When the point file contains polygons, include pairs does not seem to be called anywhere.

[2021-01-13 20:37] vlandau commented on #278
[Here](https://drive.google.com/drive/folders/1ohzhMcFV6YALXnnZ_tMBbT0OZ4Oj05Wn?usp=sharing) are the files to reproduce.

[2021-02-11 17:26] cottetro opened #281 "ERROR: ArgumentError: column indices J[k] must satisfy 1<= J[k] <= n"
Hi,
When trying to run Circuitscape from the command line in Julia, I get the following error:

ERROR: ArgumentError: column indices J[k] must satisfy 1<= J[k]  <= n
(See also the full traceback in the files attached)

I can run this same data through the Circuitscape.py version from the GUI and from R. I was also able to run the Circuitscape test from the package and even launch some of them manu

[2021-02-11 19:30] mvszuri opened #282 "Issue branch_current output in network mode"
Hello Circuitscape-team,

I am running Circuitscape 5 on a network in advanced mode. As far as I understand, the branch_currents output file should show the current in each of the edges of the network. The calculations seem to be running fine, but I have encountered an issue with this branch_current file. If I run Circuitscape on the following example files:

[mgNetworkVerify3_graph_resistances.tx

[2021-02-11 19:44] mvszuri opened #283 "Error with networks consisting of multiple components"
Hello Circuitscape team,

I am running Circuitscape 5 on a network in advanced mode. I have noticed that Circuitscape throws an error if the input network consists of multiple components. Circuitscape runs fine on the following example input files:

[mgNetworkVerify3_graph_resistances.txt](https://github.com/Circuitscape/Circuitscape.jl/files/5967982/mgNetworkVerify3_graph_resistances.txt)
[mgNetw

[2021-02-12 05:55] ranjanan commented on #282
Hi Maarten,

Thanks for submitting this issue. Could you mention which version of Circuitscape you're on?

[code]
should tell you.

[2021-02-12 08:25] mvszuri commented on #282
I'm using Circuitscape v5.7.1. Thanks for addressing this issue.

[2021-02-12 08:28] mvszuri commented on #283
Just to clarrify; I have posted this as a new issue as I'm not sure whether it's related to the over issue that I posted: https://github.com/Circuitscape/Circuitscape.jl/issues/282#issuecomment-777992628

[2021-02-25 11:33] mvszuri commented on #282
I have performed some more experiments with the branch_currents output of Circuitscape 5. I have found that if you subtract 1 from the node IDs in the ...branch_currents.txt files, the original node IDs are reproduced (the order of the edges may be different to the input file). Furthermore, I have compared the input network to the output network, which I reconstructed from the ....branch_currents.

[2021-02-26 18:27] Gorky593 opened #284 "Pemission denied and paralell processes number"
Hi everyone,
This is my second time using Circuitscape (CS). The previous one was with the older GUI (CS v4.0.5). I have to say I have no experience in programming, but I managed to follow the instructions for using CS 5. I want to model connectivity in pairwise mode. I prepared all the files in ASCII formats and stored them on my desktop for easy access. I followed the instructions on Julia but a

[2021-03-01 15:38] glaroc commented on #197
I'm really a Julia novice, but could Symbolics.jl be useful for implementing better parallelization and multi-threading?
https://discourse.julialang.org/t/ann-symbolics-jl-a-modern-computer-algebra-system-for-a-modern-language/56251

[2021-03-01 15:45] ViralBShah commented on #197
I think it is not related.

[2021-03-02 19:34] glaroc commented on #197
You're right, I originally misunderstood the description of this package.

[2021-03-24 16:01] linhunt opened #285 "ncol warning"
I was running Circuitscape using ascii files and I received an error message that said
"warning: 2021-03-24 10:56:38 : ncols is not the same"

the program is still running but I am not sure what this warning means. The focal nodes layer was derived from the resistance layer so they should be the same extent and grid size.

[2021-04-22 18:04] vlandau opened #286 "Docs point to non-existent "examples" folder for examples"
Moving here from Circuitscape/datasets/issues/1

This is left over from Circuitscape.py, where an examples folder was created during installation. References to this directory still exist in the CIrcuitscape docs, so should be removed. Maybe we can add a new Examples directory to the [datasets](https://github.com/Circuitscape/datasets) repo and reference it in the docs?

[2021-04-23 06:58] Peterak100 opened #287 "BoundsError"
Hi,
I'm trying to get the Julia version of Circuitscape running successfully. I've installed the program and it passed the tests, however when I try to run a test example with a small resistance layer (178 x 267 pixels), I'm getting the following error:

julia> compute("PK-julia2-test.ini")
[ Info: 2021-04-23 16:43:44 : Precision used: Double
[ Info: 2021-04-23 16:43:49 : Reading maps
[ Info: 2021

[2021-05-03 10:23] luroy opened #288 "AssertionError: norm(asolve * volt .- sources) < 1.0e-5 in "all-to-one" mode using the latest development version of Circuiscape. v5.7.1"
Dear all,
I’ve just started using Circuitscape on Julia (and also using Julia). So I apologize in advance if my following comment is due to my unfamiliarity with Circuitscape and/or Julia.
From the same inputs, I ran Circuitscape both one-to-all and all-to-one modes. Everything went well from my one-to-all runtime file (.ini), but I got the following error when running my all-to-one ini file (in R

[2021-05-10 18:03] ilonamihalik opened #289 "Cumulative current map all NODATA in circuitscape.jl, but show currents in circuitscape GUI"
Hi all

I'm relatively new to Circuitescape but have been having issues with my cumulative maps using .jl. I'm running Circuitscape on raster data and in pairwise mode. I have 97 focal nodes in my study area.

Running my resistance and nodes layers in Circuitscape.jl, each iteration map shows pairwise connections, but my cumulative map shows all as "NODATA".

Running the **same** layers using the

[2021-05-17 05:59] rafaqz commented on #287
Turns out this is caused by errors in the source files nodata values not matching the data. It might be nice to give a clearer error than the bounds error when the lengths differ, as it's pretty opaque.

While fixing the files works on v5.7.1, how ArchGDAL is versioned makes Pkg choose 5.5.5 for me, on which there is still a bounds error after fixing this, for some other reason!! Pretty confusing

[2021-05-17 16:29] vlandau opened #290 "Tests fail with ArchGDAL 0.6.0"
I'll handle this one this week. Adding issue for posterity.

Stacktrace:

[code]

[2021-05-17 20:45] vlandau commented on #290
Silly issue -- the nodata_value was missing from the ASCII header for several of the test rasters.  In ArchGDAL 0.6.0, presumably a change was made to use a default value of `nothing` when nodata_value is missing from an ASCII header. So when we try to use `convert()` on `nothing`, it breaks. I think I fixed all of the instances, so I'm going to submit a PR with the fix, as well as an update to th

[2021-05-17 21:09] #290 closed

[2021-05-20 19:16] amatem commented on #284
I have a similar question (and also a newbie). I would love to have some example INI files and Julia or windows command prompt instructions for setting different parallelization options for Circuitscape.jl (currently running on a 6-core processer and not doing huge areas, running pairwise 54 nodes)

[2021-05-21 01:17] #287 closed

[2021-05-21 11:50] ModiShrushti opened #292 "memory error"
I am using circuitscape toolbox in ArcGIs and getting the error
cs_arc.py failed. Details follow
Python error on line 236 of cs_arc.py version 2013-05-29 memory error
Failed to execute circuitscape.
How to solve this issue

[2021-05-21 19:00] ranjanan commented on #292
I'm afraid that that version of the ArcGIS toolbox is currently deprecated. Could you export your maps and just run Circuitscape on it?

[2021-05-21 19:01] ranjanan commented on #289
Could you please upload your files in a dropbox / google drive and paste the link? I can take a look.

[2021-05-21 19:10] ranjanan commented on #288
@luroy could you please post your files in a dropbox / google drive so I can take a look?

[2021-05-22 03:37] ModiShrushti commented on #292
I have tried to run Circuitscape 4 (GUI version) but it is not responding after few seconds running the program. Also I tried to run Circuitscape 5 using julia but again I am not well acquainted with it and could not follow the instruction
julia> compute("path/to/config/file.ini")

[2021-05-26 16:40] ilonamihalik commented on #289
Thanks very much Ranjan. Here is a dropbox link: https://www.dropbox.com/sh/wmcx4up6el3xz4c/AAB3faW1gw-KVgDIIeaN1HdOa?dl=0

Please let me know if you need any more info.

Best,
Ilona

[2021-05-26 17:31] JuliaTagBot opened #295 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-05-26 17:31] #295 closed

[2021-05-26 17:38] vlandau commented on #288
@ranjanan I wonder if we should use a relative tolerance for satisfying the `@assert` statement instead of absolute?

[2021-05-26 17:57] ranjanan commented on #136
Yes, fixed in https://github.com/Circuitscape/Circuitscape.jl/pull/225

[2021-05-26 17:57] #136 closed

[2021-05-26 21:58] vlandau commented on #288
This problem is also triggered in Omniscape, but only when using 32-bit (single precision). @luroy would you happen to also be using `precision = single` in your INI file? If so, you may solve the problem at least temporarily by using `precision = double`.

@ranjanan it seems to be triggered from [this test](https://github.com/Circuitscape/Omniscape.jl/blob/vl/cholmod/test/runtests.jl#L117) on the

[2021-05-27 14:46] ranjanan commented on #292
Circuitscape works by taking in an "INI file" which is a set of options and paths (look at the [tests](https://github.com/Circuitscape/Circuitscape.jl/tree/master/test)). One way to generate it to use [INIBuilder (check docs)](https://docs.circuitscape.org/Circuitscape.jl/latest/#Building-a-Circuitscape-Job). Alternatively, you can simply copy and paste one of those test files and change the paths

[2021-05-27 14:47] ranjanan commented on #292
Feel free to post questions here. I'm happy to guide you through the process. Once we figure it out, I'm happy to add any documentation you think is useful for this use case.

[2021-06-01 20:12] vlandau commented on #288
@luroy we've issued a patch release that should fix the problem you were having. Run `using Pkg; Pkg.update("Circuitscape")` in your Julia terminal to get this latest version. I'm going to close this issue, but please feel free to reopen it if you find the problem persisting in Circuitscape v5.8.1!

[2021-06-01 20:12] #288 closed

[2021-06-08 16:19] amatem opened #300 "CHOLMOD solver error"
Julia-related error: Not sure if this is specific to the CHOLMOD solver, the version of Circuitscape or Julia in general but I received the following error after running ~ 5000 pair solves using pairwise mode. I previously haven't had issues generating results with this many solves in the past, so I'm curious what went wrong here. Thanks! (image below)

---

It appears this may be an issue with a

[2021-06-08 16:22] ranjanan commented on #300
Could you please post some files here (through a drive link) to reproduce this?

[2021-06-08 16:34] amatem commented on #300
https://drive.google.com/file/d/1lhFoizjrqp19vK6SRKWYtyKBKY87WdNY/view?usp=sharing
Thank you for helping, here are the ini and raster files I used. Hope this is what you'll need.

[2021-06-11 15:23] amatem commented on #300
small update: this solver works ok with a simple 1 pair solve output I tested, but several times with trying greater than 5000 pair solves the Julia environment closes out all together with no output after several hours of run time

![image](https://user-images.githubusercontent.com/82612877/121710295-524ee100-ca8e-11eb-8a0e-d382ce449775.png)

[2021-06-15 21:14] vlandau commented on #300
@amatem if it's stopping without any error message and Julia is closing entirely, that could be due to memory constraints on the computer you're using. In that case, you might try using the CG+AMG solver instead of CHOLMOD, as CG+AMG uses less memory (but takes a bit more time)

[2021-06-28 11:07] EveTC opened #302 "Pkg.test("Circuitscape") fail in double precision, raster pairwise and advanced (Ubuntu)"
Hello I was wondering if you could help me, I am hoping to use `julia circuitscape` within the R package `ResistanceGA`. However, I am getting an error during installation of circuitscape in Julia.

I am very new to the language Julia so any help would be grealty appreciated.

I have recently installed julia v1.6.1 following these steps:
[code]

In the julia command line I then put:
[code]

I also

[2021-06-28 11:11] EveTC commented on #302
Related issues - #188  and #178 although I am running it on a Linux server via Ubuntu not Windows and have additional errors,

[2021-06-29 17:43] ModiShrushti commented on #292
Hi,
I was able to successfully run Circuitscape julia and I was using the same
resistance file for optimisation in ResistanceGA. After fixing everything I
realised that I am getting the opposite results from what has been
expected. I am getting higher resistance for favourable habitat and
vice-versa based on the ecology of my species. After some reading I
realised the issue can be with the resista

[2021-06-29 20:39] ranjanan commented on #292
Could you check whether your resistance file is regarded as resistances or conductances?

In your INI file, there should be an option like the following: https://github.com/Circuitscape/Circuitscape.jl/blob/master/test/input/raster/pairwise/1/sgVerify1.ini#L40

Basically, if the resistance file you’re feeding Circuitscape contains resistances, that flag should be true. And false if it’s conductanc

[2021-06-30 03:02] ModiShrushti commented on #292
I have rechecked it is regarded as resistance file only.

On Wed, 30 Jun 2021, 2:09 am Ranjan Anantharaman, ***@***.***>
wrote:

[2021-06-30 14:13] ranjanan commented on #292
I see, would you mind attaching your inputs in a google drive file? I’ll take a look.

From: ModiShrushti ***@***.***>
Sent: Tuesday, June 29, 2021 11:03 PM
To: Circuitscape/Circuitscape.jl ***@***.***>
Cc: Ranjan Anantharaman ***@***.***>; Comment ***@***.***>
Subject: Re: [Circuitscape/Circuitscape.jl] memory error (#292)

I have rechecked it is regarded as resistance file only.

On Wed, 30 Jun

[2021-06-30 16:03] ModiShrushti commented on #292
Sure. Please find attached the .asc files, I have used for the analysis. I
have used two different sets one with considering the resistance value
during reclassification and second using reclassification without
resistance values.

Thanks
Shrushti

Shrushti Modi
Ph.D. Scholar,
Dept. of Animal Ecology and Conservation Biology,
Wildlife Institute of India,
Dehradun
Ph: +917088383245
Email Address: *

[2021-06-30 16:09] ranjanan commented on #292
Hey Shrushti,

I can't see the attachments. You're going to have to either attach them on Github or send a google drive link. Please be sure to include all your INI, focal points files, reclass table, and other things. If you did the reclassification in Circuitscape itself, you may be running into https://github.com/Circuitscape/Circuitscape.jl/issues/231

[2021-06-30 17:10] ModiShrushti commented on #292
I have gnarly tool for final file. I am attaching all of them here.
 inputvariable_r_sum.asc
<https://drive.google.com/file/d/1q-crCniyt-7ToOJVGudWNZaWWm3XgDUT/view?usp=drive_web>

 poptignode2.asc
<https://drive.google.com/file/d/1Jh752P9nfEh7SKSZ8gRNLo6s2atFIYQE/view?usp=drive_web>

 sumtest
<https://drive.google.com/file/d/1tdODxfi90L7ATfzjyEy2YNbCzoDgQ0PM/view?usp=drive_web>

Shrushti Modi
Ph.

[2021-07-06 12:38] venkanna37 opened #303 "Circuitscape 5 is not writing cumulative branch and node current files for network mode"
Circuitscape 5 is not writing cumulative currents files when I run with the network data type. While the same settings (.ini and habitat files) are working fine with Circuitscape 4 and are giving the desired cumulative branch and node currents files.

I am running Circuitscape 5 (v5.8.1) in Julia v1.6.1 with the following .ini and network data:
[Circuitscape_graph2.txt](https://github.com/Circuits

[2021-07-06 13:09] venkanna37 commented on #282
I am also facing the same issue, namely:

1. IDs in branch and node currents filename not same as input files, instead it is adding one to the pair IDs (eg: Circuitscape_network_branch_currents_2_3.txt instead of Circuitscape_network_branch_currents_1_2.txt)
2. The final resistance.out and resistance_3column.out files from Circuitscape 5 (v5.8.1; Julia 1.6.1.) have repeating node IDs and resistanc

[2021-07-06 17:38] #276 closed

[2021-07-07 03:27] ranjanan commented on #302
I was able to reproduce this on one machine and not the other. It seems that Pardiso has not been built properly. Could you try running `using Pkg; Pkg.add("Pardiso"); Pkg.build("Pardiso")`? Run tests again after that.

If it still fails, could you run the following code:
[code]
and see if that fails?

[2021-07-07 09:57] EveTC commented on #302
Hi @ranjanan - thank you so much for your help.

Yes that looks exactly like my error, here is my full error output:
[code]

1. I then ran the below as suggested, see outputs below as well.
[code]

2. Run the test again `Pkg.test("Circuitscape")` - still receive what looks like the same error as above. Printed below incase there are and subtle changes
[code]

3. Run following code (output included

[2021-07-07 13:02] ranjanan commented on #302
What does `Pardiso.libmkl_rt` return?

[2021-07-07 14:23] EveTC commented on #302
`Pardiso.libmkl_rt` returns:
[code]

Ran:
[code]

Return:
[code]

[2021-07-07 14:29] EveTC commented on #302
Is this thread relevant? https://github.com/JuliaSparse/Pardiso.jl/issues/69

[2021-07-07 14:41] ranjanan commented on #302
I saw that thread, but I saw something similar on one Windows machine so it might not be Linux specific.

As a final check, could you do run this too:
[code]
and
[code]
If that doesn't work, let's file an issue in Pardiso: I would create a separate directory, and run the following code to see if it reproduces the issue:
[code]
If that does, I would file an issue here: https://github.com/JuliaSpars

[2021-07-07 14:47] EveTC commented on #302
1. Ran `Pardiso.MKL_jll.libmkl_rt` output:
[code]

2. Ran `using Pardiso; using Libdl; Libdl.dlopen(Pardiso.MKL_jll.libmkl_rt)` output:
[code]

[2021-07-07 14:48] EveTC commented on #302
What do you mean by "create a seperate directory"?

[2021-07-07 14:50] EveTC commented on #302
This "/pub28/eve/.julia/artifacts/a8e009985328801a84c9af6610f94f77a7c12852/lib/libmkl_rt.so" slightly confuses me as my `julia` binaries are in a miniconda environment whichi is this: `/pub28/eve/bin/miniconda3/envs/Julia/julia-1.6.1/bin/julia`

[2021-07-07 15:21] ranjanan commented on #302
Don't think that should be a problem. This is to confirm that the MKL binary (that Pardiso calls) has indeed been downloaded onto your computer. Does this snippet of code still fail:
[code]
?

[2021-07-07 15:23] EveTC commented on #302
Yes same error as before :(

[2021-07-07 15:34] ranjanan commented on #302
I don't think that would be necessary. I am going to post an issue on Pardiso.jl and check if anyone can help with it.

[2021-07-07 15:42] EveTC commented on #302
Ok so I deleted `/pub28/eve/.julia`, strated a new conda environment and reinstalled `julia` using:

[code]

Then instead of first installing Circuitscape I ran the commands you provided me with for `Pardiso` as so:

[code]

I then ran your Parsdio test code and I no longer get an error but an output!
[code]

Ok - I will now try to install Circuitscape and test.....
[code]

It worked! Hallelujah!

[2021-07-07 15:47] ranjanan commented on #302
Interesting. I'll add this to the issue.

[2021-07-07 15:51] EveTC commented on #302
Yes not sure why the order seems important but Im just pleased to see it is working. Now to test with ResistanceGA 🤞.
Thank you again 😃

[2021-07-08 20:38] vlandau commented on #302
@ranjanan are you keeping this open until the Pardiso issue you created is closed?

[2021-07-08 20:39] vlandau commented on #300
@amatem any updates?

[2021-07-08 20:50] ranjanan commented on #302
Yep. Once a new version of Pardiso is tagged I'll bump the versions up and then close this. Then I'll make a minor CS release.

[2021-07-11 20:21] amatem commented on #300
@vlandau Thanks for checking in, project was put on hold and will rerun later this month or next with both solvers and also will try on a higher-RAM computer we just acquired

[2021-07-23 22:32] vlandau opened #305 "AssertErrors for several users -- norm(G * v - curr) < 1e-6 check failing"
I've had at least three Omniscape users confront errors related to the `@assert norm(G * v - curr) < <some tolerance>` check after Circuitscape gets a solution. There are currently two open issues in Omniscape.jl, [here](https://github.com/Circuitscape/Omniscape.jl/issues/99), and [here](https://github.com/Circuitscape/Omniscape.jl/issues/100). Something must be going on with the solvers that Circ

[2021-07-26 23:06] vlandau commented on #305
Omniscape is indeed correctly using the CHOLMOD solver. Solve times were much faster.

[2021-07-29 14:43] luroy opened #306 "MethodError: no method matching Circuitscape.RasterData(::Matrix{Float64}, ::Matrix{Int64}, ::Matrix{Float64}, ::Matrix{Float64}, ::Tuple{Vector{Int64}, Vector{Int64}, Vector{Int64}}, ::Matrix{Float64}, ::Nothing, ::Circuitscape.RasterMeta)"
Dear all,

I’ve just started using Circuitscape on Julia with to connect only some focal node pairs (for which the Euclidean distance is less than a given threshold theshold). So I apologize in advance if my following comment is due to my unfamiliarity with Circuitscape include/exclude' option.

From a given input, I ran Circuiscape in all-to-one mode with a file indicating focal node pairs to inc

[2021-08-04 08:23] ammonite opened #307 "What wrong by "output/mgNetworkVerify1.out""
Sorry. It is my first trying on Circuitscape:
julia> compute(".julia/packages/Circuitscape/Qr6wW/test/input/network/mgNetworkVerify1.ini")
ERROR: SystemError: opening file "output/mgNetworkVerify1.out": No such file or directory
......
[10] compute(path::String)
    @ Circuitscape ~/.julia/packages/Circuitscape/Qr6wW/src/run.jl:17

Julia 1.6.1
Thank you very much!

[2021-08-04 16:05] vlandau commented on #307
Hi @ammonite is this happening when you run `Pkg.test("Circuitscape")`?

[2021-08-05 03:01] ammonite commented on #307
Hi @vlandau thanks a lot.
---
Test Summary:          | Pass  Total
Double Precision Tests |  662    662
     Testing Circuitscape tests passed
---
and always get similar error like this by start() function ---- no some files or directories.

[2021-08-05 15:08] vlandau commented on #307
Can you please post the full output from the Julia terminal when you run `start()`? This will help us to debug.

[2021-08-05 15:48] ranjanan commented on #307
@ammonite ` compute(".julia/packages/Circuitscape/Qr6wW/test/input/network/mgNetworkVerify1.ini")` would work only if your current directory is the home directory. On windows that isn't the case if you've just opened up Julia.

[2021-08-05 21:29] ranjanan commented on #305
@vlandau I just need the files so I can reproduce this issue locally and debug. I have commented on both those threads.

[2021-08-05 21:30] ranjanan commented on #292
@ModiShrushti I get "AccessDenied" on your files. Could you enable access to them?

[2021-08-06 01:02] ranjanan commented on #302
Closed by #304

[2021-08-06 01:02] #302 closed

[2021-08-06 16:04] vlandau commented on #305
Sounds good -- a colleague of mine ran into the same issue as well, so I can also try to track down his inputs. He was out this week but back Monday.

[2021-08-07 01:48] ammonite commented on #307
Thank you very much.@vlandau, @ranjanan, it work, cd to correct directory.

[2021-08-08 21:03] ranjanan commented on #307
Thank you for confirming @ammonite, I'll close this then.

[2021-08-08 21:03] #307 closed

[2021-08-09 16:03] ranjanan commented on #306
@luroy the header of your include / exclude pairs file should have the words "mode" and "include"/"exclude" like https://github.com/Circuitscape/Circuitscape.jl/blob/master/test/input/raster/pairwise/17/pairs_to_include.txt. Having said that, a more sensible error message is in order.

[2021-08-09 16:14] ranjanan commented on #242
This is done.

[2021-08-09 16:14] #242 closed

[2021-08-09 16:23] #306 closed

[2021-08-09 16:37] luroy opened #311 "BoundsError: attempt to access 7025949-element Vector{Float64} at index [7039487]"
Dear all,

I tried using Circuitscape on Julia with to connect only some focal node pairs (for which the Euclidean distance is less than a given threshold theshold).

From a given input, I ran Circuiscape in all-to-one mode with a file indicating focal node pairs to include following the example file "listofpairstoinclude.txt" in the examples directory. I got the following error when running ini f

[2021-08-09 16:40] luroy commented on #306
Hello, and thank you very much for your answers. I'm really sorry. In trying to tell you about the error I get when the file is correctly formatted, I induced this error by formatting the file incorrectly...

[2021-08-09 18:12] ranjanan commented on #306
No worries at all @luroy, please don't apologize. Your issues add value to this project by improving it's functionality and polish. 😄 Thanks a lot for reaching out and being involved!

[2021-08-09 18:13] ranjanan commented on #306
I will check out #311 shortly.

[2021-08-09 20:01] ranjanan commented on #305
Closing this because both related Omniscape issues are now closed.

[2021-08-09 20:01] #305 closed

[2021-08-10 13:57] luroy opened #312 "Circuitscape 5.0.0 with INIBuilder: habitat_map_is_resistance = resistance incorrectly treats habitat map as conductance."
Dear all,

I built a Circuitscape by calling the start() function from the Julia (v1.6.1) prompt. The builder* built me an INI file, and I run the job directly.

However, when I took a closer look at cumulative current map, I noticed that the current density was high where the resistance was high, which is counterintuitive.

So I built the "same" INI file (or rather an “equivalent” INI file) manua

[2021-08-10 21:29] vlandau commented on #312
@luroy if you are providing a conductance surface, you need to have `habitat_map_is_resistance = false` for Circuitscape to do the inversion. Otherwise, the issue could be that you have `habitat_map_is_resistance = resistance` in your INI file for the Circuitscape 5.0 run, which could be causing problems. Try habitat_map_is_resistance = true` if you are not providing a conductance surface, and see

[2021-08-10 21:42] vlandau commented on #303
Hi @venkanna37, apologies for such a late response to this issue. I think this must be because you are providing the same file as both your point file and your habitat map. For network and raster data in pariwise mode, you need to supply a separate file that specifies the points (nodes) that you want to connect.

From [the docs](https://docs.circuitscape.org/Circuitscape.jl/latest/usage/#Illustrat

[2021-08-10 21:44] vlandau commented on #289
Hi @ilonamihalik, apologies for the delay in getting back to you here. Have you resolved the issue? If not I can take a look at your inputs to see if I can reproduce the issue.

[2021-08-10 21:46] vlandau commented on #285
@linhunt I think this must be because the width/height of your raster inputs are not the same. If you look at the raster information from a GIS, are you able to find the exact number of columns and rows in each?

[2021-08-10 21:49] vlandau commented on #284
This could be because of where/how you installed Julia. You may have success if you trying running Julia as an adminstrator. As for number of parallel processes to use, you should set it to no more than the number of physical processors in your CPU (note that for intel processors, this is often equal to the number of threads divided by two, since the use the _logical_ core count instead of physica

[2021-08-10 21:51] vlandau commented on #283
Hi @mvszuri sorry for the delay in getting to you here. Have you been able to resolve your issue? Is this problem still occurring in the latest version of Circuitscape? (version 5.8.3)

[2021-08-10 21:52] #245 closed

[2021-08-10 21:53] vlandau commented on #245
Things seem to be passing now.

[2021-08-10 21:53] vlandau commented on #192
Should we close given the new INIBuilder and deprecation of the GUI?

[2021-08-10 21:54] vlandau commented on #158
@ranjanan is this resolved in the latest Circuitscape version?

[2021-08-10 22:24] luroy commented on #312
@vlandau Thanks for responding so quickly. The file I am providing contains resistance surfaces.
Maybe the problem is, as you suggest, that the builder builds habitat_map_is_resistance = resistance for the crurent version (5.0) rather than habitat_map_is_resistance = true, as on previous version (4.0.5).

[2021-08-10 22:25] vlandau commented on #312
I believe it still requires `habitat_map_is_resistance = true`

[2021-08-11 03:12] ilonamihalik commented on #289
Thanks @vlandau. It hasn't been resolved yet. For now I've been running a smaller area using the Circuitscape GUI which has been working. Ideally I'd like to be able to run the larger area in Julia.

Let me know if there's any more info I can provide.

Ilona

[2021-08-11 03:22] #192 closed

[2021-08-11 17:49] linhunt commented on #285
Hi Vincent,

I am in and out of the office this week but will get you the exact numbers hopefully next week. do the inputs need to be perfect squares? This has never been an issue in the past. We are having an issue with the newest version of Omniscape where we keep getting errors in our runs with larger blocks and radii that says there are negative or zero values. This does not occur in our small

[2021-08-11 19:38] vlandau commented on #285
They do not need to be perfect squares. They just need to to have the same exact dimensions. Hopefully we'll be able to figure this out once you look into the exact dimensions.

[2021-08-11 20:02] vlandau commented on #311
Hi @luroy, I think part of the issue might be that you are trying to include pairs in all-to-one mode. If you want to look at pairwise connections, the appropriate Circuitscape mode would be "pairwise". In all to one or one to all, pairwise solves are done, but they all share a common node. There is a great explanation of this [in the docs](https://docs.circuitscape.org/Circuitscape.jl/latest/usag

[2021-08-11 20:04] linhunt commented on #285
So this is why I am a little confused, I only have one raster input. So there shouldn't have to be any matching of sizes.
________________________________
From: Vincent Landau ***@***.***>
Sent: Wednesday, August 11, 2021 2:38 PM
To: Circuitscape/Circuitscape.jl ***@***.***>
Cc: Hunt, Lindsay E ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Circuitscape/Circuitscape.jl] ncol warning (

[2021-08-11 20:05] vlandau commented on #286
The examples directory is mentioned several times through [this docs page](https://docs.circuitscape.org/Circuitscape.jl/latest/options/). Since the home page of the docs mentions that examples can be found in the test folder of Circuitscape, should we just delete references to the "examples folder" throughout the docs? That would be pretty easy to do.

[2021-08-11 20:06] vlandau commented on #285
If you are running Circuitscape, you will need two rasters -- one for resistance, and another for the locations of the nodes to connect.

[2021-08-11 20:08] vlandau commented on #148
@ranjanan can you speak to whether my guess above is accurate? If it is, maybe we should consider that as the solution and close this issue?

[2021-08-13 07:18] luroy commented on #311
Dear @vlandau,
Thanks for responding so quickly !
I use the all-to-one mode can be as an alternative to the pairwise mode to use less memory.
With this approach, I want Circuitscape to connect one focal node to ground and all other nearby focal nodes (for which the Euclidean distance to the ground-connected focal node is less than a given threshold) to 1 amp current sources.
Hoping that it is poss

[2021-08-13 15:42] vlandau commented on #311
Ah you're right -- I've just used all-to-one typically for only one mode so I was confused. @ranjanan do all-to-one and one-to-all support in the include pairs file input?

[2021-08-14 14:13] Gorky593 commented on #284
Thank you so much! I thought no one would answer my doubts. Cheers!!

[2021-08-19 19:56] vlandau commented on #312
@luroy did the above suggestion work for you?

[2021-08-19 20:01] vlandau commented on #168
Close due to implementation of compression when writing as tif?

[2021-08-19 20:24] #168 closed

[2021-08-19 21:29] luroy commented on #312
It's not possible to modify directly with the builder, it's automatic :-); but it works by doing it manually, as I did previously with version 4.0.5. I think that it would be great to modify the algorithm of the builder (otherwise it can cause serious mistakes!) .

[2021-08-19 22:24] vlandau commented on #312
Okay that's good to hear. I'll look into the source code of the builder code -- it will probably be an easy fix!

[2021-08-20 15:59] #312 closed

[2021-08-20 16:01] vlandau commented on #312
@luroy thanks for finding this bug! I've successfully fixed it, and the fix will incorporated into the next patch release for Circuitscape.

[2021-08-23 14:14] linhunt commented on #285
Hi Vincent,

Sorry for the delay in my response! We have been trying to run omniscape not Circuitscape where we have just one input file that is the resistance. We have successfully run this exact file with a smaller block size and search radius. We're just getting this "distance matrices must be symmetrical" error message. The number of columns, rows is 36681 (c), 24902(r). If it would be easier

[2021-08-23 16:12] vlandau commented on #285
So which error are you getting, `ncols is not the same` or `distance matrices must be symmetrical`? If it's the latter, we have a similar issue in Circuitscape/Omniscape.jl/issues/102, but yours might be easier to debug if it's a smaller problem. Would you mind posting the full stacktrace here in a code block?

[2021-08-23 16:13] linhunt commented on #285
Sure, what is a code block?
________________________________
From: Vincent Landau ***@***.***>
Sent: Monday, August 23, 2021 11:12 AM
To: Circuitscape/Circuitscape.jl ***@***.***>
Cc: Hunt, Lindsay E ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Circuitscape/Circuitscape.jl] ncol warning (#285)

 This email has been received from outside of DOI - Use caution before clicking on links,

[2021-08-23 16:21] vlandau commented on #285
There's a good example [here](https://guides.github.com/features/mastering-markdown/#examples). Just click "code" to access it.

[2021-08-30 16:04] linhunt commented on #285
I am not sure I am doing this correctly, but this is the distance matrices must be symmetrical error stack trace.
,
Adjacency / distance matrices must be symmetric
Stacktrace:
 [1] error(::String) at .\error.jl:33
 [2] SimpleWeightedGraph at C:\Users\rgrundel\.julia\packages\SimpleWeightedGraphs\IDzOp\src\simpleweightedgraph.jl:16 [inlined]
 [3] SimpleWeightedGraph at C:\Users\rgrundel\.julia\pack

[2021-08-30 16:08] vlandau commented on #285
@linhunt thanks! @ranjanan looks like an issue with graph creation in Circuitscape?

[2021-08-30 16:11] vlandau commented on #285
@linhunt can you share your inputs via google drive or dropbox so we can reproduce and debug?

[2021-08-30 16:28] linhunt commented on #285
I sure can, the same inputs has produced multiple different errors this is one of the errors we have received, also that there are zero's/negative numbers but I have double checked and there aren't. The other possibly important thing is the inputs successfully ran Omniscape with a smaller block/radius, we are just receiving these errors at a large block/radius size, which doesn't on the surface se

[2021-08-30 16:30] vlandau commented on #285
Okay great thanks!

[2021-09-05 03:25] gjy-del commented on #177
Hi, do you solve this problem? I also meet this question and I don't know how to solve it.

[2021-09-07 21:06] Mavisan6 opened #314 "GDALError (CE_Failure, code 1): write failed, disk full?"
Hi! I was running an experiment when it stopped because of the following error:

ERROR: On worker 2:
GDALError (CE_Failure, code 1):
        C:\Users\M533\Desktop\circuitscape\current map\currentmap1000m_curmap_2765_9041.asc: Write failed, disk full?

gdaljl_errorhandler at C:\Users\M533\.julia\packages\GDAL\Yh4fH\src\error.jl:36
gdalcreatecopy at C:\Users\M533\.julia\packages\GDAL\Yh4fH\src\gdal_

[2021-09-07 21:22] vlandau commented on #314
Unfortunately there is not a built-in way to resume a CIrcuitscape run that failed. One thing you could try is to set your output file type as .tif, as those take up less disk space, but this option is not available in the INI builder method -- you'd have to create the INI file manually and add `write_as_tif = true`, then run Circuitscape using `compute(<path to your INI file>)`.

Another option w

[2021-09-08 08:13] Mavisan6 commented on #314
Thank you! I'm trying to re-run it with a INI file already written, although I am having problems finding the file. This is the error I keep getting:
julia> compute("input/raster/pairwise/18/sgVerify18.ini")
ERROR: SystemError: opening file "input/raster/pairwise/18/sgVerify18.ini": No such file or directory
Stacktrace:
 [1] systemerror(::String, ::Int32; extrainfo::Nothing) at .\error.jl:168
 [2]

[2021-09-08 09:37] Mavisan6 commented on #314
Thank you so much, I'll try with your advice and let you know if it works :)

[2021-09-16 12:46] venkanna37 commented on #303
Hello @vlandau , thank you for the reply and apologies the for late response. After modifying the point file, the branch and node current files are improved, the resistance column are not being considered as nodes (before modification, resistances were considered as nodes in output). Still, Circuitescape5 is not writing cumulative node and branch currents files. I am attaching my .ini, point and r

[2021-09-16 16:06] vlandau commented on #303
Unfortunately for network mode I think the cumulative branch currents are currently not able to be written, see #119. cc @ranjanan

[2021-09-20 11:11] venkanna37 commented on #303
Thank you for confirmation @vlandau. It will be very useful if Circuitescape-5 can write cumulative branch and node current files.

[2021-09-20 18:34] ilonamihalik commented on #289
Hi @vlandau and @ranjanan - I just wanted to update that I was able to resolve this issue. I was missing a line in my .ini file and it now runs with no problem. thank you for looking into this!

[2021-09-20 18:34] #289 closed

[2021-09-28 16:59] ramonwilk opened #315 "resistance_3columns file"
Hi, I'm trying to run  a one-to-all resistance analyse  in Circuitscape.jl (julia> Pkg.add(PackageSpec(name="Circuitscape", rev="master"))), but the output file doesn't return the "resistance_3columns file".

When I did run a pairwise analysis the program returns all files normally.

Can you help me, please?

[2021-09-28 19:30] vlandau commented on #315
@ramonwilk because of the way one-to-all works, you don't get pairwise resistances for each pair of nodes -- in one-to-all, for a given iteration, one node is set as a source and all other nodes are set to ground, so an effective resistance is not calculated for each node pair. Hope that helps. More information on the different modes is available [here](https://docs.circuitscape.org/Circuitscape.j

[2021-09-28 19:30] #315 closed

[2021-10-11 20:10] Mavisan6 opened #316 "ERROR: SuiteSparse.CHOLMOD.CHOLMODException("")"
I have been trying to run Circuitscape but the following error came up:

ERROR: SuiteSparse.CHOLMOD.CHOLMODException("")
Stacktrace:
 [1] factorize_p!(::SuiteSparse.CHOLMOD.Sparse{Float64}, ::Float64, ::SuiteSparse.CHOLMOD.Factor{Float64}, ::Array{UInt8,1}) at C:\buildbot\worker\package_win64\build\usr\share\julia\stdlib\v1.5\SuiteSparse\src\cholmod.jl:742
 [2] #cholesky!#6 at C:\buildbot\worker\p

[2021-10-12 16:04] vlandau commented on #316
Hi @Mavisan6, the INI version doesn't actually specify the version of CIrcuitscape. It is a carry-over from Circuitscape in Python. Could you run `using Pkg; Pkg.status("Circuitscape")` and post the output here?

[2021-10-12 16:05] vlandau commented on #316
While you're at it, it would also be valuable if you could provide your input files, along with the INI file, so we can take a look and attempt to reproduce the problem on our side to debug.

[2021-10-12 17:02] vlandau commented on #316
@ranjanan before I get into reproducing, is there any reason to suspect that updated to 5.8 might fix this issue? @Mavisan6 you can update Circuitscape to the latest version by running `using Pkg; Pkg.update("Circuitscape")`

[2021-10-12 17:10] Mavisan6 commented on #316
I will do that and let you know then, thanks very much!!

[2021-10-12 17:41] vlandau commented on #316
Ah, looks like there was an issue building the registry, which can sometimes happen on Windows systems. Can you delete this folder: C://Users/M533/.julia/registries/General and try again?

[2021-10-13 23:47] vlandau commented on #311
I was able to reproduce this error. I'm still now sure what is causing it but I'll continue to dig in.

[2021-10-14 19:08] vlandau commented on #311
I think there may not be support for "polygon" nodes in all-to-one mode. @ranjanan please confirm.

[2021-10-17 22:33] ranjanan commented on #303
Closed by https://github.com/Circuitscape/Circuitscape.jl/pull/318

[2021-10-17 22:33] #303 closed

[2021-10-17 22:33] ranjanan commented on #119
Closed by https://github.com/Circuitscape/Circuitscape.jl/pull/318

[2021-10-17 22:33] #119 closed

[2021-10-18 17:05] vlandau commented on #281
No there shouldn't be. Maybe we just do a simple error throw if the nodes aren't ordered correctly?

[2021-10-18 20:52] Mavisan6 commented on #316
I did and ran the experiment but the result was a grid raster file where all cells had the value of zero. However, this might be due to the input files provided

[2021-10-18 20:54] ranjanan commented on #316
Thank you. Let me know if that is not expected. If the original issue is resolved, let's close this issue and open a new one corresponding to the new issue.

[2021-10-19 01:40] ranjanan commented on #281
Yep, I agree. Let's throw the error. Same with the complaint about nodes being marked from 1 instead of 0.

[2021-10-20 01:47] ranjanan commented on #282
@mvszuri and @venkanna37 choosing to start counting nodes from 0 or 1 is just a choice of convention. Circuitscape.jl chooses to count from 1. You can definitely feed it inputs that start counting nodes from 0. We handle that, but with #324, we will specifically log that we start counting from 1 and you should expect to see that in the outputs.

[2021-10-20 01:48] ranjanan commented on #282
@venkanna37 please check if this issue persists when with the latest Circuitscape, which will be tagged after #324 is merged.

[2021-10-20 01:54] #281 closed

[2021-10-20 01:58] ranjanan commented on #303
@venkanna37 and @johngallo this should now work with version 5.9.1

[2021-10-20 05:31] venkanna37 commented on #303
Thank you so much @ranjanan  I will try it

[2021-10-21 18:28] Mavisan6 opened #325 "ERROR: MethodError: no method matching connected_components(::SimpleWeightedGraphs.SimpleWeightedGraph{Int64,Float64})"
hi there!
I have been having problems getting results from Circuitscape. This is a new error that came up using just a small portion of the original raster files. Can someone explain it to me?

julia> compute("sgVerifytest1.ini")
[ Info: 2021-10-21 19:11:25 : Precision used: Double
[ Info: 2021-10-21 19:11:25 : Reading maps
[ Info: 2021-10-21 19:11:26 : Resistance/Conductance map has 43281 nodes
[

[2021-10-21 18:51] Mavisan6 commented on #325
version 5.8.1

[2021-10-21 23:14] vlandau commented on #325
Ack! Sorry it's `Pkg.rm` Edited the comment above to fix it.

[2021-10-29 15:18] Mavisan6 opened #327 "Empty output file"
I have been trying to run a few experiments on circuitscape but the resulting current maps are made of a grid where every cell is zero. Once the experiment it's finished however the console is showing me a grid with numbers. I was wondering whether those numbers were the ones that the output file was supposed to contain.

Here is a folder with the ini file, the focal nodes and resistance map as we

[2021-10-31 16:01] merijnvdb opened #328 "Current file not written? Circuitscape runs, but has no output"
A few times now, using Arcmap 10.7 and the CS toolbox, I've tried to run circuitscape using 434 focal nodes which are points along the perimeter of the study area, that are rasterized.

I try to uncheck writing current maps, and instead go for 'write cumulative current map only'.
Everything seems to run smoothly, in about one and a half hour all focal pairs are connected.
The only thing I find a l

[2021-11-01 01:37] vlandau commented on #328
@merijnvdb Thanks for posting this issue. This appears to be a duplicate of #327. I'm going to close this issue so that we can track progress and debugging on #327. Please feel free to chime into the conversation there as we work to get this sorted!

cc @ranjanan

[2021-11-01 01:37] #328 closed

[2021-11-01 13:58] merijnvdb commented on #327
Hi @vlandau , while my issue is similar I do not think it is a duplicate;
it seems like @Mavisan6 does get output files, but they are not what they should be.

My problem is that no cumulative current map is written at all, despite the tool seeming to run without trouble.

Some details on my input below, I will also attach the node raster file and resistance raster.
[Uploading circuit.zip…]()

Mod

[2021-11-01 15:47] ranjanan commented on #327
Thanks for posting this. I'll take a look.

[2021-11-01 15:48] ranjanan commented on #282
Closing this for now. Please reopen if there's an issue.

[2021-11-01 15:48] #282 closed

[2021-11-01 15:48] ranjanan commented on #292
Closing this for now. Please reopen if there's an issue

[2021-11-01 15:48] #292 closed

[2021-11-01 16:30] aeduckworth opened #329 "Install Error due to GDAL: libgdal-28.dll module could not be found"
I am getting errors with install of Circuitscape v5.9.1. Previous versions had installed and run successfully.
I removed Julia and all packages, reinstalled Julia and tried installing Circuitscape again. The error persists.
Circuitscape v5.9.1 and Julia v1.6.3

The .dll that the error is looking for appears to be there. (See attachment below).

Text showing install error:

[code]

![211101_Circuit

[2021-11-01 16:46] vlandau commented on #329
Looks like this is a current known issue with GDAL.jl and the GDAL binary installer: https://github.com/JuliaGeo/GDAL.jl/issues/126

Hopefully they will have it fixed soon.

[2021-11-02 18:34] ranjanan commented on #329
Looks like https://github.com/JuliaRegistries/General/pull/47879 is merged. This should be fixed with a new version

[2021-11-02 23:25] ranjanan commented on #327
This should have been picked out by our tests. #330 should fix this, and add a test

[2021-11-02 23:25] ranjanan commented on #329
I am not getting this anymore. @aeduckworth could you just do a `Pkg.update()` and see if things work?

[2021-11-03 00:57] ranjanan commented on #327
Fixed by #330

[2021-11-03 00:57] #327 closed

[2021-11-03 00:59] ranjanan commented on #327
@merijnvdb and @Mavisan6 I've fixed this and tagged a new version. Feel free to reopen if it doesn't work.

[2021-11-03 01:02] merijnvdb commented on #327
Thank you @ranjanan , I'm quite new to Github so I'm not sure where to find the proposed solution? Is it a debugged version of the toolbox, or an output file or something? I can see a lot of coding in #330, but am not sure how to apply this in my arcmap toolbox?

[2021-11-03 02:06] aeduckworth commented on #329
Thanks so much. Should have availability on the relevant computer in the next day or so and I will confirm.

[2021-11-03 18:07] merijnvdb opened #332 "CS tries to solve thousands of pairs"
My Pkg.status returns Circuitscape v5.10.0
I do seem to have an issue in Julia that I also had in Arcmap, but in Arcmap I could fix it by unchecking 'write current maps'.
I tried setting 'write current maps' to true or false in the .ini but still I get this problem; despite only having 434 nodes, the application starting to solve 20.000 pairs (at 5 seconds per pair, this would take 30 hours):

See

[2021-11-03 18:26] vlandau commented on #332
Just copying my response about the thousands of pairs being solved from the PR:

Is your problem that it is writing the current maps when you don't want it to? In order to get at cumulative current flow, you need to solve each individual pair whether you write them or not.

[2021-11-03 18:41] ranjanan commented on #332
The cumulative map is calculated by calculating the individual ones and adding them up. There is no shortcut there as far as I am aware. Why do you think it should solve only 204 pairs?

[2021-11-03 18:44] vlandau commented on #332
Circuitscape will always solve every pairwise combination (the intended behavior for pairwise mode). `write_cur_maps` only determines whether each pairwise map should be saved. The cumulative current map is the sum of every pairwise map, so they need to be solved individually. The fact that ArcMap was only trying to solve 204 pairs suggest to me that something was going wrong (unless you were usin

[2021-11-03 19:32] merijnvdb commented on #332
That makes sense, reading the user guide I suspected something else, because I work with focal points rather than nodes;

under Calculation modes:
If there are n focal nodes, there will be n(n - 1)/2 calculations unless
you’re using focal points (only one cell per focal node) and not mapping currents
or voltages. In the latter case, we can do it in n calculations (much faster).

[2021-11-03 19:34] vlandau commented on #332
In your case you have to map the currents in order to get the cumulative map, unfortunately. The later only applies is you just want pairwise resistances and no current map (pairwise or cumulative).

[2021-11-03 19:44] merijnvdb commented on #332
Okay, last question;

I'm trying to build an .ini file with 5 parrallel cores, and using the 'cholmod' process (because this might speed it up?),
but the resulting .ini files mentions nothing of cores used and the calculations options only mention "solver = cg+amg".
Should I just override this and add the parrallellize functions you mentioned , and maybe change to "solver = cholmod"?

Thanks for a

[2021-11-03 20:19] vlandau commented on #332
I think your maps might be too big to support cholmod, but for parallizing, your INI would look something like this (see the last two lines):

[code]

Just fix the file paths.

cholmod might not have been working if you didn't delete `solver = cg+amg` from the original ini file (see above). I don't think cholmod will work though. I tried it on my machine (which has 32GB of RAM), and it ran our of

[2021-11-03 20:32] merijnvdb commented on #332
You're right Vincent, cholmod did not work unfortunately,

I'm running it normal now, trying with 3/6 cores in my i7 laptop.
Strangely enough the 'time taken to solve linear systems' seems to take
longer when using parallel mode than when using not...

Op wo 3 nov. 2021 om 16:20 schreef Vincent Landau ***@***.***

[2021-11-03 20:40] vlandau commented on #332
Glad it is working! Some overhead is to be expected when using parallel processing. As long as it's not 3x longer, you're still saving time, fortunately. Since things are working, I'm going to close this issue, but please reach out again if you run into any more problems!

[2021-11-03 20:40] #332 closed

[2021-11-03 20:58] merijnvdb commented on #332
Thank you for all your help! I don't want to clutter the page and open
another issue, but about the processing;
I now have results like this;
 Solving pair 218 of 20506
[ Info: 2021-11-03 16:55:10 : Time taken to solve linear system =
11.7691907 seconds
[ Info: 2021-11-03 16:55:45 : Time taken to calculate current maps =
34.6949719 seconds
 Solving pair 219 of 20506
etc.

Then without parallel pro

[2021-11-03 21:04] vlandau commented on #332
That is strange. When running the same problem I noticed no slow downs. It could be that you are allocating more cores than your computer has. Also, if you are running any other programs on your computer, that might be slowing things down as well. Try running it with 2 cores to see if that helps. If you're running on an intel 4 core machine with hyperthreading, then you may have better luck sticki

[2021-11-04 03:51] aeduckworth commented on #329
Issue is resolved with Pkg.update(). Thanks again!

[2021-11-12 11:37] wwucl2019 opened #333 "ERROR: ArgumentError: column indices J[k] must satisfy 1 <= J[k] <= n"
Hi,

I am new to Circuitscape. I am jus trying to run the calculations in the network mode. I am sure I have followed the spirit of the input files given in the instructions, but kept getting the following error. I attached my input files here. Thanks.
[mgNetworkVerify1_grounds_resistances.txt](https://github.com/Circuitscape/Circuitscape.jl/files/7527277/mgNetworkVerify1_grounds_resistances.txt)

[2021-11-15 22:13] jaymschoen opened #334 "ArgumentError: dense matrix construction failed for unknown reasons"
I am new to running CS in Julia (having used the GUI/Arc previously). I believe I have followed all steps but when trying to test it on a few layers I have successfully used in the past, I get this error:

ERROR: ArgumentError: dense matrix construction failed for unknown reasons. Please submit a bug report.

Thanks in advance for your help! Here is the full terminal output:

[code]

[2021-11-15 22:15] ranjanan commented on #334
Could you attach your files so this can be reproduced? The INI should be saved in this UI.

[2021-11-15 22:16] vlandau commented on #334
HI Jay, sorry about the troubles! Can you share which versions of Julia and Circuitscape you're using? To get the version of Julia, run `VERSION` in the Julia REPL. To get the version of Circuitscape, run `using Pkg; Pkg.status("Circuitscape")`

[2021-11-15 22:16] #329 closed

[2021-11-15 22:20] jaymschoen commented on #334
Thanks for getting right back! Julia v1.6.3 and Circuitscape v5.10.0 (I believe these are the latest). As far as the files, the habitat file for this run belongs to a collaborator unfortunately, so I would have to check before sharing. Any way to work around it in the meantime? I could try using different files that are mine (and share if the same issue persists)...

[2021-11-15 22:26] jaymschoen commented on #334
Also, I'm not seeing the INI file in the output folder that I specified (there's only a ".out" file). Should I be looking somewhere else?

[2021-11-19 11:12] wwucl2019 commented on #333
@andreasnoack @ViralBShah @tanmaykm @yeesian , any expert can help with this issue?

[2021-12-01 22:37] jamiefaselt opened #336 "ERROR: LoadError: Some tests did not pass: 383 passed, 0 failed, 2 errored, 0 broken."
I just updated Julia to 1.6.4 and updated circuitscape but am getting errors when I run the test. Is this a bug with the version? Spoke to someone who ran on version 1.7 and got the same errors when running the test. Thanks! I didn't have anything else running on my computer at the time. This is not the full output but just the errors for clarity.

[code]

**Circuitscape and Julia version**
Circui

[2021-12-01 22:53] mattwilliamson13 commented on #336
I am able to replicate this on my my Mac with Julia version 1.7 (Monterey OS)

Based on the stacktrace it appears it might be something to do with pardiso, not sure if that needs to be updated separately.

[code]

[2021-12-02 21:47] mattwilliamson13 commented on #336
just to clarify, I have no idea how to figure out the Pardiso issues; maybe @vlandau or @ranjanan have an idea about how to fix this.

[2021-12-02 22:43] ranjanan commented on #336
Let's see if this can be reproduced here: https://github.com/Circuitscape/Circuitscape.jl/pull/337

[2021-12-02 23:46] mattwilliamson13 commented on #336
Looks like it only fails for MacOS on Julia 1.7. (the other tests passed). Is Circuitscape using MKL Pardiso or Pardiso 6.0? I'm trying to figure out if there are known issues for either with Mac OS

[2021-12-02 23:52] ranjanan commented on #336
I'm checking on Pardiso.jl here https://github.com/JuliaSparse/Pardiso.jl/pull/84

[2021-12-06 23:50] mattwilliamson13 commented on #336
Do I need to do something here? Or are we waiting on the Pardiso.jl folks to approve the CI trigger? (I've not actually run into this particular issue on GitHub before, apologies for the noob question)

[2021-12-06 23:53] vlandau commented on #336
I think there is nothing needed at the moment on your end Matt. @ranjanan it might be better to just open a new issue in Pardiso.jl and ask them to trigger CI rather than relying on a PR trigger?

[2021-12-07 18:28] ranjanan opened #338 "Ground files need to take in txt files (advanced mode)"
Error:
[code]
[txt.zip](https://github.com/Circuitscape/Circuitscape.jl/files/7670746/txt.zip)

[2021-12-08 01:09] #338 closed

[2021-12-10 11:12] joncjones opened #340 "ERROR: LoadError: On worker 2:"
Hi guys - I am getting the attached errors (see error.txt and output.txt below) when running the dev version of Circuitscape with Julia 1.6.2.

Any thoughts on how to address this ? Thanks !

For info I switched to using the dev version because when I tried using the stable version I was getting the same error I see listed in Issues [ERROR: MethodError: no method matching Connected_components(::Si

[2021-12-15 18:56] riccile opened #341 "Included pairs file ignored"
Hi,
I am trying to run just a subset of pairs using an included pairs file but CS seems to be ignoring it.

In the attached files, I include only 3 pairs of the 11 nodes in the point file but when I run the code it says the total number of pair solves = 55 and starts computing all of them.

Any idea why I'm running into this issue? Thanks for your help!

Link:
https://drive.google.com/drive/folder

[2021-12-22 14:32] francescmolne commented on #333
Hi @wwucl2019 , I'm having the same problem. Have you already found a solution? I'm trying, I'll keep you updated if I find a way...👍

[2022-01-07 20:58] OscarGOGO opened #342 "set_focal_node_currents_to_zero option seems that it is not recognized in CS 5.0.0"
Hi,
I am trying to run Circuitscape using the option: **set_focal_node_currents_to_zero = true**, however it seems that it is not recognized in Julia's version of CS 5.0.0. I have tried with the .ini obtained from the circuitscape 4.0.5 executable (TEST1_CS_405.ini) and the one obtained with the start() function of circuitscape 5 (adding the arguments that I am interested in and that are presented

[2022-01-10 00:15] mattwilliamson13 commented on #336
Do you all have any sense for how consequential these Errors are; I can't tell what their implications are, but it seems like a different problem than Failing the tests?

[2022-01-10 06:01] ranjanan commented on #336
So I was able to reproduce this, full bug report here: https://github.com/JuliaSparse/Pardiso.jl/issues/86. Unfortunately, I don't quite have access to an Intel mac to debug fully. But this is coming from Pardiso. Perhaps, for now, if you're on an Intel Mac using Julia v1.7, don't use the pardiso solver.

[2022-01-10 06:02] ranjanan commented on #336
@mattwilliamson13 could you see if it's possible to reproduce this error on an Intel Mac on Julia v1.6?

[2022-01-11 18:15] mattwilliamson13 commented on #336
@ranjanan All tests pass on Intel Mac on Julia 1.6.5, but you do get two warnings:
[code]
And
[code]

But all tests pass otherwise

[2022-01-12 03:17] ranjanan commented on #336
Thanks @mattwilliamson13 . those two warnings are expected. Let me report this on https://github.com/JuliaSparse/Pardiso.jl/issues/86

[2022-01-17 11:23] PhilipFaure commented on #277
Hi! Has this been developed yet, can't seem to find much explanation on .ini files, etc. Thanks!

[2022-01-17 11:46] PhilipFaure opened #345 "AssertionError: norm(G * v .- curr, Inf) / norm(v, Inf) < 1.0e-5"
Hi,

I am having trouble running Circuitscape. I have gone through the previous issues (open and closed) to see if any of the issues in there are similar or if their solutions could solve my problem, with no luck...

I trying to run a pairwise connectivity model between 67 observation points so that I can get one cumulative map with all possible connectivity. I am using the output of a species dis

[2022-02-16 21:01] ranjanan commented on #345
@PhilipFaure could you please attach your files so I can take a look?

[2022-02-20 19:17] Mavisan6 commented on #345
I have the same exact problem, these are my files
https://drive.google.com/drive/folders/1a43zsbGXYkgDHdK8kdqYxehqwC-_2_sb?usp=sharing

[2022-02-21 20:16] ranjanan commented on #345
Thanks @Mavisan6 I'll take a look

[2022-02-21 20:27] ranjanan commented on #345
@Mavisan6 could you upload the habitat file? "ls_enfa.asc"

[2022-02-21 22:28] Mavisan6 commented on #345
Hi! yes sorry actually I renamed it to conductance just to make it clearer for you, i forgot to rename it in the ini file

[2022-02-23 17:04] BSiggery commented on #345
Here is a link to my files https://drive.google.com/drive/folders/1x2KhASpIZLXiRO2FY89ye2rTd3jlrlf6?usp=sharing

[2022-02-27 22:25] amatem commented on #300
After a long hiatus, I am back to running Circuitscape tests.

I've had success running some of the previous files several months ago using cholmod and this issue was closed out. However the issue returned this week when I switched to a higher RAM research computer, ran parallelization, and used the cholmod solver for pairwise mode on 6,786 pair solves and 117 nodes.
This run occurred on the same

[2022-02-28 02:41] ViralBShah commented on #300
When this happens, can you keep a watch on the memory utilization of your computer? If it is almost full, it means you are trying to solve a much larger problem than you have memory for.

The other thing is you can run this without parallelism, which will use lesser memory and see how far it goes.

[2022-02-28 20:41] amatem commented on #300
Thank you! You are absolutely right, I checked it three times and looks like memory hits >90% right when this error message occurs. I switched to the cg+amg and it seems to be running well so far. Silly question, but are there any significant differences in the output cumulative current maps using different solvers (cholmod vs cg+amg?) that could occur or other major differences between choosing o

[2022-02-28 20:49] amatem commented on #300
Here's the full print out

[ Info: 2022-02-28 12:34:56 : Scheduling pair 116 of 6786 to be solved
[ Info: 2022-02-28 12:34:56 : Solving pair 1 of 6786
[ Info: 2022-02-28 12:40:08 : Time taken to solve linear system = 311.8859266 seconds
ERROR: BoundsError: attempt to access 11-element Vector{SharedArrays.SharedMatrix{Float64}} at index [0]
Stacktrace:
  [1] getindex
    @ .\array.jl:805 [inlined]

[2022-02-28 20:54] vlandau commented on #300
The solver is basically the algorithm that is used to solve a complex linear algebra problem. Often, it's too large to be solved directly, which is where an iterative approach like cg+amg is used (as opposed to cholmod, which solves the problem directly but requires a lot of memory to do so). Both cg+amg and cholmod are just different methods to solve the same problem, so any difference should be

[2022-02-28 20:57] amatem commented on #300
I spoke too soon, looks like I hit a new error after switching to a different solver (see edited post). Thanks so much for all your help explaining the solvers.

[2022-02-28 21:18] vlandau commented on #300
@amatem Can you post the full stack trace? (all of the output when the program errored)

[2022-02-28 21:39] amatem commented on #300
Is this what you need?

julia>  compute("I:\\Research\\Shares\\ocamp\\MCT\\individualnuthatch15m\\indivnuthatch117nodes15mt1.ini")
[ Info: 2022-02-28 12:50:32 : Precision used: Double
[ Info: 2022-02-28 12:50:32 : Reading maps
[ Info: 2022-02-28 12:52:51 : Resistance/Conductance map has 32909363 nodes
[ Info: 2022-02-28 12:54:35 : Solver used: AMG accelerated by CG
[ Info: 2022-02-28 12:54:35 : Gr

[2022-02-28 21:41] vlandau commented on #300
Yep, exactly. @ranjanan any idea what's going on?

[2022-03-01 16:32] ViralBShah commented on #336
We are disabling Pardiso tests for now (#346), and recommend that you don't use Pardiso as a solver.

[2022-03-01 16:32] #336 closed

[2022-03-01 16:34] ViralBShah commented on #334
The ini file should be part of the input. Also disable parallelism if it is enabled.

[2022-03-02 16:34] Mavisan6 commented on #345
@ranjanan did you manage to have a look?

[2022-03-03 23:44] mtf5319 opened #347 "Core Mapper not reading .xlsx file"
**Describe the bug, with logs**
I am trying to work through the Demo of core Mapper on ArcMap 10.8.1 Advanced. The first step is to open Core Mapper in the toolbox and load in the CoreMapperDemoParameters.xlsx spreadsheet. When I run the tool I get this error. Does it look like openpyxl isn't able to read the .xlsx file? Has anyone been able to get this tool to work in ArcMap and how?
![image](htt

[2022-03-04 23:14] ranjanan commented on #345
Thanks, #348 should fix this. When I merge that after tests, please check and confirm. @Mavisan6 @BSiggery

[2022-03-05 02:37] ranjanan commented on #345
Check now on master

[2022-03-06 02:13] mtf5319 commented on #347
Figured it out. Had to edit the properties of the tool in order for it to read .csv.

[2022-03-06 02:13] #347 closed

[2022-03-07 16:30] linhunt opened #351 "ERROR: SuiteSparse.CHOLMOD.CHOLMODException("")"
I have attempted to run Circuitscape using Julia 1.5.3 and reloaded/installed the newest version of Circuitscape. I am trying to pairwise connect 440 focal nodes all within the bounds of the habitat extent. There are 117,858,953 pixels in my resistance layer. I used the command prompt and not an .ini file to run Circuitscape and used the CHOLMOD solver. I did receive an error message that said nco

[2022-03-07 17:59] linhunt commented on #351
[CHOLMODerror.docx](https://github.com/Circuitscape/Circuitscape.jl/files/8199276/CHOLMODerror.docx)

[2022-03-07 17:59] #351 closed

[2022-03-10 16:11] ranjanan commented on #345
Closing this for now. Please reopen if there's an issue, or file a new one.

[2022-03-10 16:11] #345 closed

[2022-03-14 13:46] thomarse-ef opened #352 "ERROR: LoadError: InitError: could not load library "libproj.so" libcurl.so: version `CURL_4' not found"
Trying to run Circuitscape after update:
[code]

Getting an error:
[code]
No idea how to fix this... might be something to do with `PROJ_jll`, which was built with BinaryBuilder: https://github.com/JuliaBinaryWrappers/PROJ_jll.jl (?)

[2022-03-15 12:33] csadorf commented on #333
@francescmolne Have you been able to resolve the problem?

[2022-03-15 16:12] wwucl2019 commented on #333
@francescmolne , no I haven't. CS@julia not working for me, but GUI on Mac and Windows works fine. So strange.

[2022-03-16 01:22] wpeterman opened #353 "Short circuit regions not recognized"
I've been trying to implement a pairwise analysis with short circuit regions/polygons with Circuitscape v5.11.1. Circuitscape runs, but does not use the short circuit regions. When the same .ini file is run with v4.0.5, it correctly runs.

Data and .ini file to reproduce are attached.
[region_error.zip](https://github.com/Circuitscape/Circuitscape.jl/files/8255276/region_error.zip)

[2022-03-21 15:40] amatem commented on #345
Hello, I recently received this assertion error on 3/19/22. Just wanted to note this (I did not copy the full code but here is the error I received from using pairwise mode cg+amg)

ERROR: On worker 2:
AssertionError: norm(G * v .- curr, Inf) / norm(v, Inf) < 1.0e-5
Stacktrace:
 [1] solve_linear_system
   @ C:\Users\amtemple\.julia\packages\Circuitscape\QbA2E\src\core.jl:616
 [2] macro expansion

[2022-03-21 15:43] ranjanan commented on #345
@amatem could you mention which Circuitscape version you are on? The latest is 5.11.2

[2022-03-21 16:25] amatem commented on #345
Hello thank you this clued me into the potential version updates issue! I will need to communicate with IT at my research university to help update since this is running on a research server. I'll do that now and will follow up if the issue is resolved.

Circuitscape vv5.10.2
Julia v1.6.4 (2021-11-19)

julia> Pkg.add("Circuitscape")
    Updating registry at `C:\Users\amtemple\.julia\registries\Gen

[2022-03-21 16:30] ranjanan commented on #345
Ah interesting. Good luck updating this! If they could whitelist the Julia Registry you could just keep fetching the latest version everytime.

[2022-03-21 17:55] amatem commented on #345
Still pending the completed run, but looks like the package dependency error was resolved for the time being

Our IT found that the profile disk was at its max quota. They resized it to 20 gigs. I'll run again and post if the AssertionError crops up again.

[2022-03-22 09:24] #334 closed

[2022-03-22 17:01] amatem commented on #345
Unfortunately I'm still received the Assertion Error after ensuring all packages were up to date. I've pasted an edited result below:

`julia> using Pkg

julia> Pkg.update("Circuitscape")
  Installing known registries into `C:\Users\amtemple\.julia`
     Cloning registry from "https://github.com/JuliaRegistries/General.git"
       Added registry `General` to `C:\Users\amtemple\.julia\registries\Ge

[2022-03-28 15:42] GH-MostowyJ opened #354 "Advanced mode ground file selection options"
Hello! I think I found a bug that causes the INIBuilder to skip the prompt for the file selection options (["PREVIOUS STEP", "Enter path manually", "Use filepicker"]) when selecting a ground file. On Line 71 in INIBuilder/run.jl, the list of file selection options is assigned to "n" instead of the radio menu request term:

71    `n = ["PREVIOUS STEP", "Enter path manually", "Use filepicker"]`
72

[2022-03-29 18:46] vlandau commented on #354
@ranjanan does this make sense to you? If so, @GH-MostowyJ maybe you could put in a PR with this change?

[2022-03-30 19:29] LycanSquatch opened #356 "Error issue question"
### Discussed in https://github.com/Circuitscape/Circuitscape.jl/discussions/355

<div type='discussions-op-text'>

<sup>Originally posted by **LycanSquatch** March 29, 2022</sup>
So I have a question about an error. I'm not sure what's causing this problem the layers or files I'm using work on the stand alone program Circuitscape 4.0. But it takes about a month for each run which is why I was try

[2022-03-30 19:34] vlandau commented on #356
Hi @LycanSquatch, thanks for your questions. This looks similar to another issue in Omniscape.jl (https://github.com/Circuitscape/Omniscape.jl/issues/85) that didn't have a clear solution (it seemed to be an issue with the version of Julia they were using).

Can you confirm which version of Circuitscape you are using, as well as your Julia version? The get the version of Circuitscape, run `using P

[2022-03-30 20:43] LycanSquatch commented on #356
Hi @vlandau, thanks for the quick response I'm using Julia Version 1.7.0 (2021-11-30), and Circuitscape v5.10.2.

[2022-03-30 20:54] vlandau commented on #356
Okay thanks! As a first step, can you see if upgrading to Circuitscape 5.11.1 resolves the issue? It may not, but from a debugging perspective it will be good to work from the latest version anyway.

[2022-03-31 15:56] koalp commented on #352
I have the same issue on archlinux (works on debian). I think it has to do with the version of libcurl which is installed or the way it is compiled.

[2022-03-31 18:48] vlandau commented on #356
And if you have access to the INI file that INI builder is creating, that would be helpful as well.

[2022-04-02 18:45] ranjanan commented on #333
As @unkcpz helpfully points out, the issue is in the sparse matrix construction. #357 should fix it

[2022-04-02 19:03] #333 closed

[2022-04-15 17:37] LycanSquatch commented on #356
I resolved the issue, it was a problem with my file. Thanks for your help!

[2022-04-15 17:38] #356 closed

[2022-05-08 06:10] tcztzy commented on #352
I had the same problem when I add NighttimeLights, and [I reported to JuliaBinaryWrappers](https://github.com/JuliaPackaging/Yggdrasil/issues/4885).

[2022-05-08 11:43] koalp commented on #352
Using the binaries provided by julia "solved" the issue for me, as mentioned in the archwiki : https://wiki.archlinux.org/title/Julia

[2022-05-08 13:41] tcztzy commented on #352
Thank you, I forgot to look up the archwiki. It should be look firstly. I use docker + remote container in vscode right now.

[2022-05-09 11:07] thomarse-ef commented on #352
THANK YOU - this fixed it for me

[2022-05-09 11:07] #352 closed

[2022-05-12 20:04] lu-vits opened #360 "Error happens in Julia. "At least one focal node location falls outside of habitat map""
Hi guys,
I'm trying to run circuitscape through julia, but the error is returned
"At least one focal node location falls outside of habitat map"
Can you explain to me why this happens?

[2022-06-20 20:07] SVMendoza opened #362 "Assertion error: linear solve did not converge in single precision"
Hello,
I am running circuitscape on Julia Version 1.6.4 on a linux server with 40 processors and 250 GB of RAM.

I'm running all-to-one scenarios. using the option parallel (max_parallel = 40)
and I have to make 12 runs (I have 12 friction value scenarios that I want to run), to automate it I call the files in a loop in julia. perform tests and all very well, but when I run the complete files it s

[2022-06-20 20:17] SVMendoza commented on #362
I don't understand, it's like it does all the calculations and when it's cleaning memory it sends the message. It returns the curmap and voltmap (77 maps equal to the number of nodes). and of course after the error message does not continue with the next run.
I attach the first two scenarios. and and all the messages printed on the screen
[CBB.zip](https://github.com/Circuitscape/Circuitscape.jl/f

[2022-06-27 14:49] ranjanan commented on #362
Which version of CS are you on? Can you make sure you're on the latest (5.11.2). Running `using Pkg; Pkg.update()` should update your packages.

[2022-06-27 17:07] ranjanan commented on #362
This error stack looks like it is from an older version.

[2022-06-27 17:30] SVMendoza commented on #362
Thanks Ranjan,
I'll check and let you know if I can fix it.
Sergio

[2022-06-28 13:45] SVMendoza commented on #362
the version is Circuitscape v5.10.1

[2022-06-28 13:47] ranjanan commented on #362
update it and check please

[2022-06-29 14:57] SVMendoza commented on #362
Dear Ranjan,

the problem persists.
I already did the update and the version of circuitscape was updated but it sends the same error message.

[2b7a1792] ‘ Circuitscape v5.10.1 à v5.11.2

[20220629_error.txt](https://github.com/Circuitscape/Circuitscape.jl/files/9011675/20220629_error.txt)

[2022-07-05 18:59] tommydevitt opened #364 "pkg test failed"
Can anyone tell me why the circuitscape package test is failing?

[code]

[2022-07-05 19:02] ranjanan commented on #364
Looks like something external is killing the test process?

[2022-07-05 20:31] tommydevitt commented on #364
@ranjanan I'm not sure how to interpret the error, but must have something to do with the required dependency "ImageCore" not loading.

[2022-07-08 01:02] ranjanan commented on #364
Does It always error like:
[code]
Specifically, does it always say KILL? Could you be running out of memory and receiving a SIGKILL?

[2022-07-08 18:32] ranjanan commented on #364
I just ran tests on an M2 MacBook Pro using Rosetta and tests passed for me. I am not sure why the OS is killing your tests.

[2022-07-08 18:36] tommydevitt commented on #364
Do I need to install Rosetta?

[2022-07-08 18:46] ranjanan commented on #364
You already have Rosetta - that's how you were able to run the tests using Julia 1.7

[2022-07-08 20:32] tommydevitt commented on #364
OK thanks. Anything else you can think of to try?

[2022-07-09 00:50] ranjanan commented on #364
Yes, could you cd into your Circuitscape directory and run tests directly? So, open Julia, run:

[code]
and see what happens?

[2022-07-09 02:34] tommydevitt commented on #364
julia> include("runtests.jl")
pwd = /Users/tjd66/.julia/packages/Circuitscape/QbA2E/test
Test Summary: | Pass  Total
Unit tests    |   16     16
Raster Pairwise: Error During Test at /Users/tjd66/.julia/packages/Circuitscape/QbA2E/src/utils.jl:308
  Got exception outside of a @test
  Reordering problem.
  Stacktrace:
    [1] check_error(ps::Pardiso.MKLPardisoSolver, err::Int32)
      @ Pardiso ~/.

[2022-07-09 03:12] ranjanan commented on #364
okay, at least you didn't get the kill. One last thing. Can you run `using Pkg; Pkg.update()` and then run the tests again? I notice you're on a slightly older version of Circuitscape.

[2022-07-09 04:18] tommydevitt commented on #364
OK, did that, but same (?) result:

julia> include("runtests.jl")
ERROR: SystemError: opening file "/Users/tjd66/runtests.jl": No such file or directory
Stacktrace:
  [1] systemerror(p::String, errno::Int32; extrainfo::Nothing)
    @ Base ./error.jl:174
  [2] #systemerror#68
    @ ./error.jl:173 [inlined]
  [3] systemerror
    @ ./error.jl:173 [inlined]
  [4] open(fname::String; lock::Bool, read::

[2022-07-25 17:14] jessjaco commented on #345
I too am seeing this error with the latest version. Does anyone have insight on the cause? Is it due to the scale or range of values in the source or resistance layers? I suspect it may have to do with the precision setting (I am running in single), but I am not sure.

[2022-07-25 17:25] ranjanan commented on #345
Single precision may well give you this error. It is to do with the conditioning of the matrices being solved, which are to do in part with the range in values in the resistance grids.

[2022-07-25 17:26] ranjanan commented on #345
Does double work fine? I would suggest sticking with that.

[2022-07-25 17:44] jessjaco commented on #345
In this case I don't have the memory to run in single. I will do some subset tests and report back

[2022-09-18 00:52] Lucavs84 opened #365 "Not solving every point?"
When I run Circuitscape in Julia I encounter this problem: it seems that not all points are solved. The process speeds up at some point and the cumulative current map output shows connectivity in only a part of the map. I assume that not all points are dealt with.
I use Julia 1.8.1. and the latest version of Circuitscape installed by Pkg.add(PackageSpec(name="Circuitscape", rev="master")).

EXAMPL

[2022-09-18 00:53] Lucavs84 commented on #365
Can anyone help me? Normally i not have problems running Circuitscape, but with this data I cant finda a solution.
Best regards
Luca

[2022-09-18 10:22] Lucavs84 commented on #365
Here the files raster i have used. Could is a problem with this files?
Thanks a lot

[files.zip](https://github.com/Circuitscape/Circuitscape.jl/files/9593749/files.zip)

[2022-09-20 01:12] merijnvdb opened #366 "Julia states my habitat file is empty"
See below my error, I will also attach the content of my .ini file. My resistance raster is 23MB (and thus not empty)

[Circuitscape Mode]
data_type = raster
scenario = pairwise

[Version]
version = 5.11.2

[Habitat raster or graph]
habitat_file = D:\Merijn\Desktop\circuitch2\resraster_new.tif
habitat_map_is_resistances = true

[Connection Scheme for raster habitat data]
connect_four_neighbors_onl

[2022-09-20 01:37] merijnvdb commented on #210
@Jinyu8579  how did you solve this? I have the same error

[2022-09-20 02:05] merijnvdb commented on #366
In case it helps, here are my raster files (for nodes + habitat map) and .ini file
[https://we.tl/t-fGP0sIR2N9](url)

[2022-10-21 15:26] ranjanan commented on #366
Your habitat file is not empty, but does contain zeros. At least according to how Circuitscape is reading it:

[code]
returns
[code]

We don't support rasters like that currently because that would result in a conductance matrix with `Inf` in them.

[2022-10-21 23:41] merijnvdb commented on #366
It still isn't working after changing all zeros in the raster to a different value.
I will attach a link to the new files, and please see below the error.

[](https://we.tl/t-Nr0wCHbGZh)

julia> compute("C:\\Users\\mvandenbosch\\Desktop\\tempie\\circuitnew.ini")
ERROR: UndefVarError: compute not defined
Stacktrace:
 [1] top-level scope
   @ REPL[4]:1

julia> using Circuitscape
[ Info: Precompiling

[2022-10-23 17:06] ranjanan commented on #366
Looks like you set your `nodata` value to nothing? Could you set it to something like `-9999`? The

[code]

In the previous file you set it to something like
[code]

[2022-10-24 01:08] merijnvdb commented on #366
Additionally, my study area is a certain shape, but a raster of course is
always a standard shape, so everything outside the study area are NA
values. These would then also be assigned a certain value and as such
included in the connectivity model?

Op zo 23 okt. 2022 om 21:10 schreef Merijn van den Bosch <
***@***.***>:

[2022-11-08 13:29] oskeng opened #367 "Nothing happens after first round of calculations in all-to-one mode"
When running in all-to-one mode, I get at "time taken to solve linear system" for all workers after the first round of calculations, but then nothing happens. Processes are, however, still going. See screenshot.

![Screenshot_20221108_141944](https://user-images.githubusercontent.com/61577586/200576758-6389a651-4207-4a8c-b6cb-1a456c06a950.png)

Pairwise works fine.

.ini as follows. Any help is ve

[2022-11-08 14:53] pdh21 opened #368 "Invalid index Error, but model runs fine on GUI"
I am trying to run my model using Circuitscape.jl but run into the following error:

[code]

**INI file**
[code]

**resistance file**
[code]

**Focal node file**

[code]

**Circuitscape and Julia version**
Circuitscape v5.11.2 and Julia v1.8.1

**Additional context**
The same `ini` and input files work fine with the GUI. I have also tried two tests from `Circuitscape\test\inputs`, `mgNetworkVerify

[2022-11-08 14:57] ranjanan commented on #367
Could you send me the data files?

[2022-11-08 19:32] oskeng commented on #367
https://www.dropbox.com/s/bm4ixw9izrrcb5f/circuitscape_input.zip?dl=0

Many thanks!

[2022-11-10 13:46] oskeng commented on #367
Any feedback @ranjanan?

A bit of a hurry to decide on simulation method and prepare data and .ini for a full-scale run on the supercomputer. Any help is greatly appreciated.

[2022-11-25 11:39] oskeng commented on #367
Well, I tried also full scale simulations on the high-memory cluster but got the exact same behaviour:

      From worker 7:	[ Info: 2022-11-20 18:09:55 : Solving point 5 of 500
      From worker 7:	[ Info: 2022-11-20 18:10:17 : Solver used: AMG accelerated by CG
      From worker 5:	[ Info: 2022-11-20 18:10:37 : Solving point 3 of 500
      From worker 2:	[ Info: 2022-11-20 18:10:43 : Solving poi