[2017-02-24 13:15] ranjanan opened #2 "Network pairwise with multiple connected components"

[2017-02-24 16:30] ranjanan opened #3 "Simple raster"

[2017-02-24 16:30] ranjanan opened #4 "voltage maps"

[2017-02-24 16:30] ranjanan opened #5 "current maps"

[2017-02-24 16:30] ranjanan opened #6 "resistance maps"

[2017-02-24 16:31] ranjanan opened #7 "Julia AMG solver"
Pure Julia solver?

[2017-02-27 07:19] ranjanan opened #10 "PyAMG solver"
First use PyAMG solver for everything so that solver variation is not a problem and you can verify correctness

[2017-02-27 07:35] #2 closed

[2017-02-27 10:59] ranjanan opened #12 "Resistance instead of conductance"
Sometimes user enters resistance maps instead of conductance maps.

[2017-02-27 11:02] #10 closed

[2017-02-27 15:00] ranjanan opened #14 "Simple Advanced Mode case"
Simple case in advanced mode, with multiple grounds

[2017-02-27 15:26] #12 closed

[2017-02-28 10:02] ranjanan opened #17 "Advanced mode case with multiple grounds"

[2017-02-28 10:03] ranjanan opened #18 "Advanced mode case with both multiple sources and grounds"

[2017-02-28 10:13] #14 closed

[2017-02-28 11:04] #17 closed

[2017-02-28 11:14] #18 closed

[2017-03-08 06:42] #3 closed

[2017-03-08 06:45] ranjanan opened #22 "Multiple polygons"
Multiple short circuit regions

[2017-03-08 10:48] #22 closed

[2017-03-08 10:51] ranjanan opened #24 "Points file contains polygons"
That's sgVerify3, 5, 6.ini

[2017-03-08 10:52] ranjanan opened #25 "Better solution for parsing config files"
Current solution seems inflexible

[2017-03-08 10:52] ranjanan opened #26 "Masks"

[2017-03-13 08:43] ranjanan opened #27 "All raster pairwise tests"
- [x] sgVerify1

- [x] sgVerify2

- [x]  sgVerify3

- [x]  sgVerify4

- [x]  sgVerify5

- [x]  sgVerify6

- [x]  sgVerify7

- [x] sgVerify8

- [x] sgVerify9

- [x] sgVerify10

- [x] sgVerify11

- [x] sgVerify12

- [x] sgVerify13

- [x] sgVerify14

- [x] sgVerify15

[2017-04-10 10:19] ranjanan opened #31 "OneToAllTests"
- [x] oneToAllVerify1

- [x] oneToAllVerify2

- [x] oneToAllVerify3

- [x] oneToAllVerify4

- [x] oneToAllVerify5

- [x] oneToAllVerify6

- [x] oneToAllVerify7

- [x] oneToAllVerify8

- [x] oneToAllVerify9

- [x] oneToAllVerify10

- [x] oneToAllVerify11

- [x] oneToAllVerify12

[2017-04-10 10:22] ranjanan opened #32 "AllToOneTests"
- [x] allToOneVerify1

- [x] allToOneVerify2

- [x] allToOneVerify3

- [x] allToOneVerify4

- [x] allToOneVerify5

- [x] allToOneVerify6

- [x] allToOneVerify7

- [x] allToOneVerify8

- [x] allToOneVerify9

- [x] allToOneVerify10

- [x] allToOneVerify11

- [x] allToOneVerify12

[2017-04-10 16:50] ranjanan opened #33 "Resistance shortcut"
sgVerify12 does not write current maps so uses a resistance shortcut.

[2017-04-12 10:22] #24 closed

[2017-04-13 12:33] ranjanan opened #39 "Raster advanced tests"
- [x] mgVerify1

- [x] mgVerify2

- [x] mgVerify3

- [x] mgVerify4

- [x] mgVerify5

[2017-04-13 14:36] ranjanan commented on #27
sgVerify12 is basically the same as 15, but 12 uses resistances shortcut with will be done once #5 is done

[2017-04-19 10:16] ranjanan commented on #27
sgVerify13 has input in a different format (INI file). In the domain #25

[2017-04-19 10:21] #39 closed

[2017-04-21 05:46] ranjanan opened #48 "Optimal graph partitioning to improve solver performance"
One way to improve the solver to perhaps use an optimal graph partitioning algorithm and pass it to our direct solver. LibMetis might already implement a few of those

[2017-04-24 11:11] ranjanan opened #51 "Use included pairs"

[2017-04-24 11:11] ranjanan opened #52 "Variable source strengths in one to all mode"

[2017-04-24 11:12] ranjanan commented on #32
The last one involves #52,  #51 and #26

[2017-04-25 11:04] ranjanan opened #54 "Use Different Precision"
Add the ability to use different precision types: Float64, Float32

[2017-04-25 11:04] ranjanan opened #55 "Parallelism"
Write option to use independent solves in parallel

[2017-04-30 18:19] #51 closed

[2017-04-30 18:20] ranjanan commented on #52
Fixed by #56

[2017-04-30 18:20] #52 closed

[2017-04-30 18:21] ranjanan commented on #26
Fixed by #56

[2017-04-30 18:21] #26 closed

[2017-05-02 08:21] #31 closed

[2017-05-02 12:23] #32 closed

[2017-05-02 12:24] #25 closed

[2017-05-02 16:50] ranjanan opened #60 "Raster pairwise - add support for included pairs"

[2017-05-02 16:50] ranjanan opened #61 "Read other kinds of include/exclude pairs"
* include_pairs
* exclude_pairs

[2017-05-03 07:40] #60 closed

[2017-05-05 05:39] #61 closed

[2017-05-08 06:42] ranjanan commented on #6
Done for network mode

[2017-06-07 07:33] ranjanan opened #75 "Add an option to read gzip file as input"

[2017-06-07 07:33] ranjanan commented on #55
A branch has this code.

[2017-06-07 07:34] ranjanan commented on #48
Doesn't seem to help as graph rearrangement seems to take time

[2017-07-19 05:32] ranjanan opened #77 "More tests"

[2017-07-19 05:33] ranjanan opened #78 "Release first version?"
- [ ]  Port over to v0.6
- [ ] Write more tests
- [ ] Improve README

[2017-07-19 08:52] ranjanan opened #80 "Improve README"

[2017-07-19 08:54] #75 closed

[2017-07-19 08:54] ranjanan commented on #78
These are added to the first milestone v0.0.1

[2017-07-19 11:46] ranjanan opened #82 "Port to v0.6"

[2017-07-20 04:13] #82 closed

[2017-07-20 04:13] ranjanan commented on #78
Closing this in favour of the milestone thing

[2017-07-20 04:13] #78 closed

[2017-08-02 07:35] #33 closed

[2017-08-02 07:45] #27 closed

[2017-08-02 13:22] #80 closed

[2017-08-18 14:32] ranjanan commented on #55
Two branches: one at a pair level and one at a point level.

[2017-10-11 08:35] ranjanan commented on #7
https://github.com/ranjanan/Circuitscape.jl/issues/7

[2017-10-11 08:36] ranjanan commented on #54
Needs AMG solver to support Float32 all through too

[2017-10-11 08:37] ranjanan opened #87 "Write an ordered config file as output"

[2017-10-18 17:12] #7 closed

[2017-10-20 10:17] ranjanan commented on #54
Should be possible now that we have a native AMG solver.

[2017-11-01 02:33] ranjanan opened #91 "Faster node map construction"
Current implementation is not scalable

[2017-11-01 02:36] ranjanan opened #92 "Benchmarks!"
We need benchmarks on the README

[2018-02-13 07:18] ranjanan opened #95 "sgVerify10 current map"
Doesn't match

[2018-02-13 07:19] ranjanan opened #96 "Fast current map generation"
Need to figure this out and then write an optimised version

[2018-02-13 07:32] ranjanan commented on #95
Voltage maps aren't matching either

[2018-02-13 11:47] ranjanan commented on #95
Same with sgVerify11

[2018-02-13 11:54] ranjanan commented on #95
sgVerify14

[2018-02-13 14:37] ranjanan opened #97 "Max_cur_map for all modes and cum_cur_maps for network and raster modes"
Need to generate max_cur_maps and cum_cur_maps by default.

[2018-02-22 07:06] ranjanan opened #99 "Type instabilities"

[2018-02-22 07:09] ranjanan commented on #96
Closed by #98

[2018-02-22 07:09] #96 closed

[2018-02-22 07:09] ranjanan commented on #55
Closed by #98

[2018-02-22 07:09] #55 closed

[2018-02-28 10:17] #6 closed

[2018-03-06 07:35] ranjanan commented on #54
Works now

[2018-03-06 07:35] #54 closed

[2018-03-08 00:01] ViralBShah opened #101 "Move to Circuitscape org"
Can we move this to the circuitscape org?

[2018-03-09 04:25] ViralBShah commented on #101
You have owner access to the org. So go for it.

[2018-03-12 18:08] #92 closed

[2018-03-12 18:08] #77 closed

[2018-03-19 16:56] #95 closed

[2018-03-19 16:59] ranjanan commented on #4
Everything gives out voltage maps now, with #103

[2018-03-19 16:59] #4 closed

[2018-03-19 17:04] ranjanan commented on #5
All tests give out normal current maps, thanks to #103

[2018-03-19 17:04] #5 closed

[2018-03-21 05:31] ranjanan opened #105 "Hitting inference issue on int32 support"
[code]
leads to:
[code]
[code]

[2018-03-22 08:41] #91 closed

[2018-03-22 09:26] ranjanan commented on #105
I did a `Base.compilecache("Circuitscape")` and it went away. 😕

[2018-03-22 09:28] #105 closed

[2018-04-06 13:43] #87 closed

[2018-04-19 16:53] meganjennings opened #109 "Run finishes before all pairs are solved in pairwise mode"
I have been trying out the new release of Circuitscape in Julia and am having trouble getting the runs to complete. Perhaps I'm missing something?

My graph has 2,013,771 nodes, 200 focal points and 13 connected components (.ini file pasted below). Everything starts just fine on solving the 19,900 pairs, but each time, it stops when it gets to 199 out of 19,900 pairs. There is no error message, on

[2018-04-20 08:26] ranjanan commented on #109
Hi @meganjennings, thank you for using the new upgraded Circuitscape!

So what seems to have happened is Circuitscape entered the shortcut resistance calculation mode here by mistake. Circuitscape usually enters this mode when `write_cur_maps` and `write_volt_maps` are both set to `false`. My guess is: in your case, the package seems to have taken `1` to be `false` which shouldn't happen. #112 sho

[2018-04-20 20:15] meganjennings commented on #109
Hi @ranjanan. Thanks for the quick reply!
I tried updating the package and running again and it stopped again at 199 out of 19900 pair solves.
However, I'm not sure Circuitscape actually updated. I gave me the following:

INFO: Checking out Circuitscape master...
INFO: Pulling Circuitscape latest master...
INFO: No packages to install, update or remove

I'm new to Julia, but the last line has me t

[2018-04-21 03:42] ranjanan commented on #109
Did you restart Julia? Restarting Julia and loading the module again via `using Circuitscape` allows Julia to load the new (fixed) version of Circuitscape. Apologies if you already have, I'm just checking.

[2018-04-21 03:50] ranjanan commented on #109
Also, on a completely separate note, I noticed your problem is ~2M in size. You could also consider using the new CHOLMOD solver mode by changing this line in your INI file to:
[code]
This mode should give you the answer much faster.

Perhaps once you see if the fixes work for you, you could try this new mode, if you are interested.

[2018-04-23 06:14] meganjennings commented on #109
Thanks. Restarting Julia worked and I got it running!
A few questions:
Does this version write a cumulative current raster like original Circuitscape? I can't find it.
Is there an option to run without producing all the pair current maps as in the original Circuitscape? With such a large problem, I need ~500GB available just to get through a run.

Also, I have tried to run the CHOLMOD solver mode

[2018-04-23 17:55] meganjennings commented on #109
@ranjanan no problem! I'm really excited to have something in the works that is so much more efficient and I'm glad to hear my experiences are helpful to your programming process. Even in CG+AMG solver mode, this problem takes only ~35 hours in Julia compared to 8 days with original Circuitscape.

The cumulative current maps are the primary output that I use (and I think this is the case for many

[2018-04-23 22:49] meganjennings commented on #109
@ranjanan The utility to read the pairwise current maps and generate a cumulative current raster would be helpful in the interim while you implement the necessary fixes to make that a default output. Thanks for offering that up. And I really appreciate your willingness to jump on these fixes so quickly.

I look forward to trying out the CHOLMOD mode whenever it's ready. The problem I'm working on

[2018-04-24 13:25] LLeiSong opened #114 "Wrong number of pairs & The code is running forever"
Hi,
I tried the Circuitscape.jl yesterday. Got some issues:
1. The code get the total number of pair solves is 1, but in fact it should be 78.
2. Solving this pair takes forever.  The code ran for the whole night and didn't get anything. I think there is not right.

I tried the same data using GUI. Even though it is super slow, It works well. So I guess my habitat and patch data are fine. Then I w

[2018-04-24 13:27] ranjanan commented on #114
Hi @LLeiSong is there any way you can share your problem files with me (INI, cell map, etc) so I can debug this?

[2018-04-24 13:32] LLeiSong commented on #114
@ranjanan, Sure. Sorry I forgot. Thanks very much for your help. Here are the files that I used. https://www.dropbox.com/sh/04d1a5yj1f6auet/AABvXC9ccNaLL6lZVcSWHN6Ba?dl=0

[2018-04-24 13:37] ranjanan commented on #114
Thank you, I will get back to you on this as  soon as I can.

[2018-04-24 13:51] ranjanan commented on #114
Could you post the output you are getting from the software too please? That would be helpful for me.

[2018-04-25 15:52] ranjanan commented on #109
@meganjennings #115 adds the utility to read all the current maps of a particular run and accumulate them. To use:
[code]
In your case, this might be:
[code]
If you'd like to calculate max current maps do:
[code]

[2018-04-25 18:29] ranjanan commented on #109
Oh and you'd have to do the same thing as earlier:
[code]
and restart Julia and try.

[2018-04-26 08:33] ranjanan commented on #114
@LLeiSong I just ran your problem and the first thing I noticed that the logging is wrong. I have improved the logging through #117.

Could you run this from your Julia prompt:
[code]
and then restart Julia and try? You should see 78 solves.

Another thing I noticed was that your problem was of the size ~36m, which is probably a bit on the higher side for the cholmod solver. Could you try setting

[2018-04-26 09:57] ranjanan opened #118 "CHOLMOD for extremely large number of pairs"
As shown in https://github.com/Circuitscape/Circuitscape.jl/issues/109#issuecomment-383465768, we need to batch pair solves for CHOLMOD, so you don't create this massive array that blows up memory

[2018-04-26 09:58] ranjanan commented on #97
This is addressed by #115

[2018-04-26 09:58] #97 closed

[2018-04-26 09:58] ranjanan opened #119 "Create cumulative branch and node currents in network mode"

[2018-04-26 15:18] ranjanan commented on #48
Closing this in favour of more specific ideas.

[2018-04-26 15:18] #48 closed

[2018-04-26 18:21] rmarrotte opened #120 "Output effective resistance files"
Hello,
I am having trouble figuring out the output files. For some reason, some of my pairs have not been written in the 3 column output. For example, the output indicates:

1 2 1
1 3 2
1 4 3
1 5 1.2
1 6 1.4
1 7 -1
etc

The -1 indicates a disconnected pair, but what is happening to the first 3 pairs?

When I load the matrix form of the output  I actually do get the values for these first 3 pairs.

[2018-04-27 15:44] rmarrotte commented on #114
Hi,
I have the same issue. I have over 200,000 pairs to solve and it only runs 416 of them... Once it's done it just throws in one of the pair IDs or something as the effective resistance. If you run the same INI file with the CS gui it runs all pairs found in the include file.
Thanks
Robby

[2018-04-28 03:00] LLeiSong commented on #114
@ranjanan thank you so much. I reinstall the package and tried again. Now it can recognize all the pairs. I think it is working well. But my computer sucks, it is super slow. I am not sure it is normal or not. I will follow up.

[2018-04-28 03:04] ranjanan commented on #114
@LLeiSong I checked with the Python package and the solver seems to fail for the pairs. Perhaps you should also check if there is something amiss with your input.

[2018-04-28 04:43] LLeiSong commented on #114
@ranjanan this is also my concern. I will check the data carefully. Will let you know what's going on there.

[2018-04-29 06:02] ranjanan commented on #114
@LLeiSong sure. I'm closing this issue because the original bug report has been fixed. Feel free to open new ones for new issues. Thanks!

[2018-04-29 06:02] #114 closed

[2018-04-29 06:14] #120 closed

[2018-04-30 05:51] ViralBShah commented on #118
Is the issue that you create all the RHS as one giant matrix right now, and  you just need to do it in batches?

[2018-04-30 05:52] ranjanan commented on #118
Yes, exactly.

[2018-04-30 05:52] ViralBShah commented on #118
Of course, if you batch it, should be easy to use multi-threading to parallelize, since you can share the factorization and just do multiple RHS solves.

[2018-04-30 15:26] rmarrotte commented on #120
Thanks!

[2018-04-30 15:48] rmarrotte opened #122 "CS.jl disconnecting pairs while CS 4.05 is not"
Hi,
It seems like CS.jl is setting some pairs to -1, while CS 4.05 is still computing these pairs. I have a total of 268,278 pairs. CS.jl seems to think that 64,270 of these pairs are disconnected. Any ideas as to why CS.jl is doing this?
Thanks
Robby

![cs_and julia_output](https://user-images.githubusercontent.com/3258127/39528056-135e9e12-4df1-11e8-82c8-5825c0f16c0f.png)

[2018-05-01 05:42] ranjanan commented on #122
Hi @rmarrotte, could you please paste the output of the following code on the Julia terminal:
[code]

Also, is there a way you could share your input so I can check? Thank you.

[2018-05-01 18:25] rmarrotte commented on #122
Pkg.status("Circuitscape")
Circuitscape 5.0.0+ master
https://www.dropbox.com/sh/holv4uojhsfvvlr/AADpo4ZuKulk72iKtZJpz7Xwa?dl=0

[2018-05-02 10:54] ranjanan commented on #122
Thanks,  @rmarrotte. According to logs, it seems to take a fewer pairs (86736) instead of the right number of pairs(268278). This seems to happen even as I disable the `include_pairs` option. Odd. I'll figure it out and let you know ASAP.

[2018-05-02 14:13] rmarrotte commented on #122
Yes, @ranjanan I was wondering whether there was a maximum number of nodes or some kind of maximum resistance threshold or something. Also, I was thinking it could be that some nodes are very close to each other, but there isn't this pattern in the data at all.

[2018-05-02 15:01] ranjanan commented on #122
No, I don't have either of those thresholds. I think I just made a mistake counting the number of pairs to solve. I'm investigating it right now.

[2018-05-02 15:14] ranjanan commented on #122
@rmarrotte could you run the following commands at the Julia prompt:
[code]
restart Julia and then see if you're getting the right answer?  Just a hunch.

[2018-05-02 15:15] ranjanan commented on #109
@meganjennings could I ask you if the utility helped? I'm making good progress on #119, but it took me longer than I expected.

[2018-05-02 16:09] rmarrotte commented on #122
@ranjanan No update was available, same results.

[2018-05-02 16:37] rmarrotte commented on #122
@ranjanan It checked it out and found nothing new for both. Restarted Julia before I did this. Ran CS just in case, but nothing new.

[2018-05-02 17:48] meganjennings commented on #109
Yes @ranjanan! Sorry, I got busy with other things and forgot to report back. The utility worked exactly as I needed it to, thank you. It did take an additional ~18 hrs to process though, so the fix you're working on now to have cumulative (or max) current maps be a default output will be very helpful.

[2018-05-02 19:11] meganjennings commented on #109
@ranjanan sure thing! My email is public on my GitHub account. Feel free to drop me a line.

I have additional problems to run (all the same size) and can give those a try once the fix is ready. I'm curious to see how the total run time compares with the cumulative map output integrated into the original run.

[2018-05-03 20:11] rmarrotte commented on #122
[code]

[2018-05-10 06:57] ranjanan commented on #122
Hi @rmarrotte I pushed one more commit to the same branch. Could you do `Pkg.checkout("Circuitscape", "pt_calc")` again and check please? Thanks.

[2018-05-10 13:56] rmarrotte commented on #122
Nope, nothing new to update or install

[2018-05-11 06:19] ranjanan commented on #122
Okay then. I'm sorry about this. I will run this privately and come up with a fix.

[2018-05-11 06:20] ranjanan opened #124 "AppVeyor"
Probably a good time to add an appveyor badge

[2018-05-11 06:21] ranjanan opened #125 "New Benchmark Chart"
Need a new benchmark chart now that I'm starting to add parallel cumulative map support by default.

[2018-05-12 12:01] ranjanan commented on #119
Works now for raster

[2018-05-13 07:01] #118 closed

[2018-05-13 07:31] ranjanan commented on #109
@meganjennings I just got done with with #123 and #126 which introduce cumulative maps and cholmod batching. You should be able to just write cumulative maps using the `write_cum_cur_map_only = true` option and the cholmod mode now supports batching which should make your workload run in the cholmod mode. As usual, do `Pkg.checkout("Circuitscape")` and then restart Julia and try. Thank you!

[2018-05-15 12:32] #124 closed

[2018-05-30 17:00] meganjennings commented on #109
@ranjanan I finally got around to trying my run using `solver=cholmod` but am getting a new memory error. My .ini file is the same as before, only with the solver changed, and I get the output messages below.

compute("K:/Modeling/Connectivity/Wrentit/wrentit_run_29May2018.ini")
[2018-05-29T09:47:02 | info | root]: Precision used: Double
[2018-05-29T09:47:02 | info | root]: Starting up Circuitscap

[2018-05-30 17:19] ViralBShah commented on #109
How big is your matrix? Looks like it is too big for a cholesky factorization, which is why the out of memory error.

[2018-05-30 17:19] ViralBShah commented on #109
@ranjanan We should catch this exception and give a meaningful error to the user.

[2018-05-30 17:20] ViralBShah commented on #109
@meganjennings Do you have access to a bigger computer with more RAM? The other thing to do is to disable the parallelization which will reduce memory usage.

[2018-06-02 01:29] ViralBShah commented on #109
Cholesky solvers take up a *lot* of memory. Can we try this with the AMG code? Can you share your data files and ini file with us to experiment ourselves?

[2018-06-04 16:27] meganjennings commented on #109
@ViralBShah Yes, I have already run this in AMG mode, I was just giving CHOLMOD mode a try because @ranjanan asked if I would give it a go with this large problem. I'm happy to send my input files if you want to try it out to see what it takes to get CHOLMOD to work with something of this size. What's the best way to transfer?

[2018-06-04 19:15] ranjanan commented on #109
@meganjennings how about you upload to either dropbox or Google Drive and comment (or email) the link?

[2018-06-05 05:21] meganjennings commented on #109
@ranjanan Input rasters and ini file are now up on Dropbox:
https://www.dropbox.com/sh/cvk3zgxchnq00p0/AABYWDYK4HQqU7xedZqFN4Ama?dl=0

[2018-06-14 19:50] wpeterman opened #129 "Variable solve times"
I'm working with CS.jl in Windows, and have been calling it from R using JuliaCall. I've been running some small scale tests, and have encountered some seemingly odd behavior. When repeatedly solving for 4 points on a small raster (2500 nodes), the task sometimes solves in less than one second:

`[2018-06-14T15:45:48 | info | root]: Precision used: Double
[2018-06-14T15:45:48 | info | root]: Readi

[2018-06-14 20:50] ViralBShah commented on #129
Could you upload the files somewhere for us to download and reproduce?  Are you running it on your laoptop? How much memory?

[2018-06-15 07:38] ranjanan commented on #129
Yes, could you upload the files to a drop box or Google Drive location, enable sharung and paste the link here please? It would help me debug.

[2018-06-15 09:20] ranjanan commented on #122
Hi Robby, I'm really sorry, but I'm having some trouble because your example has a really high number of pairs to solve which makes it hard to debug this. Is there a slightly smaller problem that you have where you can reproduce this behaviour?

[2018-06-15 15:38] wpeterman commented on #129
Here is a link to some example files:
https://drive.google.com/open?id=1OtiSZsubtN47ydfOKZf0mAcuM1eEtuEf

I've been running these on a Desktop (i7 3.6 GHz; 24 GB RAM).

There is also a [.txt](https://drive.google.com/open?id=1YnoJlndZquu53ravpgQPRRJV87gJnQTy) file with the WARNING message that is printed when I use CS.jl.

[2018-06-19 09:03] ranjanan commented on #122
@rmarrotte ^

[2018-06-19 13:30] ViralBShah commented on #122
@ranjanan Can we run connected components on the input and see if we are doing that correctly?

[2018-06-21 15:49] wpeterman commented on #129
Curious to know if you all had any insights regarding this issue (or if you were able to recreate the issue). Happy to provide more examples or more detail concerning my implementation, if it will be of help.

[2018-06-21 15:58] ranjanan commented on #129
@wpeterman I just ran the `julia_quickrun` example multiple times straight from Julia and didn't see any variability in solve time. But I ran this on my Mac. Let me run this on a Windows laptop and get back to you.

[2018-06-21 16:03] wpeterman commented on #129
`julia_longrun` should be the problem surface.

[2018-06-21 16:31] ranjanan commented on #129
Oh my bad, I think I can see it now. I'll get back to you ASAP

[2018-06-21 16:39] ranjanan commented on #129
Just as a note, the warning has been fixed in #130

[2018-06-26 12:30] wpeterman commented on #129
@ranjanan
Has your rounding solution been implemented? If so, what needs to be done to update the package and/or dependencies?
Thanks for your time and effort on this!

[2018-06-27 14:48] ranjanan commented on #129
Hi @wpeterman, I implemented it on a branch called `round` over here. You can access it by doing:

[code]
and then restarting Julia.

Could you confirm that this works?

Thank you.

[2018-06-27 15:49] wpeterman commented on #129
I get the following error:

[2018-06-27 16:39] ranjanan commented on #129
Okay, can you try:
[code]
in that order?

[2018-06-27 19:16] mgray505 opened #131 "Advanced run not completing in Julia"
Hi Ranjan,
I mentioned to you today that we ran a configuration in the CS v.4.0 gui that finished in about 30 min, but when I've tried running it in Julia it's run for many hours without completing. I'm running it in 'advanced' mode where a pixel-wide strip of pixels (270m) runs across the northern part of the landscape and are assigned sources of unit current, and a pixel-wide strip in the southe

[2018-06-27 19:17] ranjanan commented on #131
@mgray505 thank you for posting this issue!

Could you please paste the output of the following command at the Julia prompt:
[code]

[2018-06-27 19:20] mgray505 commented on #131
- Circuitscape 5.2.0+ master

[2018-06-27 19:20] ranjanan commented on #131
Great, and would you happen to know what the size of the graph is? It should be part of the circuitscape logs.

[2018-06-27 19:22] mgray505 commented on #131
Graph has 5407745 nodes and 3 components.
Job took 36 minutes 27 seconds to complete.

[2018-06-28 13:34] wpeterman commented on #129
Almost! The 'round' branch efficiently solved several thousand different scenarios with the standard solver as well as cholmod. I did encounter one problematic surface ([files here](https://drive.google.com/open?id=19k2VBctu0wc1uqKO4J1V4B-64RyBjTZZ))

[2018-07-05 19:38] rmarrotte commented on #122
@ranjanan Not really. Do you think it crashed because of 1 specific pair? Like I indicated a while back, there are some pairs that are right on top of each other within the same pixel. I think CS has some way of dealing with this by setting the effective resistance to 0 or -700.

[2018-07-05 19:56] wpeterman commented on #129
Hi @ranjanan
Just checking in to see if you had any insights about the problematic surface I encountered with the 'round' branch. Thanks!

[2018-07-12 18:38] mcombs33 opened #132 "Include pairs bug"
Hello,

Thanks for the work on the new Circuitscape in Julia!

I am attempting to use the "include pairs" functionality in Julia (specifying to include paris within 1000m in this case) and the output resistance matrix appears to show that many of the pairs that should be included were not calculated, and some pairs that should not have been included were calculated.

To confirm this, I ran circuit

[2018-07-12 20:23] jplatt-B54 opened #133 "Advanced run hangs in Win10 Pro"
I’m having problems with my first attempts to run Circuitscape from the Julia prompt.

I’m using an .ini file (attached) that was generated when I ran Circuitscape using the ArcGIS tool.  It seems to start OK, but no other output is produced, even after running several hours.  The process memory and CPU usage is holding steady at 1.8GB and ~7% whenever I check it.

I’m running it in a Windows 10 P

[2018-07-17 08:31] ranjanan commented on #129
@wpeterman Sorry about the late response time. Been moving cities and it's been hard getting some time to work. #134 should have fixed all these issues. Could you please check how this runs on all your problems? Thanks.

[2018-07-17 08:32] ranjanan commented on #129
You should first do a `Pkg.checkout("Circuitscape", "master")` first if you're already on the `round` branch

[2018-07-17 08:35] ranjanan commented on #109
@meganjennings would you mind adding one particular line to your INI file and trying again?
Add:
[code]
at the end of your INI file.

[2018-07-17 10:22] ranjanan commented on #133
@jplatt-B54 could you please try #135 and see if it works for you? You can access it by doing: `Pkg.checkout("Circuitscape", "adv")` and then restarting Julia and running it again.

[2018-07-17 11:11] ranjanan commented on #132
Hi @mcombs33, sorry for the late reply. I see that you've used a point file as well which is in your INI (rats_n262_....txt). Would you mind attaching that too? Ideally I'm looking to reproduce your Circuitscape run on my computer and then looking into it from there. Thank you!

[2018-07-17 16:21] ranjanan commented on #132
I wonder if this is related to #122

[2018-07-17 17:06] wpeterman commented on #129
@ranjanan
No worries about the delay. I generated several scenarios that were slow to solve. Some examples are [here](https://drive.google.com/open?id=1sJvD0RSDZ3FBMoWQaV5JHsUB-L3NbxaT).

`Pkg.status("Circuitscape")
– Circuitscape          5.2.1+          round`

[2018-07-17 17:09] ranjanan commented on #129
@wpeterman It looks like you're on the `round` branch. Could you get on the `master` branch and check if they solve faster?

[2018-07-17 17:11] ranjanan commented on #129
Also, thank you so much for the nice collection of problems! Do you mind if I include any of them as tests on the repo?

[2018-07-17 17:18] ranjanan commented on #129
Also I believe there should be another column in your points file on the link

[2018-07-17 17:24] ranjanan commented on #129
I just added a leading column `1, 2, 3, 4, 5` in your points file. I hope that's okay. On the master branch these seem to solve. Could you please check, @wpeterman? Thank you!

[2018-07-17 17:48] jplatt-B54 commented on #133
It now works, you can close this issue.  Thanks!

[2018-07-17 17:48] #133 closed

[2018-07-17 18:40] wpeterman commented on #129
Sorry for my confusion. I didn't realize that the fix had been merged with the master. Several hundred scenarios seem to all solve fine now, thanks! Feel free to use any of my 'problems' as tests.

[2018-07-17 18:50] mcombs33 commented on #132
Here is the ascii for the sample points. Again, with .asc changed to .txt for uploading

This may be related to that #122 issue, but reading through, there doesn't seem to be a solution proposed. None of these samples should be on top of one another, with only one sample per pixel.

Thanks for the help.

[rats_n262_utm_ascii_3.txt](https://github.com/Circuitscape/Circuitscape.jl/files/2202957/rats

[2018-07-18 14:55] mgray505 commented on #131
Hi @ranjanan  -
I did this and am now getting this error
<img width="669" alt="screen shot 2018-07-18 at 7 54 37 am" src="https://user-images.githubusercontent.com/12432192/42889705-ebf7e53a-8a5f-11e8-833d-3650062d1d3f.png">

[2018-07-18 16:11] ranjanan commented on #131
@mgray505 that's very strange, given that the tests pass on #135. Could you post the output of
`Pkg.status("Circuitscape")` please?

[2018-07-18 16:14] mgray505 commented on #131
<img width="522" alt="screen shot 2018-07-18 at 9 13 26 am" src="https://user-images.githubusercontent.com/12432192/42894114-e9df02aa-8a6a-11e8-9a31-2101d59cfe4d.png">

[2018-07-18 16:29] mgray505 commented on #131
<img width="571" alt="screen shot 2018-07-18 at 9 28 58 am" src="https://user-images.githubusercontent.com/12432192/42894919-10132f3a-8a6d-11e8-8c0a-b1da408a89ee.png">

[2018-07-18 16:33] ranjanan commented on #131
Sorry if you're already done this, but could you restart Julia, do `using Circuitscape` and then do `Pkg.test("Circuitscape")` please?

[2018-07-18 17:18] ranjanan commented on #129
@wpeterman Thank you! Could I ask you for one more favour please? Could you share the results of your benchmarking, especially if you've done it on a large problem? I would request your permission to quote these results on a presentation I'm giving about the package.

[2018-07-18 17:18] #129 closed

[2018-07-18 17:19] ranjanan commented on #109
Great to hear! Do let me know. Also, I was hoping if you could send me the results of your benchmarking, whenever they're done, if you consent. Would greatly help me while I'm preparing my presentation on the Julia package. Thank you!

[2018-07-18 17:29] ranjanan opened #136 "Cholmod for advanced mode"
Have to enable cholmod for advanced mode

[2018-07-18 17:31] #131 closed

[2018-07-18 17:32] ranjanan commented on #131
Had a call with @mgray505 and fixed this. Turned out it was the same issue as #133 and then we had to update the Memento package

[2018-07-20 12:57] ViralBShah commented on #129
It would be good to have the example where the speed advantage of CS.jl is the smallest, so that we can try figure out what is happening under the hood.

[2018-07-20 14:01] wpeterman commented on #129
[Here are files](https://drive.google.com/open?id=1h59ulPj4rxtfaFCeEArkN_bpQYFWhl_T) for testing 10, 50, & 100 points on a 500x500 grid, including a single run Benchmark times comparing CIRCUITSCAPE, CS.jl, and commuteDistance from the R package gdistance.

[2018-07-20 21:47] meganjennings commented on #109
@ranjanan After a hiccup with a forced Windows update and restart, the CHOLMOD run finished and looks great. Indistinguishable from the CG+AMG run as far as I can tell. It took 96996 seconds according to Julia. I lost track of which runs I did on which computer, so I'm re-running the CG+AMG run with parallel processing right now for comparison. I'll need to re-do the full original Circuitscape run

[2018-07-23 21:47] meganjennings commented on #109
@ranjanan 259716 seconds to finish in CG+AMG mode using parallel processing

[2018-07-25 10:33] wpeterman opened #140 "Run silently"
Is it possible to run the program silently. That is, not to print the status of the run to the console?

[2018-07-31 20:34] ranjanan commented on #140
Will expose this.

[2018-07-31 20:35] ranjanan commented on #109
@meganjennings thank you for all your help testing and using this. I am closing this particular thread but please feel free to open another issue if you encounter any other issue

[2018-07-31 20:35] #109 closed

[2018-07-31 21:48] ViralBShah commented on #140
Maybe have an ini file option as well.

[2018-08-09 13:27] ranjanan commented on #140
Whoops, I think I've already implemented this. Can you try changing `log_level = critical` in your INI file? This is completely silent though with no logging whatsoever

[2018-08-27 21:32] ranjanan opened #143 "v0.7"

[2018-08-27 23:14] ViralBShah commented on #143
Can we update this with a list of dependencies that need to go to 1.0?

[2018-08-29 19:35] jbauder opened #145 "Julia v. 0.6.4: ArgumentError: Unknown time zone "America/New York""
Hello,

I have installed Julia v. 0.6.4 on a computer with Windows 7 in order to run a version of the program CIRCUITSCAPE with Julia via R. I have installed Julia as well as the Windows updates and service packages needed to run on Windows 7 and loaded Circuitscape through Julia with the command Pkg.add("Circuitscape") following the instructions on Circuitscape's GitHub page. However, when I run

[2018-08-29 19:49] simonbyrne commented on #145
link to discourse: https://discourse.julialang.org/t/julia-error-unknown-time-zone-america-new-york/14260

[2018-08-30 18:00] dlecourstessier opened #146 "Cannot 'convert' an object of type SubString{String} to an object of type Float64"
Hi !

Fist of all, sorry if I do some spelling of grammatical mistakes, English is not my first language.
Second of all, I am a new beginner with Circuitscape on Julia and it seems that I have some issue with the convertion of some files.

 I want to do a current map, in advanced mode with 8 neighbours.  I am currently working on Linux, so I created the initiation file on a Windows computer and I

[2018-09-06 18:03] trecakov opened #147 "CodecZlib had build errors."
julia> Pkg.test("Circuitscape")
INFO: Testing Circuitscape
ERROR: LoadError: CodecZlib.jl is not installed properly, run Pkg.build("CodecZlib") and restart Julia.
Stacktrace:
 [1] error(::String) at ./error.jl:21
 [2] include_from_node1(::String) at ./loading.jl:576
 [3] include(::String) at ./sysimg.jl:14
 [4] anonymous at ./<missing>:2
while loading /software/spack/spack/opt/spack/linux-centos7-

[2018-09-12 19:27] richardurs commented on #146
I'm running in the same error.

[2018-09-14 06:10] richardurs opened #148 "Parallel calculation for cases with polygons"
Hi,

I'm using Circuitscape.jl on my 4 core PC. Even if I configure max_parallel = 8 the calculation of solving pairs it's always using just one task. It even doesn't seem to be faster than the normal Circuitscape 4.05 Tool. I'm not sure about what I'm doing wrong. My ini File looks like that:

`[Options for advanced mode]
ground_file_is_resistances = True
remove_src_or_gnd = keepall
ground_file =

[2018-09-14 14:28] ranjanan commented on #148
@richardurs thanks for trying the new Circuitscape. Would you mind sharing your example in a small Google drive or Dropbox link so I can take a look at it?

[2018-09-14 14:30] ranjanan commented on #147
@trecakov could you tell me if running `Pkg.build("CodecZlib")` fails, and if so, paste the error message here?

[2018-09-14 14:30] ranjanan commented on #146
@dlecourstessier no problem, would you mind sharing a small example uploaded to a Google Drive or Dropbox link? That would help me test and fix this.

[2018-09-14 14:30] ranjanan commented on #146
@richardurs you are welcome to as well. :-)

[2018-09-15 05:26] ranjanan commented on #148
@richardurs unfortunately I don't attaching the relevant files via email and replying to Github works. You have to upload them directly to Github by finding this page and dragging and dropping the files onto the comment box.

[2018-09-15 05:28] richardurs commented on #148
here is the link: https://www.dropbox.com/s/vq20bfqjhnzuu1c/CS%20Data.rar?dl=0

[2018-09-15 15:40] trecakov commented on #147
@ranjanan CodezZlib, failed... It couldnt download the file from the url, so I downloaded it manually and installed it. It fixes the problem. You can close this.

[2018-09-15 16:10] ViralBShah commented on #147
If you could share the exact error message, we can try to get it fixed upstream.

[2018-09-15 18:50] trecakov commented on #147
It was something like this:

INFO: Building CodecZlib
Info: Downloading https://github.com/bicycle1885/ZlibBuilder/releases/download/v1.0.0/Zlib.x86_64-linux-gnu.tar.gz to /raid/home/thibaut/.julia/v0.6/CodecZlib/deps/usr/downloads/Zlib.x86_64-linux-gnu.tar.gz...
[16:28:38] curl: (48) An unknown option was passed in to libcurl
=======================================================================

[2018-09-15 18:50] ranjanan commented on #148
@richardurs I figured out why it's not parallelising. This happened on the old Circuitscape as well. Since you have polygons in your point map and so the graph is being reconstructed and solved every time. If your point map didn't have polygons it would use all the 8 processes.

[2018-09-15 23:26] ViralBShah commented on #147
We probably should try and move to Julia 1.0 as soon as possible.

[2018-09-18 14:13] rhettdharrison opened #149 "LoadError: UndefVarError: SparseMatrixCSC not defined"
I have just installed Julia and then Circuitscape, but I stumbled at the last hurdle. This is the what I get when trying to run Julia> using Circuitscape.

[2018-09-18 20:43] rmarrotte commented on #132
Hi, this is still an issue. Points that are on top of each other seem to get a 0. But it seems that any pair that the first point has is just set to -1. You'll see in this example that point 1 has 7 pairs, but only the last one gets processed. Every other pair does get calculated though.
[test_run.zip](https://github.com/Circuitscape/Circuitscape.jl/files/2394434/test_run.zip)

[2018-09-19 11:01] rhettdharrison commented on #149
Ahh.. Yes I was using Julia v1.0. I will try again.

[2018-09-19 18:28] meganjennings opened #150 "New CHOLMOD memory errors"
Hi @ranjanan I hope you're well.
I'm back to working on some new Circuitscape runs and decided to increase the size of my problem now that the processing is so much faster. Unfortunately, when I try to run it in cholmod mode, I'm back to getting errors. When I went tried cg+amg mode, it just stalled in the middle and didn't give me any error messaging at all. This was with for ~120K+ pair solves.

[2018-09-19 21:29] ranjanan commented on #150
Hi @meganjennings I'm doing well! Thanks for posting this issue! As usual, could I ask you for a link to the files so I can test it on my end?

[2018-09-20 15:12] meganjennings commented on #150
Thanks @ranjanan - just emailed you links to download files.

[2018-09-24 18:48] dlecourstessier commented on #146
Hi everyone !

Thanks for your answers !
I already use raster in .asc format, which is why I don't understand the issue.

The google document is the code I use in Julia to start the analyse with Circuitscape, and I have put the initiation file as well.

https://docs.google.com/document/d/1fNczuvy-pEzCgsk0EtzqbMrEx_a9LFjVpHstjXwgrVs/edit?usp=sharing

Note that I do the analyse on the Compute Canada

[2018-10-03 21:16] mjgould opened #151 "Error when calling Circuitscape through another program"
Hi Circuitscape.jl team,

I'm optimization resistance surfaces for my landscape genetics project using the R package ["ResistanceGA."](https://github.com/wpeterman/ResistanceGA) This package was originally written to calculate landscape distances using LCP or the original CIRCUITSCAPE. There is a dev version that now incorporates CIRCUITSCAPE in Julia. One of the functions in the pacakges prepares

[2018-10-04 01:27] bsjodin opened #152 "Error in resistance ouputs"
Hello,
I am attempting to calculate pairwise resistance values for 12 focal nodes. Unfortunately, it seems like the *resistance.out output file is being overwritten after each focal node pair is solved rather than being appended, resulting in resistance values for just the final pairwise comparison (in this case, between nodes 11 and 12). I've attached the file to make it a bit clearer (renamed wi

[2018-10-04 01:28] ranjanan commented on #152
Hi @bsjodin could you please provide a reproducible example and put it up in a Dropbox or Google Drive link?

[2018-10-04 01:31] ranjanan commented on #151
Hi @mjgould thank you for trying the new Circuitscape. I have a feeling that your focal pairs file might be parsed as a string mistakenly. I need to test this out though. Could you please upload an example to a Dropbox or Google Drive link so I can access and test this? Thanks a lot in advance.

[2018-10-04 01:38] bsjodin commented on #152
Yup, my input files are here:

https://drive.google.com/drive/folders/176D2URB1hyrsGZQzNBw57mzNQilGDWoB?usp=sharing

[2018-10-04 01:49] mjgould commented on #151
Thanks for your help, @ranjanan. Here's the link: https://drive.google.com/open?id=1HJhw_REuy49GaOjldoitqsXk8WIGBTsk.

[2018-10-08 22:07] bsjodin commented on #152
Hello,
Were you able to replicate the problem and/or find a solution?

Thanks,
Bryson

[2018-10-08 23:17] ranjanan commented on #152
@bsjodin could you please run `Pkg.checkout("Circuitscape", "poly")` and then restart Julia and try again please? I've pushed a fix there and I wanted to check if it works for you.

[2018-10-09 00:35] ranjanan commented on #152
No problem. I'll merge this fix to master once I add a test

[2018-10-09 03:50] ranjanan commented on #151
Actually @mjgould would it be possible for you to write these settings in a config file and add it to the drive folder? That would make it significantly easier for me to fix and debug. I think there's something wrong with my R installation.

[2018-10-09 14:57] mjgould commented on #151
Sure, I can get that to you, @ranjanan. I went back to using R 3.4.4 because 3.5.x had a few bugs in it and was incompatible with quite a few packages.

[2018-10-09 20:52] mjgould commented on #151
@ranjanan, So I thought I knew what I was doing but it turns I don't! What would be the best way to construct the config file?

[2018-10-10 02:50] ranjanan commented on #151
Oh that's okay. Could you tell me what Circuitscape mode you're using, what your resistance map is, what your point file is, etc?

[2018-10-10 03:30] mjgould commented on #151
Sure thing. I'm sorry for automatically assuming you know why I was using Circuitscape! Sometimes it's easy to forget that other people aren't focused on your own research, too! I've included a "Read_Me" document in the google drive folder. Let me know if you need more information.

[2018-10-10 05:02] mjgould commented on #151
The first column is the name of the individual bear. The subset data should
only have numeric names without quotation marks. Maybe redownload the data
files from Google drive just in case I reuploaded the file after you had
downloaded the files.

On Tue, Oct 9, 2018, 10:42 PM Ranjan Anantharaman <notifications@github.com>
wrote:

[2018-10-10 14:29] ranjanan commented on #151
I see. I just saw the updated samples file. Are you getting the exact same error with this sample file? Also, can you try deleting the first row (with lat, long) and try again?

[2018-10-10 14:46] mjgould commented on #151
I have a new error with this sample file that I have included below. In my
original data, there are no column headers in the samples file but there
are character strings for the names of the individuals.

Error: Error happens in Julia.
BoundsError: attempt to access 50×50 Array{Int32,2} at index [-16, -216]
Stacktrace:
[1] compute_graph_data_no_polygons(::Circuitscape.RasData{Float64,Int32},
::Cir

[2018-10-10 15:07] ranjanan commented on #151
Darn. Okay, I think I have to reproduce your setup for this to make any sense. Could you tell me which version of R circ-test.R works on? Can it reproduce the error if I just run the script?

[2018-10-10 16:09] mjgould commented on #151
Shoot, sorry for all the trouble, Ranjan. I'm currently using R version
3.4.4 (2018-03-15)  and Rstudio version 1.1.456.

I've uploaded an R project title "Circuitscape_Test" as a zip file to the
Google Drive folder. The only directory address you'll have to change is
where Circuiscape.jl is located on your computer. Otherwise, you should be
able to reproduce the error by running the script.

On W

[2018-10-11 22:51] emilio-berti commented on #148
Hi @richardurs @ranjanan,
I am having the same issue. I understand the problem, but how can I solve it, given that I have polygons? Is there an easy "trick" that I can use? I thought about putting the resistance of the focal points in the polygon to something close to 0, but then how can I re-compact the output matrix back again (i.e. not accounting for more than 1 point from a polygon)?
Best,
Emi

[2018-10-12 02:54] ranjanan commented on #148
@emilio-berti unfortunately, I do not know of any such trick. Please do let me know if you find one!
From my perspective, I should just rewrite this to be parallel. However, I have a few other more urgent milestones that i need to hit with this project before I shift my attention to this particular issue.

[2018-10-12 17:37] ranjanan commented on #151
@mjgould just an update: I finally managed to reproduce this bug on my system after setting up R and RStudio appropriately. I'll fix this bug by the weekend. Thanks for your patience!

[2018-10-12 20:21] emilio-berti commented on #148
@ranjanan A possible solution would be to sample a random point from each polygon _n_ and consider only that, setting the resistance of the other points of the polygon very low, then reiterate over a number of time _m_. Taking _m_ relatively high (100?) this should give the average effective resistance between two nodes. It works in parallel and it requires _n_ x _m_ computations in pairwise mode,

[2018-10-12 21:59] ranjanan commented on #151
@mjgould so I found that there's a problem in the points map. At least one focal node location lies outside the habitat map that you have specified. I've now added a patch (#156) so it should display that error message when you run the R script

[2018-10-12 22:03] ranjanan commented on #149
@rhettdharrison you can now use Circuitscape on Julia v1.0 on master.

[2018-10-12 22:03] #149 closed

[2018-10-12 22:03] ranjanan commented on #147
We've moved to 1.0

[2018-10-12 22:03] #147 closed

[2018-10-12 22:03] #143 closed

[2018-10-13 03:17] ranjanan commented on #151
Do you mind if I use your samples.txt as a test case please?

[2018-10-18 12:38] wpeterman opened #158 "Cumulative Current Map Always Produced"
Hi @ranjanan --
I noticed that a cumulative current map (*_cum_curmap.asc) is always produced as output. If 'write_cur_maps =False' (or 0), the .asc is filled with zeros. If 'write_cur_maps = True' (or 1), then cumulative resistance values are present in the .asc file.  Not a huge deal, but for my purposes I'd like to avoid any additional overhead of creating/writing files if they aren't needed.

[2018-10-19 20:08] ranjanan commented on #151
@mjgould thanks a lot for your patience on this. If you do `Pkg.checkout("Circuitscape"); Pkg.checkout("Circuitscape", "v0.6"), you should be able get this fix. I'm closing this issue for now. Feel free to open a new one if you run into any more issues! :-)

[2018-10-19 20:08] #151 closed

[2018-10-25 13:47] wpeterman opened #159 ".out file not correct"
I noticed that the .out file that should be identical to the .ini file used for a given run is not correct. I haven't gone through line by line, but did notice that if 'solver = cholmod' in the .ini file, it is changed to 'solver = cg+amg' in the .out file.

[2018-10-29 18:58] mjgould commented on #151
Hey Ranjan,

Sorry for getting back to you so late. I've been out of the office on some
work-related travel and had to pause my research. Thanks for all your help,
and once I get back into this bit of research I'll let you know if anything
comes up. Once again, thanks for all your help!

On Fri, Oct 19, 2018 at 2:08 PM Ranjan Anantharaman <
notifications@github.com> wrote:

--
Matthew J. Gould
PhD

[2018-11-01 21:38] vlandau commented on #149
Does using Circuitscape in Julia v1.0.1 (or v0.7.0 for that matter) require installing the Circuitscape package differently? I get the error shown in the attached photo when trying to install on Julia v1.0.1, and Pkg.test("Circuitscape") fails in Julia v0.7.0. I'm using the 64-bit versions of Julia on Windows 10 pro. Alternatively, it does work on Julia v0.6.4

![juliaerror](https://user-images.gi

[2018-11-01 23:42] vlandau opened #160 "Julia version compatibility with Circuitscape package?"
@ranjanan Does using Circuitscape in Julia v1.0.1 (or v0.7.0 for that matter) require installing the Circuitscape package differently? I see in the comment on the thread linked below that Circuitscape is ported to Julia v1.0, but I get the error shown in the attached photo when trying to install on Julia v1.0.1, and Pkg.test("Circuitscape") fails in Julia v0.7.0. I'm using the 64-bit versions of J

[2018-11-02 04:58] richardurs commented on #160
Me too in Julia 1.0

[2018-11-02 23:11] blindjesse commented on #160
Installing the development version appears to work.

`Pkg.add(PackageSpec(name="Circuitscape", rev="master")`

or type `]` to go to the `pkg>` prompt and then do `add Circuitscape#master`

[2018-11-02 23:19] #160 closed

[2018-11-13 07:18] vlandau opened #162 "Getting "ERROR:InexactError()" after "Resistance/Conductance map has 61337224 nodes""
I'm getting the following error message when running Circuitscape in Julia v6.4 on Windows 10 Pro. Everything seems to run fine in the Python (GUI-based) version (though I haven't tried to let it complete since it will take so long). I'm hoping it's an easy fix. Here are my [input files](https://drive.google.com/drive/folders/1B7DQ5xUgyvJVcA6IgR83Bxu8E_biAe-_?usp=sharing)

Any ideas of what's goin

[2018-11-13 08:30] vlandau commented on #162
Turns out it was an issue with the input file! Jumped the gun on posting an issue.

[2018-11-13 08:30] #162 closed

[2018-12-03 23:51] vlandau commented on #147
I had a similar issue with a Docker-built image using Ubuntu 16.04 as a base image
I had to run:
apt-get install -y lib1g-dev

Then, oddly enough, CS worked....

[2018-12-11 02:23] vlandau opened #165 "Circuitscape not efficiently utilizing all cores during parallel processing?"
@ranjanan When running Circuitscape in parallel, it appears based on the info that is printed to the console that the last several tasks are solved in serial rather that parallel. For example, the first 12 pairs may be solved 4 at a time, as expected, but the last 8 pairs are solved only two or one at a time.

It's not a big deal when solve times are only a few seconds, but in my case solves take

[2018-12-11 02:44] vlandau commented on #165
Output for the most extreme example is shown here. In this case, I've set Circuitscape to use 4 parallel processes and given it only 4 node pairs to solve. Instead of sending one to each process and solving them simultaneously, they are solved in serial. I'd be happy to email the inputs for this example as well. This is all run within a Docker container (Ubuntu 16.04 and Julia 1.0.2).

[ Info: 201

[2018-12-11 03:09] ranjanan commented on #165
@vlandau thanks for pointing this out. Can you send me an email with the inputs so I can reproduce?

[2018-12-11 03:53] vlandau commented on #165
@ranjanan Thanks for the speedy response. Just emailed you.

[2019-01-03 23:11] eddiemyers commented on #146
I'm running into the same error as above. When I try running Circuitscape, I get the following:

ERROR: MethodError: Cannot `convert` an object of type SubString{String} to an object of type Float64
This may have arisen from a call to the constructor Float64(...),
since type constructors fall back to convert methods.

Was this ever resolved? Thanks!

[2019-01-04 00:01] ranjanan commented on #146
@eddiemyers which version of Julia are you using? could you upload a simple example to a Google Drive link so I can look into it?

[2019-01-04 00:02] ranjanan commented on #145
@jbauder could you please check if this occurs on Julia 1.0? Thank you

[2019-01-04 00:02] ViralBShah commented on #146
Good to have which Circuitscape version this is on, and if not the latest, try with the latest release.

[2019-01-04 00:15] dlecourstessier commented on #146
On my side, I have found that I had some issues with the format of some files that haven’t successfully convert to ASC format and that my resistance file was to heavy to run.

I changed the resolution of the map and arranged the format and then, everything worked!

I hope it help a bit!

Daphnee

Le 3 janv. 2019 à 19:02, Viral B. Shah <notifications@github.com<mailto:notifications@github.com>> a é

[2019-01-04 00:32] kearney-sp commented on #132
Has there been any progress on this issue? I am having the same problem (only with 'excluded' pairs). Runs fine in the GUI (4.0.5) with identified pairs excluded. When I export the .ini and run with Julia, it will run but output sets all pairs to -1.0. If I ignore the excluded pairs by setting 'use_included_pairs = False' it runs fine in Julia with a logical output, but this is not the desired ana

[2019-01-04 16:34] eddiemyers commented on #146
I updated both Julia (I now have Version 1.0.3) and Circuitscape (v5.4.0), and I now get this error message:
ERROR: UndefVarError: DefaultFormatter not defined
Stacktrace:
 [1] update_logging!(::Dict{String,String}) at /Users/edmyers/.julia/packages/Circuitscape/coCa3/src/logging.jl:23
 [2] compute(::String) at /Users/edmyers/.julia/packages/Circuitscape/coCa3/src/run.jl:16
 [3] top-level scope at

[2019-01-06 00:00] ranjanan commented on #132
Hi @kearney-sp , I've picked this up again and I'm trying to fix it. Will provide an update in the next few days.

[2019-01-07 17:09] kearney-sp commented on #132
Hi @ranjanan , great, thanks for the update! An update on my end: I was able to get the 'use_included_pairs = True' to work as expected on a test set with a .txt file of included pairs (headers 'mode' and 'include'), but it still would not work with a file of excluded pairs (headers 'mode' and 'exclude').

Additionally, when I attempted to process my full dataset using the same .ini setup with an

[2019-01-09 17:43] ranjanan commented on #132
@kearney-sp thanks for testing this out. Could you check out the fixes that I have pushed on the branch `RA/include`? You can do so by doing: `] add Circuitscape#RA/include` cc: @mcombs33 @rmarrotte

[2019-01-09 18:47] kearney-sp commented on #132
Gave it a go and it read the maps (identified the total number of nodes) and then failed, presumably when attempting to compute the number of pairs, with the following error:

ERROR: UndefVarError: warn not defined
Stacktrace:
 [1] #read_polymap#35(::Int64, ::Bool, ::Function, ::Type, ::String, ::Circuitscape.RasterMeta) at C:\Users\spkearne\.julia\packages\Circuitscape\dJx9M\src\io.jl:175
 [2] re

[2019-01-09 19:41] kearney-sp commented on #132
@ranjanan I tried it out and it appears to be working with with a .txt file of included pairs (headers 'mode' and 'include') on the full dataset. I will let you know if I encounter an error. It still does not appear to work with 'exclude', but this is not such a big deal since one can always use define an included pair instead.

Many thanks!

[2019-01-09 19:49] kearney-sp opened #168 "Compress grids has no effect"
When "compress_grids = True", output current maps are not compressed in Circuitscape.jl. I have only tried running pairwise mode. In Circuitscape 4.05, output is compressed into .gz format as expected when running the same .ini file.

[2019-01-09 20:34] ranjanan commented on #168
Yeah, you're right. I forgot to implement that. Apologies. PR for that will be up soon.

[2019-01-09 20:35] ranjanan commented on #132
@kearney-sp could you please attach an example of it not working with `exclude` please? I just tested it on my end and it worked.

[2019-01-09 20:46] kearney-sp commented on #168
wonderful - thanks!

[2019-01-09 20:54] ranjanan commented on #132
@rmarrotte would you be okay if I used test_run.zip as a test for this?

[2019-01-09 21:43] kearney-sp commented on #168
On a similar note: how hard would it be to output grids as integers instead of float? In pairwise mode, the output values of each current map are between 0-1. Couldn't you just multiply them by, say, 10000 and output an integer instead? This would save a lot space if outputting many individual current maps. It could even be a separate flag. One complication is that the cumulative current map may t

[2019-01-09 21:59] ranjanan commented on #122
@rmarrotte #167 also fixes this. Is there a smaller test you can run to confirm this?

[2019-01-09 22:01] kearney-sp commented on #132
Try files from this link here: https://www.dropbox.com/sh/4ff57vahma73q8p/AAAB6e2ppsq7Ti6_eAY4hjq4a?dl=0

Works with the ‘include_test.txt’, but does not work with the ‘exclude_test.txt’. (note that you will have to change the path names in the .ini file).

Let me know if there is a better way to share these files..

From: Ranjan Anantharaman <notifications@github.com>
Sent: January 9, 2019 1:22 P

[2019-01-09 22:54] ranjanan commented on #132
@kearney-sp I pushed a fix for `exclude` mode on the same branch. Could you check it now please?

[2019-01-09 23:02] ranjanan commented on #168
Sure. You could get the same savings by just rounding off to fewer digits than the standard 8 digits [I currently do](https://github.com/Circuitscape/Circuitscape.jl/blob/master/src/out.jl#L349). I did a simple experiment to verify that this is true.
[code]
If you're ok with this idea, I can implement it.

[2019-01-09 23:06] ranjanan commented on #168
There's also this really experimental single precision mode that you can try. You can use it by specifying `precision = single` in your INI file. This uses 32-bit floating points in all the calculations as opposed to the standard 64-bit. However I don't know how accurate the answers are. Maybe you can try this too?

[2019-01-09 23:55] kearney-sp commented on #168
I have experimented with the ‘precision = single’ flag in my INI file and get strange results – values near focal nodes are much higher relative to further nodes compared to the ‘precision = double’ option. I think what would be idea (for my application anyway) would be to reduce the precision only after the linear solve, just before writing the current map for that focal node pair. Basically resc

[2019-01-10 00:07] ranjanan commented on #168
Sure, but I think the right approach would be to introduce a flag in the INI file which controls the number of digits of precision that the user wants in his output current map. That accomplishes the same thing plus you don't need to rescale (it doesn't make a difference if you're writing Integers or Floating points if you're writing the same number of digits.

Also, would you like to try your han

[2019-01-10 00:07] kearney-sp commented on #132
I ran : ] add Circuitscape#RA/include again and restarted Julia. Tried again and same result - all -1.0's. Did you get my test set to work on your end with 'exclude'? Perhaps there is an issue i have overlooked with how my data is setup...

[2019-01-10 00:12] ranjanan commented on #146
@eddiemyers can you try doing `]add Circuitscape#master` and checking if the error persists?

[2019-01-10 00:13] kearney-sp commented on #168
OK, that makes sense. I am not used to working with .asc, to be honest! If I’m not mistaken, I think there will still need to be a rescaling step, right? Otherwise, very small values will just get set to ‘0’, rather than something near the lowest possible number with the defined number of digits.

And what is PR?? Maybe?! :)

From: Ranjan Anantharaman <notifications@github.com>
Sent: January 9, 20

[2019-01-10 00:15] ranjanan commented on #132
Oh my apologies, could you restart julia and try?

[2019-01-10 00:21] ranjanan commented on #168
I believe people logscale their maps when they get really tiny values. They set the `log_transform_maps` flag to `true`. And then I end up writing 8 digits of precision of the log transformed map. You could control this `8` via another appropriately named flag, if you'd like to save space. Does this approach make sense?

PR stands for "pull request". It's just a way of asking you for code contribu

[2019-01-10 01:00] kearney-sp commented on #168
That seems like it would work well then - a flag to control precision. Between that and compression, the user would have a lot of control over output file size.

One more thought: In my case, however, I would like to differentiate between values lower than than the lowest allowable (given the precision) and values that have been masked. Can you think of a way to easily differentiate between these?

[2019-01-10 01:55] kearney-sp commented on #132
No luck. Tried restarting (and reloading the #RA/include) with the same results - all -1.0s.

[2019-01-10 02:31] ranjanan commented on #132
Ok. I pushed what I thought would be a fix, but this could well be a new issue. Let me check.

[2019-01-10 16:49] eddiemyers commented on #146
I added the above and although the Pkg.test works fine, I get an new error:

[ Info: 2019-01-10 11:45:22 : Precision used: Double
[ Info: 2019-01-10 11:45:26 : Reading maps
ERROR: MethodError: no method matching Float64(::SubString{String})
Closest candidates are:
  Float64(::Int8) at float.jl:60
  Float64(::Int16) at float.jl:60
  Float64(::Int32) at float.jl:60
  ...
Stacktrace:
 [1] iterate at

[2019-01-10 17:08] ranjanan commented on #146
I see. Could you link me to your project files so I can take a look?

[2019-01-10 17:42] eddiemyers commented on #146
Yep, here they are: https://drive.google.com/open?id=18MzghO-N1PZfz8HXnG06lf0xLyYW5yJz

I appreciate your help!

[2019-01-14 23:37] ranjanan commented on #132
@kearney-sp I just ran the older software on your problem with "exclude_pairs.txt" and it calculated the resistance for points (1,2) even though you said asked for it to be excluded on the file. The output looked like it ignored the exclude pairs list altogether. Could you tell me why this is desired behaviour? Thanks in advance.

[2019-01-15 18:42] ranjanan commented on #132
Hi @kearney-sp, would you mind attaching the output of the GUI and the Julia version please? I suspect Circuitscape master (which is what I'm running) might be giving a different answer.

[2019-01-16 05:11] ranjanan commented on #132
Actually I just ran it on my laptop and I have the answer:

[out_resistances.txt](https://github.com/Circuitscape/Circuitscape.jl/files/2762713/out_resistances.txt)

Is this the same answer you are getting? My question is: when you have listed these pairs to be excluded from the computation, shouldn't there be -1s at those corresponding outputs? For example, as mentioned in `exclude_pairs.txt`, th

[2019-01-16 06:55] kearney-sp commented on #132
So I just re-ran with the GUI and checked the output and get identical results when using include_pairs.txt and exclude_pairs.txt (both identical to your result). The include_pairs result is as expected: only the listed pairs are output.

When using exclude_pairs.txt, I would expect that everything EXCEPT the list pairs would be included (rather than setting to -1 as you mentioned, they would be l

[2019-01-16 21:15] #122 closed

[2019-01-16 21:16] ranjanan commented on #132
I am closing this for now, but please open another issue with expected output. Thank you! Fixed by #167

[2019-01-16 21:16] #132 closed

[2019-01-16 21:19] ranjanan opened #169 "Log files not being written"

[2019-01-17 04:04] #146 closed

[2019-01-17 18:29] rachelluethi opened #171 "Warn() deprecated"
When running simulations with Circuitscape 5.4.0 with Julia 1.0.1 it didn't recognize `warn()` in io.jl. I found out that from Julia v0.7.0 (https://docs.julialang.org/en/v0.7.0/NEWS/) `warn()` is deprecated and should be replaced by `@warn()`. By replacing `warn()` with `@warn()` in Lines 152-162 (at the current version: L176-186) the simulations run properly.

[2019-01-17 18:52] ViralBShah commented on #171
@rachelluethi would you be comfortable with making a pull request to fix this?

[2019-01-18 02:06] #169 closed

[2019-01-28 20:56] elkoen opened #173 "how to cite circuitscape.jl?"
Hi,
I was wondering how to cite circuitscape.jl?
Thanks!
Erin

[2019-01-28 22:15] ViralBShah commented on #173
@ranjanan Did we ever submit a JOSS article to cite circuitscape.jl?

[2019-01-28 22:17] ranjanan commented on #173
No we didn't.

[2019-01-28 22:25] ViralBShah commented on #173
@elkoen What is your timeline? We would love to have something for you to cite. We plan to write a paper and put it up in the next couple of weeks - but if your timeline is shorter, we'll put up a short JOSS publication.

[2019-01-29 00:31] elkoen commented on #173
Thank-you for your quick reply. I am getting ready to submit a paper soon, but I can cite your github page as a placeholder for now.
Thanks!!

[2019-01-29 01:03] ViralBShah commented on #173
Can you use:

"Circuitscape.jl: High performance circuit-theory computations in landscape ecology with Julia", Ranjan Anantharaman and Viral B. Shah, (In preparation).

[2019-01-29 01:04] elkoen commented on #173
yes, that will work. Thanks!

[2019-02-05 15:04] glaroc opened #174 "Potential speedups"
Hi, I did some profiling on my Circuitscape runs and identified a couple of bottlenecks.

On Julia 1.0.x, it seems like there is an issue with the readdlm() function. It is MUCH faster on 1.1.0 for opening large .asc files. So, just switching Julia versions decreased the run times by over 30%.

I uncommented this line in out.jl (176) and commented out the loop that followed that was taking a while

[2019-02-05 15:08] ViralBShah commented on #174
Why is it using 150GB of RAM? Is that because you have a very large landscape? Once we have multi-threading (in maybe Julia 1.2 or 1.3), it should be easier to use multi-core a lot more effectively. Currently, the multi-processing will balloon RAM usage (it only is useful for smaller grids).

[2019-02-05 15:09] ViralBShah commented on #174
Also @glaroc If you are comfortable, it would be great to get a PR.

[2019-02-05 15:15] glaroc commented on #174
My grid is 13732 x 9827. I'm not sure why it's consuming so much RAM.

I'll do a pull request now.

[2019-02-05 15:19] ViralBShah commented on #174
Thank you. Can you share your .ini file and data files with @ranjanan to look into it?

[2019-02-05 15:45] glaroc commented on #174
Sure I can share the files. Should I send them by email?

[2019-02-07 23:53] ranjanan commented on #174
Just an update: I saved @glaroc's matrix and profiled the preconditioner allocation:
[code]
Most of the allocations however are at [this step](https://github.com/JuliaLinearAlgebra/AlgebraicMultigrid.jl/blob/master/src/smoother.jl#L160) and [this step](https://github.com/JuliaLinearAlgebra/AlgebraicMultigrid.jl/blob/master/src/aggregation.jl#L85). I have some ideas on how to reduce their memory fo

[2019-02-08 04:19] ViralBShah commented on #174
Are those sparse matrix multiplies?

[2019-02-08 05:49] ranjanan commented on #174
Yes, they are.

On Thu, 7 Feb 2019 at 11:19 PM, Viral B. Shah <notifications@github.com>
wrote:

[2019-02-08 17:00] glaroc commented on #174
Interestingly, I just did a run with a resistance surface of the same size that has values for almost the entire extent (instead of a mask with high resistances outside) and it seems to use about half as much RAM and runs a bit faster.

[2019-02-19 03:31] konstgav commented on #158
Hi!
I had observed the same behavior. When write_cur_maps =False then cumulative current map contains zeros.

[2019-02-19 17:37] pmillhouser opened #176 "JSExpr: Unsupported `string` expression, "$(e)"JSExpr: Unsupported `string` expression, "$(e)""
Hi, longtime Circuitscape 4 user, new user of version 5 on Windows, which has been great for working with larger datasets. After recently starting an advanced run with what I believe to be compliant .asc files, the Circuitscape window proceeds to "Reading maps," but the Julia window shows "JSExpr: Unsupported `string` expression, "$(e)"JSExpr: Unsupported `string` expression, "$(e)"" and the run n

[2019-02-19 17:49] ranjanan commented on #176
Hi @pmillhouser, are you using the latest Windows binary? I think this is probably a bug with it. Would you mind putting your data on a Google Drive anyway please? It would help me test.

[2019-02-19 18:04] pmillhouser commented on #176
Thanks for the quick response!

I believe I am using the latest--the top of the page says "Circuitscape
5.0," but I believe is used the current 5.4.0 installer. Here's a link
to the folder with the data:
https://drive.google.com/open?id=1RBFgyKXAFn1KbRlCkPzVCK8wsj24GMbR The
resistance surface is ResistBaseCross, the source nodes are
SummerConcE15, and the grounds are WinterConE15.

Thanks again,

[2019-02-19 18:12] pmillhouser commented on #176
Oh, and here is a screen shot showing the parameters used. I have a 6
core/ 12 thread processor (i9-8950HK) and used 10 processes, but the
same issue occurred with processors set at 4 as well.

------ Original Message ------
From: "Ranjan Anantharaman" <notifications@github.com>
To: "Circuitscape/Circuitscape.jl" <Circuitscape.jl@noreply.github.com>
Cc: "pmillhouser" <paulzm@yahoo.com>; "Mention"

[2019-02-20 06:14] ranjanan commented on #176
So the problem here was Circuitscape was erroring out, but wasn't displaying the error in the UI. I pushed a fix for this here: https://github.com/Circuitscape/CircuitscapeUI.jl/pull/15. This bug fix will be included in the next binary.

[2019-02-20 06:14] #176 closed

[2019-02-20 16:57] pmillhouser commented on #176
Thanks, @ranjanan. Do you have any short-term advice for avoiding this error by altering the parameters I use or making a correction to my data?

[2019-02-21 19:24] ranjanan commented on #176
@pmillhouser sure, could you tell what your configuration looks like please? What's your resistance map, point file etc?

[2019-02-21 21:19] pmillhouser commented on #176
Hi,

THe issue is popping up with the dataset I used earlier. Here's a link
to the folder with the data:
https://drive.google.com/open?id=1RBFgyKXAFn1KbRlCkPzVCK8wsj24GMbR The
resistance surface is ResistBaseCross, the source nodes are
SummerConcE15, and the grounds are WinterConE15. I'm running Windows 10
on a Dell XPS 15 with an i9 chip. Let me know if you need any further
info.

Cheers,

Paul

[2019-02-25 06:10] ranjanan commented on #176
@pmillhouser ,for now,  could you try testing with the command line version please? The installation instructions are on the README.

[2019-02-25 15:35] pmillhouser commented on #176
Thanks, I will give it a try!

------ Original Message ------
From: "Ranjan Anantharaman" <notifications@github.com>
To: "Circuitscape/Circuitscape.jl" <Circuitscape.jl@noreply.github.com>
Cc: "pmillhouser" <paulzm@yahoo.com>; "Mention"
<mention@noreply.github.com>
Sent: 2/24/2019 11:10:26 PM
Subject: Re: [Circuitscape/Circuitscape.jl] JSExpr: Unsupported `string`
expression, "$(e)"JSExpr: Unsuppo

[2019-02-25 18:08] pmillhouser commented on #176
Hi @ranjan, sorry to be a bother. I got the command line working but
with bugs. An initial problem was that the resistance map contained
zeros, which I replaced with 0.1 (I amusing the same data I previously
shared). Now I am getting an out of memory error. Changing to connecting
to 4 neighbors and low memory mode did not help. My machine has 32GB of
RAM, so I do not believe there is a literal sho

[2019-02-25 23:17] ranjanan commented on #176
Hi @pmillhouser , could you please attach your INI file in the same folder please? I'll just run this and debug. Thanks for reporting this!

[2019-02-25 23:27] pmillhouser commented on #176
No worries, thank you for being so responsive. Here's the file.

------ Original Message ------
From: "Ranjan Anantharaman" <notifications@github.com>
To: "Circuitscape/Circuitscape.jl" <Circuitscape.jl@noreply.github.com>
Cc: "pmillhouser" <paulzm@yahoo.com>; "Mention"
<mention@noreply.github.com>
Sent: 2/25/2019 4:17:33 PM
Subject: Re: [Circuitscape/Circuitscape.jl] JSExpr: Unsupported `string`

[2019-03-02 22:22] ranjanan commented on #176
@pmillhouser I should have pinged earlier, but I don't see your INI file either on this thread or in the Google Drive link. You may have replied to GitHub directly via email and attached the file, but that doesn't work unfortunately. Could you please add it to the Drive link please? Thank you.

[2019-03-02 23:44] pmillhouser commented on #176
I did attach it to my email-oops! Here's a link to it on Google Drive:
https://drive.google.com/open?id=11WgCLknOAqL_T0OXa7GB7qVOp4rG3-QP

Thanks!

Paul

------ Original Message ------
From: "Paul Millhouser" <paulzm@yahoo.com>
To: "Circuitscape/Circuitscape.jl"
<reply@reply.github.com>;
"Circuitscape/Circuitscape.jl" <Circuitscape.jl@noreply.github.com>
Cc: "Mention" <mention@noreply.github.com>

[2019-03-04 21:31] ranjanan commented on #176
@pmillhouser, I just checked peak memory utilization for your problem, and it doesn't seem too bad. My estimate is that 32 GB of RAM should do. Did you happen to have any other memory intensive processes running at the time?

[2019-03-05 17:13] pmillhouser commented on #176
Hi Ranjan,

I was just able to get it to work! I had not had any other apps running
from the beginning, but I did install a BIOS update from Dell yesterday,
so I wonder if it patched a memory issue. Fingers crossed it keeps
working. Thanks for your help!

Paul

------ Original Message ------
From: "Ranjan Anantharaman" <notifications@github.com>
To: "Circuitscape/Circuitscape.jl" <Circuitscape.jl@

[2019-03-05 17:18] ranjanan commented on #176
That's great news! Feel free to either open issue or inform me if you have any other issues.

[2019-04-04 06:50] leefusi opened #177 "Circuitscape for ArcGis Toolbox"
Hi,Is there a user guide for Circuitscape for ArcGis Toolbox?

[2019-04-04 12:05] ranjanan commented on #177
See if this helps: https://github.com/Circuitscape/CircuitscapeForArcGIS ? There's a doc file there. Unfortunately there's no user guide but the UI is pretty similar to the standard CS UI

[2019-04-04 12:34] leefusi commented on #177
Thank you very much for checking my email during your busy schedule and replying to me. I still can't run successfully in ArcGis based on the website you provided. I really regret that there is no user guide for this.
      I also used CIRCUITSCAPE 4.0 software for calculations, but I also encountered problems because I didn't understand the format of the input file. Here are the steps I took:

[2019-04-04 20:06] Chulkey opened #178 "Pkg.test("Circuitscape"): Single test failure - Raster Pairwise"
Installing Julia v1.1 on Win10 machine for use with Curcuitscape/ResistanceGA in R.
[code]

Wondering if this test failure is something I should be concerned about and if so, any advice on a remedy?

[2019-04-05 01:03] ViralBShah commented on #178
Tests need to pass cleanly. So this is worrisome and needs to be investigated.

[2019-04-05 16:53] Chulkey commented on #178
Ok. Also, apologies for pasting same output twice. This is the summary of test results:

Test Summary:          | Pass  Error  Total
Single Precision Tests |  576      1    577
  Network Pairwise     |   93            93
  Network Advanced     |   12            12
  Raster Pairwise      |  320      1    321
  Raster Advanced      |    5             5
  Raster One to All    |  134           134
  R

[2019-04-15 16:10] elkoen commented on #173
Hi again,
Just wondering if you have any updates for how to cite circuitscape.jl?
Thanks!
Erin

[2019-04-15 18:14] ViralBShah commented on #173
@ranjanan Do we have a paper draft to put up somewhere? Is arxiv an option?

[2019-04-16 14:32] elkoen opened #179 "Questions from your “average user”"
Hi,
I just started using CS.jl recently. I think of myself as your “average user”. First, I would like to thank you for all of your work – so far, I can run larger grids much faster than I could with CS 4.0. As an average user, there are a few things that make CS.jl seem intimidating. Starting this conversation might help other “average users” ensure that we are fully utilizing the power of CS.jl.

[2019-04-16 22:54] ranjanan commented on #179
Hi @elkoen, thank you for your questions. The answers to both of them need shall be put up on the README, with your help.

1. To get started with an INI file, you could simply copy an INI file from the tests: https://github.com/Circuitscape/Circuitscape.jl/tree/master/test/input, depending on what data type and scenario you're running. For example, if you want to run raster pairwise, you should si

[2019-04-17 00:19] ranjanan commented on #173
A preprint will be up very soon.

[2019-04-17 00:23] ranjanan commented on #177
Hi @leefusi, sorry about the delayed response. I was at a conference, incidentally to talk about Circuitscape. :-)

The plugin assumes you already have Circuitscape installed on your system. Could you tell me where you installed it? @jplatt-B54 informs me that it even assumes you have it installed either in `"ProgramW6432", "ProgramFiles", "ProgramFiles(x86)`.

[2019-04-17 14:08] elkoen commented on #179
Thank-you for responding so quickly!
1. I am not sure why I hadn't thought of this - it is simpler than what I was doing
2. This is also helpful. I am trying it now and it seems to be running in parallel.
Thanks!

[2019-04-17 14:30] leefusi commented on #177
Hi, you are so kind. I apologize if my question disturbed your meeting. It is my honor to get your reply.
I downloaded it from circuitscape.org. I have already marked the content I downloaded in the red box below.

At 2019-04-17 08:23:51, "Ranjan Anantharaman" <notifications@github.com> wrote:

Hi @leefusi, sorry about the delayed response. I was at a conference, incidentally to talk about Circuit

[2019-04-17 18:06] ranjanan commented on #177
Hi @leefusi, happy to help.

I can't see the red box. You might need to log in to Github and manually upload your screenshot [here](https://github.com/Circuitscape/Circuitscape.jl/issues/177). I don't think Github displays attachments with replies to Github notifications.

[2019-04-17 18:10] ranjanan commented on #179
Great, I'll put this up on the README and then close this.

[2019-04-18 01:18] leefusi commented on #177
oh！I'm sorry that my negligence in operation made you can't see my screenshot. Now I re-upload my screenshot here for your reference. thank you!
![download](https://user-images.githubusercontent.com/49238081/56330506-deb92e00-61ba-11e9-8390-7c863d03a64b.jpg)

[2019-04-18 02:14] ranjanan commented on #177
No worries. If you'd like to use the ArcGIS toolbox, could you install the legacy Windows executable please? We're still in the process of getting the ArcGIS toolbox to work with the new version. We'll update the website once we have that working.

[2019-04-18 02:24] leefusi commented on #177
Thank you very much for your answers so many times. I will try to install it myself. If there is any problem, please allow me to contact you again. I am also very much looking forward to the arrival of the new version.
Express my gratitude again.

At 2019-04-18 10:14:03, "Ranjan Anantharaman" <notifications@github.com> wrote:

No worries. If you'd like to use the ArcGIS toolbox, could you install

[2019-04-18 04:07] ranjanan commented on #177
Sure. I'm closing this issue for now, but feel free to open a new one if you have more questions.

[2019-04-18 04:07] #177 closed

[2019-04-18 17:22] DSO1975 opened #180 "gnarly assistance"
I am trying to download you “gnarly-landscape-utilities” and associated documentation.  Starting at https://circuitscape.org/downloads/ I select https://circuitscape.org/gnarly-landscape-utilities/, and then “Download Gnarly Landscape Utilities here. “ which takes me back to “https://circuitscape.org/downloads/” , of course creating a loop, I imagine I am missing something obvious but not sure wha

[2019-04-18 18:32] ranjanan commented on #180
Thanks for pointing this out. This was fixed by https://github.com/Circuitscape/www.circuitscape.org/commit/08d2456100acaced6df0747274702f1e9848ddf1. You should now be able to download via the link on the downloads page.

[2019-04-18 18:32] #180 closed

[2019-04-19 14:12] DSO1975 commented on #180
Thank you, it's seems to be working fine now!
Doug O

On Thu, Apr 18, 2019 at 12:32 PM Ranjan Anantharaman <
notifications@github.com> wrote:

[2019-04-19 16:09] anwilk commented on #178
I am facing the same issue, additionally, the same error is spit back when using 1.0.3 with an inline error happening after Cholmod changing the precision to double. Could the tests being run be throwing an error after converting to double?

[2019-04-19 16:20] ranjanan commented on #178
@anwilk could you paste that error here please? I just throw a warning saying that there's a conversion to double going on.

[2019-04-19 18:40] anwilk commented on #178
I think you're right about it being coincidental, it appears that other tests are completed and pass using double precision: Here is the inline warning and error...

 Info: Testing sgVerify17
┌ Warning: 2019-04-19 14:08:40 : Cholmod supports only double precision. Changing precision to double.
└ @ Circuitscape C:\Users\USER\.julia\packages\Circuitscape\yuRbe\src\logging.jl:25
[ Info: 2019-04-19 14

[2019-04-23 10:04] simon-tarr opened #181 "Writing maps to disk"
Hello,

Very new to Julia and Circuitscape.jl, so please forgive a very basic question. I'm wondering how I can write raster images of the outputs? I've opened one of the example .ini files in `input/raster/all_to_one/2/allToOneVerify2.ini` and there are various flags within the output section which are all set to 'false'. I've tried to set some of these flags to 'true' and I either get no outputs

[2019-04-24 04:19] ranjanan commented on #181
Can you paste the contents of the INI file here please?

[2019-04-24 07:13] simon-tarr commented on #181
Hi @ranjanan, thanks for getting back to me. The contents of the INI file are the same as in `input/raster/all_to_one/2/allToOneVerify2.ini` except that I've pointed explicitly to the input/output directories and files (rather than use the relative path of `input/raster/all_to_one/2/`). I have nonetheless copied the INI file below.

[code]

[2019-04-24 15:27] ranjanan commented on #181
No the scenario is totally fine. Could you the paste the full stack trace of the error you get when you run `compute(file)`?

[2019-04-25 07:07] simon-tarr commented on #181
As requested:

[code]

[2019-04-25 12:45] simon-tarr commented on #181
Here is some extra information which may help with troubleshooting. Using Circuitscape v4.0 (GUI) and the toy raster files which you can download from [this gist](https://gist.github.com/simon-tarr/f7df56b87075b7d2f0f6baa32062a908), I can generate a sensible looking current flow output between two nodes. Here's a screen grab of the v4.0 settings I'm using:

![Capture](https://user-images.githubuse

[2019-04-25 16:13] ViralBShah commented on #181
Thank you for the detailed bug report!

[2019-04-25 17:26] ranjanan commented on #181
Yeah, I found the bug. It's messing up with the `.` in your username thinking it's an extension. I've put up a fix [here](https://github.com/Circuitscape/Circuitscape.jl/pull/182).

[2019-04-25 18:36] ranjanan commented on #181
@simon-tarr I've fixed this via the PR and tagged a new release. I'll ping you here once the release is registered, and then you'll be able to use it.

[2019-04-25 18:46] ranjanan opened #184 "Register"
@JuliaRegistrator register

[2019-04-25 18:46] JuliaRegistrator commented on #184
An unexpected error occured during registration.

[2019-04-25 18:47] #184 closed

[2019-04-26 07:37] simon-tarr commented on #181
@ranjanan that's great thank you very much for the speedy fix.

[2019-04-26 14:49] ranjanan commented on #181
@simon-tarr the new version just got registered. Could you do `using Pkg; Pkg.update()` at your Julia prompt and see if your Circuitscape updates to v5.5.2? If it does, restart Julia, do `using Circuitscape` and `compute()` as you usually would do.

[2019-04-26 16:04] DSO1975 opened #185 "Core mapper question"
Hello
I am trying to run the Core mapper tutorial and continue to get the error below, any insight would be greatly appreciated.  I have checked all directory paths and they seem to be correct.  Thank you for your assistance

  color_index=wb._colors)
  File "C:\Gnarly\CoreMapperDemo\Toolbox\scripts\openpyxl\reader\worksheet.py", line 327, in read_worksheet
    fast_parse(ws, xml_source, shared_st

[2019-04-26 16:11] ViralBShah commented on #185
This should be filed in the python circitscape repo.

[2019-04-26 16:11] #185 closed

[2019-04-26 16:21] DSO1975 commented on #185
That reply wasn't very helpful i.e. where is the python circitscape repo.
I am new at this, you probably have been doing this a while so more
complete and informative answers would be greatly appreciated

Thank you
Doug Ouren

On Fri, Apr 26, 2019 at 10:11 AM Viral B. Shah <notifications@github.com>
wrote:

[2019-04-26 16:32] ViralBShah commented on #185
Please file here: https://github.com/Circuitscape/Circuitscape

The python version is unmaintained at this point, but it would be good to have the issue filed anyways in case others run into it.

[2019-04-26 16:40] DSO1975 commented on #185
So does your response mean that the Core mapper tutorial does not work?  Is
there an alternative? Just trying to figure out your software and tutorials
are helpful.  Thanks

On Fri, Apr 26, 2019 at 10:32 AM Viral B. Shah <notifications@github.com>
wrote:

[2019-04-27 03:27] #125 closed

[2019-04-27 03:28] #140 closed

[2019-04-27 03:29] #145 closed

[2019-04-27 03:29] ViralBShah commented on #171
@ranjanan Close?

[2019-04-27 03:30] ViralBShah commented on #136
Might be fixed. Close?

[2019-04-27 03:33] ViralBShah commented on #165
Is this still an issue? Might be fixed.

[2019-04-27 03:34] ViralBShah commented on #174
Is this fixed?

[2019-04-27 03:35] ViralBShah commented on #168
Let's close if implemented.

[2019-04-29 07:34] simon-tarr commented on #181
Hi @ranjanan I've updated to v.5.5.2 and restarted Julia, as requested. I've hit a new `SystemError: opening file` message. Previously the error concerned voltmap (`ERROR: SystemError: opening file "C:/Users/simon_voltmap_1.asc": Permission denied`) but now the error is resistances.out. I've copied the full stack trace below.

[code]

[2019-04-29 07:51] simon-tarr opened #186 "Documentation Clarification"
Hello, I was wondering if someone could help clarify documentation definitions between versions 4 and 5.x of Circuitscape. The documentation at https://circuitscape.org/docs/ is for v4.0 and was last updated 5 years ago. While excellent for the general theoretical underpinnings, I am struggling to reconcile the input settings between the old (v4.x) GUI versions of the application and the Julia com

[2019-05-03 12:06] simon-tarr commented on #181
Hello @ranjanan I was wondering if there was any update to this? I appreciate your assistance thus far and many thanks in advance.

[2019-05-03 17:28] ranjanan commented on #181
Hi @simon-tarr, sorry about the new error you're facing. I didn't fix all instances of that bug in the code. I have a couple of urgent thiings to do right now, and will get to this in the weekend. Thank you for your patience thus far!

[2019-05-07 08:09] simon-tarr commented on #181
Hi @ranjanan no worries. As this issue is set as closed, I was just making sure that it hadn't been forgotten about. Looking forward to the fix so that I can explore the model.

[2019-05-08 17:29] ranjanan commented on #186
Hi @simon-tarr ,

1. You're right, the documentation on the website needs to be updated for v5.
2. Habitat file refers to the resistance surface. The only reason it's called `habitat_file` is for legacy reasons. We'd like this upgraded version to behave exactly like the previous versions, and INI files generated by previous GUIs usually.
3. Polygon file is not required to run Circuitscape. In most

[2019-05-09 04:18] #181 closed

[2019-05-09 09:15] simon-tarr commented on #186
Hi @ranjanan no problem, thanks for getting back to me! I know how manic end of semesters can be so I appreciate you taking the time to respond to the above questions.

[2019-05-13 10:48] simon-tarr commented on #181
Hi @ranjanan I'm getting a couple of new errors now, I'm afraid. The first error occurred reasonably quickly after submitting the job:
[code]

The second error occurred much later in the process and the stack track is much shorter:

[code]
This second error appears to be occurring immediately after solving the final pair in my example. Any ideas what may be causing this? I'm running a pairwise ras

[2019-05-13 11:04] simon-tarr commented on #178
I am also getting this error @ranjanan, when running the latest version of Circuitscape:

[code]

[2019-05-13 21:01] ranjanan commented on #181
Hi @simon-tarr I tagged another release v5.5.3 recently. Can you update Circuitscape and check if this particular issue is resolved?

[2019-05-13 21:06] ranjanan commented on #181
For the new errors, could you please open a new issue? My semester is over at the end of this week and I'll make sure you have a Circuitscape that works properly.

[2019-05-13 21:06] ranjanan commented on #186
No problem, do you have any more questions on this vein? If not, I'll close this issue.

[2019-05-14 09:29] simon-tarr commented on #186
No, that's everything that I can think of for now. Thanks for responding.

[2019-05-14 09:29] #186 closed

[2019-05-15 07:54] simon-tarr opened #188 "Failed tests"
I have just installed the latest version of Julia and Circuitscape and get the following error when running `Pkg.test("Circuitscape")`:

[code]
I think this is related to issue #27.

I think whatever is causing this issue is also preventing me from running my own raster pairwise jobs successfully. The errors I am getting when running own own jobs are documented here https://github.com/Circuitscape

[2019-05-15 07:55] simon-tarr commented on #181
@ranjanan opened a new issue as requested #188
Thanks for your help thus far in getting the model back up and running again.

[2019-05-23 10:52] simon-tarr commented on #178
Hello @ranjanan any news on a fix for this? I understand that this is open source software and comes with no guarantees in terms of reliability and operability...I really appreciate the work you're doing on this project and I honestly don't mean to pester you! Having said that, I do have some upcoming projects that I'd love to use Circuitscape for. Looking forward to hearing from you.

[2019-05-23 11:20] ViralBShah commented on #178
I am guessing @ranjanan was busy with the semester winding down. @ranjanan Might these be windows related only?

@simon-tarr Can you try on a different windows computer? Is the one you are using 32-bit or 64-bit windows?

[2019-05-23 13:38] simon-tarr commented on #178
Hi @ViralBShah. I believe @ranjanan has been a little busy yes. To answer your question I have tried it on two 64-Bit Windows machines, both with the same result. I do have access to a Linux machine so I think my next port of call will be to run the tests on there and see if I get the same result.

[2019-05-24 16:23] #179 closed

[2019-05-25 03:41] ranjanan commented on #178
I've no idea on how to debug this! I've asked for help here: https://discourse.julialang.org/t/mmap-error-on-windows/24594

[2019-05-25 04:02] ranjanan commented on #188
@simon-tarr could you share your data so I can reproduce https://github.com/Circuitscape/Circuitscape.jl/issues/181#issuecomment-491773373 please? Are your test errors a dup of #178 ?

[2019-05-28 04:37] wpeterman commented on #132
Using v.5.5.3+, I'm getting errors when using the 'include_pairs_file". It appears that the output matrix is 1 column and row smaller when run the pairs file. ZIP file with example files attached.
[test.zip](https://github.com/Circuitscape/Circuitscape.jl/files/3225706/test.zip)

[2019-05-28 19:58] #171 closed

[2019-05-28 19:58] ranjanan commented on #171
Fixed via e3c398897ea86303ee02a992602dde590bda1509

[2019-05-29 08:06] simon-tarr commented on #188
Hi @ranjanan, the data I'm using can be found [here](https://gist.github.com/simon-tarr/13ece905fb902b3dcbcc65b9a4afcc6d).

I'm not sure if my test errors are exactly the same as #178 but I think that's the case. At any rate, my test (`Pkg.test("Circuitscape")`) fails on Raster Pairwise, as per #178. As I'm using 'Raster Pairwise' in my 'real' data found in the above Gist, I should imagine the two

[2019-05-29 09:19] simon-tarr commented on #188
Hi @ranjanan throwing a spanner in the works here. I have stuck the same focal points and resistances files into the GUI version of Circuitscape and selected 'Raster Pairwise'. It runs absolutely fine. I hadn't checked the GUI since your last update to the code about 3 weeks ago. Prior to this, the GUI interface also didn't work (unfortunately I didn't save the error messages). However, now it doe

[2019-05-29 09:39] simon-tarr commented on #188
Some more information @ranjanan, which only really makes things more confusing. It turns out that I can cause the GUI version to crash...if I set the file path to something like `C:/Users/simon.tarr/Documents/Output`. It would seem that the username (with periods) is potentially still causing the issue here. If I set the GUI to output to, say, `D:/Output` then the GUI won't error.

However, I stil

[2019-05-30 23:32] wpeterman opened #189 "Error with include pairs file"
Using v.5.5.3+, I'm getting errors when using the 'include_pairs_file". It appears that the output matrix is 1 column and row smaller when run with the pairs file. Using the example files in the attached ZIP file, row and column 7 are dropped.

[test.zip](https://github.com/Circuitscape/Circuitscape.jl/files/3239069/test.zip)
[results_out.zip](https://github.com/Circuitscape/Circuitscape.jl/files/

[2019-05-31 20:09] elkoen commented on #173
I am sorry to keep bothering you about this. I am going to submit revisions to my paper in the next few weeks. Do you have any updates on how to cite circuitscape.jl?
Thanks!
Erin

[2019-06-03 02:34] ranjanan commented on #173
@elkoen I'll put it up this week, for sure, and post the link here.

[2019-06-08 23:48] ranjanan commented on #173
@elkoen I've submitted a preprint to ArXiV! Once its processed, I'll post a note about how one may cite it.

[2019-06-11 04:50] ranjanan commented on #173
@elkoen the ArXiV article is now up! You can cite that: https://arxiv.org/abs/1906.03542

[2019-06-11 04:50] #173 closed

[2019-06-12 13:05] wpeterman commented on #189
Also, it seems that when using the 'include pairs' approach, the run time is >5x longer. Seems like it should be nearly equivalent, or faster. As is, it's faster to run the full data set and then negate/remove unwanted pairs after the full run completes.

[2019-06-12 21:19] ranjanan commented on #189
@wpeterman Thanks for posting this, you hit an interesting corner case that I didn't consider. Let me explain why this happening:

It turns out that whenever you don't require current or voltage maps to be written to disk and you just need the pairwise resistances, Circuitscape triggers a shortcut to compute all of them, which runs really fast. However, when you want to exclude pairs, Circuitscape

[2019-06-12 21:34] ranjanan commented on #189
Now that I think about it, I'm more inclined to give you all the resistances without any masking and throw a warning saying that you get the resistances you didn't ask for, for free.

[2019-06-13 03:01] wpeterman commented on #189
Glad I explored the hidden corners of the code for you. Sorry for posting an issue of an atypical scenario (a point excluded). It would seem best/appropriate to have all these excluded values included in the results (as -1), rather than reduce the size of the matrix. Either way, I've currently got a suitable workaround. Thanks for all your time and effort on continuing to improve this!

[2019-06-13 03:14] ranjanan commented on #189
Sure, I can keep the size of the matrix the same with a PR. Let me check what the old Circuitscape did and maintain the same behaviour.

[2019-06-18 10:50] simon-tarr opened #190 "Very Slow Processing"
More than likely that I'm doing something wrong but I feel that the processing time for my Circuitscape run is very slow. I'm running Win10, 16 core Xeon and 32GB RAM. It's a reasonably large raster but not excessively so (and definitely smaller than the test runs documented in the recent pre-print).

Here's a snippet out of the Julia console's output:

[code]

The time printed to console says tha

[2019-06-18 12:28] ViralBShah commented on #190
How much time for the python version?

[2019-06-18 12:39] simon-tarr commented on #190
Good question - I haven't timed it using the old Python version. I can try doing that now.
I'd be curious if others can replicate the "slow" processing with the files attached above, however.

[2019-06-20 14:29] ranjanan commented on #190
Any update on how much time the Python version takes?

[2019-06-29 06:12] vlandau commented on #165
@ViralBShah, not sure. @ranjanan?

[2019-07-10 16:42] vlandau commented on #190
@simon-tarr  Add the below code to your .ini file to utilize parallel processing. There has been an issue with SharedArrays (which Circuitscape's parallel processing relies on) in Windows, so be wary of that.

[code]

 Note that parallelization requires more memory usage, but I think it should be fine given your 32GB of RAM and the relatively small size of your resistance grid. If memory does beco

[2019-07-11 15:23] ViralBShah commented on #190
I am tempted to close this one and reopen if slower than the earlier python code.

[2019-07-14 15:03] kashacatie opened #191 "Two Issues: Memory Error and Not working on my desktop"
Hi I hope you will have time to help. We are using the arcgis toolbox.
First issue we are encountering. We are running CS to check for connectivity of species in a country. The first resistance and point asc and resistance raster is created. After that we get the memory error. Is there away we can run the entire country of Liberia and not get the memory error.

Second issue: I have installed CS on

[2019-07-15 16:13] f-tonini opened #192 "Blank screen on GUI after running main executable"
Hi there,

I am having issues with Circuitscape v5 (beta) when trying to start the GUI after closing it the first time. I am attaching a screenshot of the blank screen I see. The first time I run the program everything seems to work, but not after closing and re-opening the software

![Annotation 2019-07-15 091838](https://user-images.githubusercontent.com/1470540/61231324-2a5f7300-a6e9-11e9-9725-

[2019-07-15 17:37] ViralBShah commented on #192
I suspect the GUI is buggy. We are planning to remove it from the Julia version for now and request people use the command line version, and document the process better. Simultaneously, we will also figure out how to improve the UI and make it robust.

Can you tell us for the record here which version of windows you are using, and if it is 32-bit or 64-bit?

[2019-07-15 17:52] f-tonini commented on #192
Sure, I am testing it on a Windows Server 2012 R2 (thus 64 bit). Should I let our customers about using it via the command line then in the meantime?

[2019-07-16 03:41] ViralBShah commented on #192
Yes that would be best for now. Thank you.

[2019-07-19 21:22] mattwilliamson13 commented on #178
I'm having this issue on a Windows 10 Machine (64 bit), but not on MacOS so thinking it's Windows issue.

[2019-07-19 21:22] ranjanan commented on #178
@mattwilliamson13 it is a windows specific issue.

[2019-07-19 21:26] ranjanan commented on #191
@kashacatie could you attach appropriate screenshots for the issues?

[2019-08-06 22:59] dlecourstessier opened #193 "Error : UndefVarError : warn not defined"
Hi Everyone one !

I am currently having some issues running Circuitscape analysis with Julia 1.1.0.
I always get the error : warn not defined

**Here is the script I get :**

julia> compute("/home/dlecourstessier/dlt/Connectivite/Zone_beta.ini")
[ Info: 2019-08-06 18:16:16 : Logs will recorded to file: log_file
[ Info: 2019-08-06 18:16:16 : Precision used: Double
[ Info: 2019-08-06 18:16:16 : Rea

[2019-08-06 23:08] ranjanan commented on #193
The fix is on the master branch but not in the release. I'll just make a quick release and notify you.

[2019-08-07 03:51] ViralBShah commented on #193
done.

[2019-08-07 03:51] #193 closed

[2019-08-07 14:11] ranjanan commented on #193
@dlecourstessier just execute `using Pkg; Pkg.update()` at the Julia REPL, it should update your version of Circuitscape and you should see your package updated.

[2019-08-07 14:12] dlecourstessier commented on #193
Yes ! I did it and it is now running !! Thank you very much !

[2019-09-04 20:04] Kim-Hall opened #196 "Example file naming issues"
I’m working through the examples in the manual, and it seems to me that when Circuitscape runs, it won’t find the sources and grounds files listed in the example .ini files.   The names in the list of example files are “sources_grid.asc” and “grounds_grid.asc”, but in the .ini files that are also on the examples file list (and that come with the downloads of v4), the names are “sources10x10.asc” a

[2019-09-05 15:08] glaroc commented on #174
Any updates on this issue? I'll need to run a bunch of tests soon with the same raster dimensions.

[2019-09-05 17:17] ViralBShah commented on #174
@ranjanan How do you suggest reducing the memory consumption in the sparse matmuls?

[2019-09-05 23:23] ranjanan commented on #174
I haven't gotten a chance to work on this yet, but I'll give a good go this weekend. We just need that Galerkin operator `A'*B*A` optimised.

[2019-09-06 03:09] ViralBShah commented on #174
Ah yes, that should be easy. @andreasnoack Do we have a general facility to overload these?

[2019-09-06 11:03] ViralBShah commented on #174
Yes. That's right.

[2019-09-08 21:21] ViralBShah opened #197 "Use multi threading"
We should move to Julia multi threading and get ready for 1.3.

[2019-09-09 20:31] ViralBShah commented on #174
@ranjanan the `A'*B*A` can't be easily calculated without forming an intermediate product. So, no easy savings there. This problem just looks extremely big for 150GB RAM.

[2019-09-09 20:39] andreasnoack commented on #174
What are the shapes of `A` and `B`?

[2019-09-09 21:55] ViralBShah commented on #174
B is square (nxn). A is rectangular (nxm). n>m. The operation is basically coarsening B.

[2019-09-17 16:42] mattwilliamson13 commented on #178
Did the update to Omniscape also resolve this issue? Or is it still not possible to pass tests on a Windows machine?

[2019-09-17 17:09] ranjanan commented on #178
No it didn't. The way to resolve this is to get rid of the SharedArray dependency, but we are planning to do this as we move Circuitscape to Julia's new multi-threading infrastructure (https://github.com/Circuitscape/Circuitscape.jl/issues/197, https://julialang.org/blog/2019/07/multithreading), which we will prioritize from now on.

[2019-09-18 19:39] ViralBShah commented on #178
@Chulkey Do you still get the failure on Julia 1.2? Can you say more about your machine? Which exact version of windows? Is it 32-bit windows or 64-bit? Is Julia 32-bit or 64-bit. In Julia, please paste the output of `versioninfo()`.

[2019-09-23 23:08] VLucet commented on #178
I am having the same problem on Windows 10
[code]

[2019-10-03 18:46] dlecourstessier opened #198 "ERROR: Failed to read habitat map. There may be errors in your file."
Hi !

I am trying to run an analyse in mode "advanced", but it seems that there is an error in my habitat (resistance) map. However, it was working last week (I've change few thing in the source file since, which is why I have to re-run the analyses) and doesn't anymore... would you have an idea on what's going on ?

Here is the link to the files ; https://drive.google.com/drive/folders/1OkB65t-Lo

[2019-10-21 07:49] MarioInTaipei opened #199 "ERROR: DimensionMismatch"
Hi,
I ran a relatively large file (11M connections between 3960000 nodes ) in Circuitscape 5.5.4 and Circuitscape 4.0.5 using the same .ini file.
It works well in 4.0.5 generating 216764 entries in the output_voltages.txt.
In 5.5.4 it generates the error: "tried to assign 3960001-element array to 216764×1 destination".

[2019-10-22 17:45] ranjanan commented on #199
I see, thanks for pointing this out. Could you test this with the master
branch of Circuitscape too? It might be fixed there.

Best,
Ranjan Anantharaman

On Mon, Oct 21, 2019 at 3:49 AM MarioInTaipei <notifications@github.com>
wrote:

[2019-10-23 00:34] MarioInTaipei commented on #199
I tried the master branch and get the same error.

Best,

Mario

On Wed, 23 Oct 2019 01:45:12 +0800, Ranjan Anantharaman
<notifications@github.com> wrote:

[2019-10-23 11:00] ViralBShah commented on #199
Could you share your input files and the ini file?

[2019-10-23 13:34] MarioInTaipei commented on #199
Hi,
I found that the error happens regardless of input file size. I attached the pairs and ini (I had to add a.txt ending to upload it to Github)
[pairs.txt](https://github.com/Circuitscape/Circuitscape.jl/files/3762589/pairs.txt)
[ground.txt](https://github.com/Circuitscape/Circuitscape.jl/files/3762590/ground.txt)
[source.txt](https://github.com/Circuitscape/Circuitscape.jl/files/3762591/source.

[2019-11-20 15:30] frederikvand opened #200 "Make 64-bit indexing default. Was ERROR: LoadError: InexactError: trunc(Int32, 2147483653)"
I am running circuitscape 5.5.4 on linux with julia. There are 35 parallel processes with 20 gb per node (700gb ram). The habitat resistance rasters are Int16. After 1.5 hours I get an error related to string conversion. There are more nodes than the integers in Int32. Could that be the cause?

/buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v1.2/Pkg/src/Types.jl:1171
[ Info: 2019

[2019-11-20 15:31] frederikvand commented on #200
[Options for advanced mode]
ground_file_is_resistances = True
remove_src_or_gnd = keepall
ground_file = (Browse for a ground point file)
use_unit_currents = False
source_file = (Browse for a current source file)
use_direct_grounds = False

  [Mask file]
mask_file = None
use_mask = False

  [Calculation options]
low_memory_mode = False
parallelize = True
solver = cholmod
print_timings = True
preemp

[2019-11-20 15:46] ViralBShah commented on #200
What is your julia `versioninfo()`?

[2019-11-20 15:51] frederikvand commented on #200
Julia Version 1.2.0
Commit c6da87ff4b (2019-08-20 00:03 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Xeon(R) Gold 6140 CPU @ 2.30GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-6.0.1 (ORCJIT, skylake)
Environment:
  EBVERSIONJULIA = 1.2.0
  EBROOTJULIA = /apps/leuven/skylake/2018a/software/Julia/1.2.0
  EBDEVELJULIA = /apps/leuven/skylake/2018a/software/Julia/1.2.0

[2019-11-20 16:07] ViralBShah commented on #200
Seems like we should be using sparse matrices with 64-bit indices here. @ranjanan Is this an easy fix? It would be ok to use 64-bit int sparse matrices by default.

[2019-11-20 19:01] mattwilliamson13 opened #201 "ERROR: BoundsError: attempt to access 0-element Array{SharedArrays.SharedArray{Float64,2},1} at index [1]"
Hello,
I am consistently getting the following error:
`ERROR: BoundsError: attempt to access 0-element Array{SharedArrays.SharedArray{Float64,2},1} at index [1]`

when trying to run in pairwise mode for a relatively large problem (statewide at 270m resolution). This error does not show up in all-to-one mode nor in any of the tests, but consistently shows up in pairwise. For context, I am trying to

[2019-11-20 22:44] mattwilliamson13 commented on #201
I uploaded the files [here](https://drive.google.com/file/d/118k1vNWHNkOR9jMfO2UBnwiLh3tIpdbj/view?usp=sharing) in case you want to try reproducing the error

[2019-11-21 00:58] ViralBShah commented on #200
Can you try setting the following in the .ini file?
[code]
Like in https://github.com/Circuitscape/Circuitscape.jl/blob/master/test/input/raster/pairwise/16/sgVerify16.ini

[2019-11-21 01:09] ViralBShah commented on #191
I think this issue is about the python version, so closing here.

[2019-11-21 01:09] #191 closed

[2019-11-21 01:10] #190 closed

[2019-11-21 01:11] ViralBShah commented on #192
It is recommended to use the Julia version through the command line for now. We have a bunch of overhauls to do before we can come back to the GUI.

[2019-11-21 01:13] ViralBShah commented on #192
@ranjanan Perhaps we can replace the beta binaries on the downloads page with Julia and package installation directions?

[2019-11-21 03:30] ViralBShah opened #202 "Failing tests in Raster one to all in Julia 1.4-dev"
[code]

[2019-11-21 03:31] ViralBShah commented on #202
[code]

[2019-11-21 03:31] ViralBShah commented on #202
This is using Circuitscape master and Julia master.

[2019-11-21 05:49] ViralBShah commented on #202
The failure doesn't happen in Julia 1.3-rc5. So perhaps an upstream issue.

[2019-11-21 12:17] frederikvand commented on #200
Dear ViralBShah,

Thank you for the assistance. The script now progresses 15 min longer untill the following bus error occurs. Does this mean that 700gb ram is not sufficient?

signal (7): Bus error
in expression starting at /data/leuven/330/vsc33060/Julia/scripts/circuittest.jl:4
__memmove_ssse3_back at /usr/lib64/libc.so.6 (unknown line)
unsafe_copyto! at ./array.jl:226 [inlined]
unsafe_copyto!

[2019-11-21 14:07] ViralBShah commented on #200
Can you run it with just one process (no parallelism), and then increase the amount of parallelism if it works? You are only giving it 20GB per process, which sounds low.

[2019-11-21 14:40] KristofferC commented on #202
Some analysis:

https://github.com/JuliaLang/julia/issues/33904#issuecomment-557114048

[2019-11-21 15:32] ViralBShah commented on #198
Sorry - we did not respond. Did this eventually work out?

[2019-11-21 15:33] ViralBShah commented on #174
The suggested change is already implemented. Thanks @glaroc

[2019-11-21 15:33] #174 closed

[2019-11-21 15:34] dlecourstessier commented on #198
Hi !

I work with Timothée Poisot, so we are now using Omniscape and it works !!
Thanks for asking 🙂

Daphnée Lecours Tessier
Candidate à la Maîtrise /  M Sc. candidate
Laboratoire d'écologie computationnelle de Timothée Poisot
Université de Montréal, Département des Sciences Biologiques
Pavillon Marie Victorin, C.P. 6128, succ. Centre-ville Montréal, Québec H3C 3J7 Canada

_______________________

[2019-11-21 15:35] #198 closed

[2019-11-21 15:52] glaroc commented on #174
@ViralBShah I'm curious to know whether there has been any progress on the memory issues discussed in this thread?

[2019-11-21 16:51] ViralBShah commented on #174
The next plan is to use multi-threading and we hope it will use less memory in parallel (for certain solve modes). On the specific issue of sparse matmul discussed above, we don't expect improvements in that operation.

Once we have multi-threaded circuitscape, we should do some memory profiling and see if there are other opportunities.

[2019-11-21 17:51] ranjanan commented on #200
Yes, @frederikvand, could you try with fewer processes? Just change `max_parallel` to something smaller. Each process gets its own copy of the landscape does a certain number of solves.

[2019-11-21 17:55] ranjanan commented on #192
Yes, we can leave instructions on installing the package and building an INI file.

[2019-11-21 17:56] ranjanan commented on #192
Should I remove the links to the GUI? I'm tempted to keep them online too because they do work for some people, even if they do have some issues.

[2019-11-21 19:21] ViralBShah commented on #192
How about clearly articulate the command line instructions for the Julia REPL (on the downloads page) and say the new GUI is experimental.

[2019-11-22 08:50] frederikvand commented on #200
Dear ranjanan and ViralBShah,

Using a different cluster with 12 processes (14 cores) and 750 gb ram solved some problems.
However, after 3 hours and 47 min there are is a critical write error. Would you perhaps know the cause? Thanks a lot for all the aid!

/var/spool/torque/mom_priv/prologue: line 44: echo: write error: Invalid argument
┌ Error: Fatal error on process 10
│   exception =
│    val

[2019-11-22 12:29] ViralBShah commented on #200
Can you try with one process?

[2019-11-22 12:31] ViralBShah commented on #200
Your problem appears to be very large. These errors usually happen when you are running out of memory.

[2019-11-23 17:55] ViralBShah commented on #200
We can reopen if we find an underlying circuitscape issue.

[2019-11-23 17:56] ViralBShah commented on #200
Actually, we should close this when we make 64-bit indexing the default. That will address one of the issues here.

[2019-11-23 19:55] frederikvand commented on #200
Thanks ViralBShah, currently the big memory servers are occupied so haven't been able to test it without parallel yet. However, when I monitored memory in the last process (14 processes for 750 gig ram), average memory use was 250 gig ram. I will let you know if I had the same issue without parallel processing.

Have a nice weekend!

[2019-11-26 19:47] vlandau opened #203 "GZip broken for Windows in Julia 1.3, so Circuitscape (and Omniscape) also broken"
libz was renamed in Julia 1.3 which caused GZip to no longer work.

I reached out to the GZip devs a couple of weeks ago and they have a pull request (not yet merged), but I haven't heard anything in a while.

With the release of Julia 1.3 last night, this means that Circuitscape is now also broken in Julia 1.3 because of it's dependency on GZip. Omniscape is *also* broken now because of the depen

[2019-11-26 20:57] vlandau commented on #203
Okay, the fix was just merged with the master of GZip, so once a patch is released, we'll need to updated the GZip compat entry for Circuitscape. I can do a PR to do that. I know @ranjanan is very busy with other things at the moment.

[2019-11-27 00:22] ViralBShah commented on #203
A PR is appreciated. Do you have commit access to this package?

[2019-11-27 00:31] vlandau commented on #203
I do. I'll put in a PR to merge to master. I've got the fix on the [GZip-fix branch](https://github.com/Circuitscape/Circuitscape.jl/tree/GZip-fix) now, and it's parent commit is the v5.5.4 tag, so we could tag a new patch release from GZip-fix immediately.

Here's my commit (also see an added comment): https://github.com/Circuitscape/Circuitscape.jl/commit/8c920fd

[2019-11-27 05:59] #203 closed

[2019-11-29 22:46] ranjanan commented on #201
Thanks for reporting this! I'm able to reproduce this on my machine so let me investigate

[2019-11-30 02:00] #201 closed

[2019-11-30 02:03] ranjanan commented on #201
@mattwilliamson13 I found the bug and merged the fix via #207. Could you run `Pkg.add(PackageSpec(name="Circuitscape", rev = "master"))` at the Julia prompt? That would upgrade you to the master branch and you can check if the fix works.

[2019-11-30 04:21] ViralBShah commented on #202
Fixed in https://github.com/JuliaLang/julia/pull/33909

Thanks @KristofferC

[2019-11-30 04:21] #202 closed

[2019-11-30 04:22] ViralBShah commented on #200
Circuitscape 5.5.5 should use 64-bit indexing by default, and that should avoid this from happening.

[2019-11-30 04:22] #200 closed

[2019-11-30 04:24] ViralBShah commented on #150
This is an out of memory error in the solver. It means the problem is too big for using Cholmod.

[2019-11-30 04:24] #150 closed

[2019-12-05 23:57] mattwilliamson13 commented on #201
Awesome. Thanks @ranjanan. Works great!

[2019-12-06 03:06] ranjanan commented on #199
@MarioInTaipei I am able to reproduce this error, I'll come up with a fix soon. I see that you're using network mode? Could I ask you about your application and why you choose to use network mode instead of raster mode?

[2019-12-06 03:08] MarioInTaipei commented on #199
Hi,
thank you for the update. We are using circuitscape to solve complex
networks that represent conductive pathways in materials and since these
are 3D (or even more complicated) we cannot discretize them into a raster.

Best regards,

Mario

On Fri, 06 Dec 2019 11:06:34 +0800, Ranjan Anantharaman
<notifications@github.com> wrote:

[2019-12-06 05:05] ViralBShah commented on #199
That's fascinating. Any pointers to your work or papers would be fun to look at.

[2019-12-06 05:06] MarioInTaipei commented on #199
We are currently in the process of submitting the paper and I will update
you as soon as it comes out.

On Fri, 06 Dec 2019 13:05:10 +0800, Viral B. Shah
<notifications@github.com> wrote:

[2019-12-09 21:06] ranjanan commented on #199
@MarioInTaipei I am currently in the process of finishing up my semester (and all the associated exams), and I will be able to work on this a little before Christmas time. I hope this does not get in the way of you submitting your work.

[2019-12-10 02:01] MarioInTaipei commented on #199
Hi,
no worries, getting this to work is only a bonus. Good luck with your
exams!

On Tue, 10 Dec 2019 05:06:33 +0800, Ranjan Anantharaman
<notifications@github.com> wrote:

[2019-12-11 06:05] Jinyu8579 opened #208 "JSExpr: Unsupported `string` expression, "$(e)"JSExpr: Unsupported `string` expression, "$(e)" 64-bit Windows installer"
new user of version 5 on Windows. Recently several .asc files (named tea.asc, en.asc, 114MB and 115MB) have been successfully run on it, where data represents conductance. However, these two days when I run a .asc file (named river.asc, 36.8MB) with data represents resistance instead of conductance, the Circuitscape window proceeds to "Reading maps," and the Julia window shows "JSExpr: Unsupported

[2019-12-11 06:19] Jinyu8579 opened #209 "Bounds error"
Considering it is unsuccessfully run on 64-bit Windows installer with the error report "JSExpr: Unsupported `string` expression, "$(e)"JSExpr: Unsupported `string` expression, "$(e)"", then I tried to installed  julia-1.3.0 and installed Circuitscape according to the instructions on the README. All the tests are passing by doing the following: julia> Pkg.test("Circuitscape"). Because there are zer

[2019-12-11 06:53] Jinyu8579 opened #210 "Error: zero resistance values are not currently supported for habitat maps. Use a shor circuit region file instead"
When I run a .asc file with zero resitance values using Circuitscape v5.5.5 on julia 1.3.0, it reports error "Error: zero resistance values are not currently supported for habitat maps. Use a shor circuit region file instead". How can I set values in the .ini file for .asc file with zero resitance values? I am very new to Julia and Circuitscape.jl, so please forgive a very basic question. I am so

[2019-12-13 10:07] #208 closed

[2019-12-13 10:07] #209 closed

[2019-12-13 10:07] #210 closed

[2019-12-14 07:56] Jinyu8579 opened #211 "ERROR: LinearAlgebra.LAPACKException(2)"
I am currently running landscape connectivity analysis with circuitscape 5.5.5  im‐
plemented in Julia, but I get this error :

ERROR: LinearAlgebra.LAPACKException(2)
Stacktrace:
 [1] chklapackerror at /buildworker/worker/package_linux64/build/usr/share/julia/stdlib/v1.3/LinearAlgebra/src/lapack.jl:38 [inlined]
 [2] gesdd!(::Char, ::Array{Float64,2}) at /buildworker/worker/package_linux64/build/u

[2019-12-14 07:57] Jinyu8579 commented on #211
julia> compute("/home/stu_lijinyu/resistance/alt_0001_polyfalse")
[ Info: 2019-12-14 15:49:50 : Precision used: Double
[ Info: 2019-12-14 15:49:59 : Reading maps
[ Info: 2019-12-14 15:50:19 : Resistance/Conductance map has 12600000 nodes
[ Info: 2019-12-14 15:50:48 : Solver used: AMG accelerated by CG
[ Info: 2019-12-14 15:50:48 : Graph has 12600000 nodes, 57 focal points and 1 connected component

[2019-12-15 16:56] Kim-Hall commented on #188
Just spending my sunday reading all of the issues --and apologies if I'm not really up to date here. @simon-tarr have you tried this since Ranjan moved from having a GUI to building the .ini in the CS.jl run?

[2019-12-15 17:03] Kim-Hall commented on #185
Hi Doug - the team here did not actually build the Core Mapper tutorial for Gnarly - that was Brad McRae who passed away in 2017, probably also with help from the other Gnarly co-authors.  If you are still interested/having issues, I can likely connect you to them.

[2019-12-15 18:03] Kim-Hall commented on #158
Hi @wpeterman - this is a bit of a tangent, but I'm the project manager for the grant to do this work, and saw you had run time comparisons with your R-based tools.  Our team (without Brad) does not really have experience with landscape genetics applications- we are all about the maps!  So this comment and others are appreciated.  Have you by chance re-run the time trials you shared before with th

[2019-12-15 18:32] wpeterman commented on #158
I have not, but might find some time to do so in the near future.

*Bill Peterman *Assistant Professor
School of Environment and Natural Resources
The Ohio State University
2021 Coffey Road
Columbus, OH 43210-1085
Phone: 614.292.9795
Web Page <https://goo.gl/4Gc15W>
Terrestrial Wildlife Ecology Lab <http://www.twel.osu.edu>

Bill Peterman

On Sun, Dec 15, 2019 at 1:03 PM Kim Hall <notifications@gi

[2019-12-16 01:08] Kim-Hall commented on #158
ok, thanks Bill!  Either way, please keep the bug reports and suggestions coming, and maybe we could do a brainstorming call at some point after the holidays.

[2019-12-17 16:41] ViralBShah opened #212 "Test failure on mac due to too many open shm segments"
I get this test failure on mac:

[code]

[2019-12-17 16:42] ViralBShah commented on #212
It's best to move to multi-threading (#197)

[2019-12-19 14:21] ViralBShah opened #213 "Experiment with METIS ordering in cholesky"
Currently, Julia's cholesky solvers do not ship with metis. We have now enabled shipping metis with suitesparse, and Circuitscape should be able to automatically benefit from it. Implemented in 85eb5491922033a2794c833ed3b4cd58e3837ab7 but experiments will need to be carried out to see if this helps in practical scenarios.

[2019-12-19 14:23] ViralBShah commented on #213
@Kim-Hall This is an improvement we made to Julia influenced by the Circuitscape use case.

[2020-01-02 17:34] frederikvand opened #214 "Trouble executing script with specified library location"
Dear,

Because I can't install Julia and Circuitscape in the default user folder on the supercomputer due to restrictions I changed all default locations with the following code:

JULIA_DEPOT_PATH= "/data/leuven/330/vsc33060/Julia/Packages"
JULIA_LOAD_PATH="/data/leuven/330/vsc33060/Julia/Packages"
ENV["JULIA_PKGDIR"] ="/data/leuven/330/vsc33060/Julia/Packages"
JULIA_PKGDIR="/data/leuven/330/vsc33

[2020-01-02 17:46] ViralBShah commented on #214
@kristofferc Would you know what is the missing step here?

[2020-01-02 17:52] KristofferC commented on #214
- `ENV["JULIA_PKGDIR"] ="/data/leuven/330/vsc33060/Julia/Packages"` can be removed, it is not used in 1.x
- `DEPOT_PATH[1] = "/data/leuven/330/vsc33060/Julia/Packages"` can be removed since you are already setting the `DEPOT_PATH` with `JULIA_DEPOT_PATH` (note that this envirnment variable has to be set before starting Julia)
- `JULIA_DEPOT_PATH= "/data/leuven/330/vsc33060/Julia/Packages"` could b

[2020-01-02 21:56] ViralBShah commented on #214
Please reopen if the issue persists.

[2020-01-03 03:03] ViralBShah commented on #213
@ranjanan I believe that if we use SuiteSparse_jll which is compiled with METIS support, Circuitscape will automatically use it. Discussion on how it is used is on page 11 of https://dl.acm.org/doi/pdf/10.1145/1391989.1391995?download=true

I guess what we need to do is try a few grids with two different versions of circuitscape with cholmod and see if this is helpful in any way at meaningful grid

[2020-01-03 16:33] frederikvand commented on #214
Thanks a lot for your feedback! The problem persists with the proposed changes although the Pkg.test("Circuitscape") is completed without issues.

CURRENT CODE :

bash-4.2$ export JULIA_DEPOT_PATH="/data/leuven/330/vsc33060/Julia:$JULIA_DEPOT_PATH"

bash-4.2$ cd /scratch/leuven/330/vsc33060/circuitscape/circuit

bash-4.2$ module load Julia

bash-4.2$ julia --project=/data/leuven/330/vsc33060/Julia

[2020-01-03 16:39] frederikvand opened #215 "Please reopen if the issue persists."
Please reopen if the issue persists.

_Originally posted by @ViralBShah in https://github.com/Circuitscape/Circuitscape.jl/issues/214#issuecomment-570367189_

Can't reopen the issue: https://github.com/isaacs/github/issues/583
Original reporter should be able to reopen a closed issue

[2020-01-03 16:42] KristofferC commented on #214
Hm, it is something with that the new processes started with `addprocs` do not have the same things set as you.

Could you, as a test add

[code]

above the line at

https://github.com/Circuitscape/Circuitscape.jl/blob/7d5d23c7cf179ccb68c7ccbef2d13139d61bb72d/src/utils.jl#L127

[2020-01-03 16:53] frederikvand commented on #214
Thank you KristofferC,

The problem persists with the adapted utils.jl file.
julia> import Circuitscape; pathof(Circuitscape)
"/data/leuven/330/vsc33060/Julia/packages/Circuitscape/3Rn8u/src/Circuitscape.jl"

julia> compute("/scratch/leuven/330/vsc33060/circuitscape/circuit/initest.ini")
[ Info: 2020-01-03 17:52:33 : Logs will recorded to file: log_file
[ Info: 2020-01-03 17:52:33 : Precision used

[2020-01-03 17:29] KristofferC commented on #214
If you do

[code]

there, what does it show?

[2020-01-03 17:35] frederikvand commented on #214
# Helps start new processes from the INI file
function myaddprocs(n)
    addprocs(n)
	@everywhere println(Base.active_project())
	@everywhere println(LOAD_PATH)
end

Same error when I add all 4 lines to the utils.jl file

julia> compute("/scratch/leuven/330/vsc33060/circuitscape/circuit/initest.ini")
[ Info: 2020-01-03 18:34:42 : Logs will recorded to file: log_file
[ Info: 2020-01-03 18:34:42 : P

[2020-01-03 17:53] frederikvand commented on #214
Currently there is only the following code in the Project.toml file
[deps]
Circuitscape = "2b7a1792-8151-5239-925d-e2b8fdfa3201"

Anything I can add there so it actually finds the package?

Thank you for all the help.

[2020-01-03 20:31] ViralBShah commented on #215
I have reopened #214. Closing this one.

[2020-01-03 20:31] #215 closed

[2020-01-03 20:56] KristofferC commented on #214
Yeah, I didn't expect the error to go away but that the printout could possibly diagnose it.

For some reason the workers started by `addprocs` can't find `Circuitscape` and I am not really sure why.

Could you try set

[code]

(before starting Julia and try again)

[2020-01-04 15:22] frederikvand commented on #214
bash-4.2$ export JULIA_LOAD_PATH=/data/leuven/330/vsc33060/Julia/circuit
seems to have fixed initial problems after I also reinstalled and added Pkg to my project file!

The full script is running on the superdome cluster now.

There is an initial error /var/spool/torque/mom_priv/prologue: line 44: echo: write error: Invalid argument but the script is still running. This is the same error I got be

[2020-01-04 15:22] #214 closed

[2020-01-05 20:57] ViralBShah commented on #214
Thanks @KristofferC

[2020-01-05 21:00] frederikvand commented on #214
Yes thank you @KristofferC!

[2020-01-05 21:05] KristofferC commented on #214
No problem. Loading packages on workers is something that should be improved.

[2020-01-08 09:49] ranjanan commented on #199
@MarioInTaipei I have been working on a fix, and got the following outputs. Could you verify that these outputs look right and match Circuitscape 4? if so, I'll push this fix.

[output_voltages.txt](https://github.com/Circuitscape/Circuitscape.jl/files/4034612/output_voltages.txt)
[output_node_currents.txt](https://github.com/Circuitscape/Circuitscape.jl/files/4034613/output_node_currents.txt)
[ou

[2020-01-08 09:50] ranjanan commented on #212
I agree. This does not look trivial.

[2020-01-08 09:51] ranjanan commented on #211
@Jinyu8579 could you please attach your problem files here or link them to me via Google Drive/ Dropbox? I'll take a look and get back to you.

[2020-01-08 17:49] frederikvand commented on #159
Noticed the same issue in januari 2020 with the solver change as the most prominent.

[2020-01-08 18:51] frederikvand opened #216 "No output with completed script"
Dear Circuitscape associates,

In this case I was only interested in effective resistances between pairs without output maps (similar to test scenario AllToOneVerify1.ini which correctly gives output). However when the script was finished there was no output (except the standard settings in the .out file and the log file).

What could cause blocking the output? Thank you for your insights!

With k

[2020-01-09 02:33] MarioInTaipei commented on #199
Hi,
the results are spot on except for one issue: The first element (1, 0)
should not be there since it makes the array one element too long and is
not the correct voltage for the first node (i.e. 2, 20.7) is. Also, the
format of the first column used to be integer (1) but now is float (1.0).
This is not a problem for our purpose but might cause problem with others?

So, even in the current form t

[2020-01-09 15:55] frederikvand commented on #216
Might be related to a possible disk swap problem on the supercluster. Will close the ticket once I am sure the problem is not code related!

[2020-01-09 15:57] #216 closed

[2020-01-23 17:34] linhunt opened #217 "What type of files needed for Circuitscape 5"
I am trying to use the new GUI which asks for the input resistance data and focal node locations file in step two. However if you are using a raster this is a folder with many files in it and the same for points for the focal nodes. The choose a file doesn't let you choose the whole folder or all the feature files so which files do you use? or do you need them in ASCII form? Thanks

[2020-01-24 00:43] ViralBShah commented on #217
Can you try the command line version? The GUI is not actively maintained at the moment.

All file formats from CS 4 are compatible with CS 5.

[2020-01-24 14:20] linhunt commented on #217
I guess I am unsure what file format I need for the Julia version, I have tried reading the documentation but it doesn't explicitly say which format the files need to be in (resistance and focal node). Also are there clear line by line instructions on how to use the command line format? I am somewhat unfamiliar with Julia.

Thanks,
Lindsay
________________________________
From: Viral B. Shah <noti

[2020-02-07 18:36] ViralBShah opened #218 "Experiment with PARDISO solvers from MKL"
Now in BB as well:

https://github.com/JuliaSparse/Pardiso.jl/pull/56

[2020-02-10 17:25] linhunt commented on #217
Is there a plan to have a user manual or guide like with the circuitscape for the julia version? I am not yet proficient in Julia. As I am trying to implement the command line version I don't seem to find a outlined code to use? I have ascii and raster files from previous version but not any .ini files. Thank you for your help

[2020-02-10 19:17] ViralBShah commented on #217
CS 5 is fully compatible with CS 4 on file formats, and the Circuitscape.jl page gives the Julia specific instructions. More integrated instructions will probably take some time - but we are taken up at the moment with various other things.

[2020-02-13 22:34] ViralBShah commented on #218
@ranjanan Can you note your findings here?

[2020-02-16 15:51] ViralBShah commented on #218
@ranjanan reports:
On Antarctic, MKL Pardiso about 20% faster than CHOLMOD using the defaults. Antarctic has 20 cores, which PARDISO is able to utilize.

[2020-02-16 15:51] ViralBShah commented on #218
![image](https://user-images.githubusercontent.com/744411/74607843-4295d700-50aa-11ea-9e0a-ccdff43d7c73.png)

[2020-02-17 17:04] vlandau commented on #165
Not sure if this is fixed yet, but it should automatically be resolved once multi-threading is implemented.

[2020-02-18 15:11] glaroc opened #220 "Add possibility to save as .tif with compression"
We are producing a very large number of Circuitscape outputs and the .asc format is really not a good format for storing large rasters. It seems like it would be quite straightforward to add the possibility to save the outputs as .tif with LZW lossless compression using GDAL.jl. This would create files that are much smaller and more optimized for GIS viewing.

[2020-02-18 15:41] ViralBShah commented on #220
Is GDAL now available through BB?

[2020-02-18 15:42] ViralBShah commented on #220
A PR would be much appreciated, since we otherwise have a long list of things to address in Circuitscape and may not get around to this.

[2020-02-18 15:44] ViralBShah commented on #213
Early findings from Ranjan suggest that METIS ordering is not getting used here. We may need more tooling to be able to pass these options to SuiteSparse.

[2020-02-18 16:24] ranjanan commented on #220
GDAL is available as an artifact: https://github.com/JuliaBinaryWrappers/GDAL_jll.jl

[2020-02-18 17:02] glaroc commented on #220
I'll try to do a PR, but I can't guarantee I'll have time soon. I'll try!

[2020-02-18 17:31] ranjanan commented on #220
@glaroc I'm happy to help along the way. Feel free to ping me here or on Slack if you have any questions.

[2020-02-24 23:45] vlandau commented on #220
If this is figured out, might make it low-hanging fruit to also allow tif files as *input*, which would also help make workflows more efficient. +1 from me!

[2020-02-25 00:06] ViralBShah opened #222 "disable logging during tests"
The testing should probably disable the printing all those info messages to screen.

[2020-02-25 01:56] #213 closed

[2020-02-25 01:56] ViralBShah commented on #211
Closing unless we have a reproducer dataset on the latest release.

[2020-02-25 01:56] #211 closed

[2020-02-25 01:57] #218 closed

[2020-02-25 01:58] ViralBShah commented on #212
I don't get this any more, and #223 will probably help as well.

[2020-02-25 01:58] #212 closed

[2020-02-25 02:25] ViralBShah commented on #178
#223 should close this issue. Please file new issues if problem perisists on the latest master.

[2020-02-25 02:25] #178 closed

[2020-02-25 02:27] ViralBShah commented on #188
Please reopen if still an issue on the latest Circuitscape master.

[2020-02-25 19:00] glaroc commented on #220
Note that this should also speed up i/o quite a bit, especially for large files. I just did a test by importing the same file as asc and geotiff:

@time ga2=readdlm("test.asc",Float32,skipstart=6)
 55.028136 seconds (491.58 M allocations: 13.272 GiB, 11.95% gc time)
9524×13197 Array{Float32,2}:

@time ga = GeoArrays.read("test.tif")
  3.126899 seconds (96 allocations: 988.900 MiB)
13197×9524×1 Geo

[2020-02-25 19:21] vlandau commented on #220
Is there an easy way of converting `ga` to a 2D Float64 array? If so it would be as easy as doing the file read as you have it, then doing a conversion, and leaving everything else in Circuitscape as-is. All of the functions in Circuitscape (and likely those from many of its dependencies) don't have methods for GeoArrays.

[2020-02-25 20:25] glaroc commented on #220
I'm not a Julia expert, but it should be as simple as:

@time ga2=Array{Float32}(ga)[:,:,1]
 24.728426 seconds (628.59 M allocations: 12.181 GiB, 15.90% gc time)
13197×9524 Array{Float32,2}:

There might be a better, more efficient way of doing it...?

[2020-02-25 20:43] ViralBShah commented on #220
That seems to kill a lot of the speed. Any idea why the conversion is so slow?

[2020-02-25 20:53] glaroc commented on #220
I'm not sure why this is so slow. I guess it's just going from a 2x2xN array to a 2x2 array?

A simple solution is just to extract the first band. permutedims seems to work.

@time ga2=permutedims(ga[:,:,1])
 22.075344 seconds (491.36 M allocations: 8.266 GiB, 13.30% gc time)
9524×13197 Array{Float32,2}

[2020-02-25 21:12] vlandau commented on #220
I'm 100% for adding support for tifs, so this is just playing devil's advocate...

One potential downside to accommodating tifs is that it requires users to have GDAL, which is a rather large dependency. Does `Package.add("GeoArrays")` also add GDAL to the host, or does it need to be installed manually? A manual install might prove a challenge for some users (but it could be easy enough to just li

[2020-02-25 21:14] vlandau commented on #220
A GDAL dep could also open up a whole world of additional possibilities for new Circuitscape features.

[2020-02-25 21:16] glaroc commented on #220
@vlandau Since GDAL is available as a BB (see discussion above), GDAL doesn't need to be compiled and installed separately. Just need to run

Pkg.add("GDAL_jll")

[2020-02-25 21:18] vlandau commented on #220
Awesome. I wasn't sure what a BB was -- I'm still a bit of a programming newbie! :)

[2020-02-25 21:31] ViralBShah commented on #220
Yes, it will all come automatically. We definitely don't want to use a GDAL on people's computers. With BB (BinaryBuilder), we provide precompiled binaries for all architectures. See: https://julialang.org/blog/2019/11/artifacts/

In fact `GDAL_jll` will just be a Circuitscape depenency. So people will just get it automatically.

[2020-02-26 03:02] ViralBShah commented on #220
BB is a very Julia specific acronym and a very recent one that only package authors mostly know about! We're going to get a website and more information on it out eventually...

[2020-02-26 03:20] ViralBShah commented on #188
I wonder if we can call `gc()` once after the inner loop of the pairwise computations in order to release as many shared memory segments as possible. I suspect it is running out of those.

[2020-02-26 03:26] ViralBShah commented on #188
Same issue: https://github.com/JuliaData/CSV.jl/issues/424
Also see: https://stackoverflow.com/questions/4692426/largest-memory-map-allocation-size

Basically I think it is not worth chasing this one except for calling `gc()` in the compute loop and seeing if it does the trick. Otherwise, the focus needs to be on multi-threading.

[2020-02-26 03:31] ViralBShah commented on #178
Actually more likely a dup of #188

[2020-02-26 03:33] ViralBShah commented on #188
[code]

[2020-02-26 03:34] ViralBShah commented on #197
Also, with Omniscape using multi-threading, it makes sense for Circuitscape to also be doing the same.

[2020-03-10 16:34] glaroc commented on #220
#226

[2020-03-15 22:12] ranjanan opened #228 "New GUI using Gtk?"
Building it with Glade and GtkBuilder might be the way to go. Should just be a few days of work. Lower priority as compared to multi-threading but the excellent Artifacts system seems to let us ship such a complex library and get it to work.

[2020-03-15 22:20] ViralBShah commented on #228
Tk.jl might perhaps be simpler.

[2020-03-23 21:54] ranjanan commented on #197
Blocking issue: I see this come up fairly often when I'm running it multi-threaded: https://github.com/JuliaMath/IterativeSolvers.jl/issues/272

[2020-04-18 19:36] k-barnett commented on #165
Hi all, just wanted to follow up on this to see if Circuitscape is in fact using all processors declared in the .ini files. From my end, I don't see any change in performance between 8 and 24 processors when performing a pairwise model run. Running on Windows, Julia 1.4.1.

[2020-04-20 16:17] vlandau commented on #165
@k-barnett please feel free to open a new issue and we'll try to get it sorted for you!

[2020-04-21 19:33] sean-streich opened #231 "Add resistance reclass and reclass file option"
Hello,
I am just starting to use Ciruitscape and have had success running my data.  I am experimenting with different resistance vales in my raster and will eventually be testing dozens of different large maps.  Would the reclass option allow me to use a single raster and adjust resistance values through different reclass files instead of the extensive work of making many large resistance files.

[2020-05-02 03:25] indranil-wii opened #232 "Circuitscape in Julia unable to process a 1.4 Billion pixel landscape"
Hello,
I am new to Circuitscape in Julia and also Julia per se. I am trying to run Circuitscape on a landscape which is 37946 X 36946 pixels of 30m spatial resolution. I have scaled the conductance values from 1 to 100.

The specifications of my system is:
2 X Intel Xeon Gold 6136 so total 24 physical processor cores
128GB RAM.

When I tried parallel processing using 10 cores, my system ran out of

[2020-05-02 15:16] ViralBShah commented on #232
1.4 billion just sounds really big. You should try with 1 core first.

[2020-05-02 15:59] indranil-wii commented on #232
Hi Viral. Thanks for the reply. I have upgraded my RAM to 348GB now. Still I will go with 1 core first as you suggested. Issue #200 provided some help. Will be using the following to use 64 bit indexing:
`use_64bit_indexing = true`

[2020-05-02 20:51] ViralBShah commented on #232
Great. Parallel processing also needs extra memory. So the larger the problem, the more you have to start slowly and push the parallelism.

[2020-05-03 05:17] indranil-wii commented on #232
Hi Viral. Ran the same landcape with 1 core and 64 bit indexing. FAILED !! OutOfMemoryError()

My conductance surface is 10.5GB and the core area raster is 7.69GB. I am unable to understand why 348GB RAM is not enough.

Attaching screenshot. Also, this is being run on Windows 10 Pro (if that information is of any use). I have access to a Linux machine as well. I can swap the RAM modules and try on

[2020-05-03 13:35] ViralBShah commented on #232
Which solver are you using? Make sure it is cg+amg.

[2020-05-03 13:37] ViralBShah commented on #232
The underlying graph and soccer data structures easily take 10x-20x more memory than your surface.

We have done reasonably careful memory profiling, but there may be more options.

[2020-05-03 14:00] indranil-wii commented on #232
I was using the cholmod solver. I will give it a try with cg+amg.

[2020-05-03 14:53] ViralBShah commented on #232
Oh yeah - cholmod will not work for anything more than 1-10M cell landscapes. Maybe we should print a warning.

[2020-05-03 14:55] ViralBShah opened #233 "Issue a warning when using cholmod for large grids"
We probably should issue a warning about excessive memory usage when using Cholmod with large grids. Perhaps over 5M cells?

https://github.com/Circuitscape/Circuitscape.jl/issues/232#issuecomment-623122194

A warning that may be clear is something like "Cholmod is a spare direct solver that consumes a lot of memory. A landscaspe with 5M cells will require roughly XGB of RAM. Please use cg+amg`.

[2020-05-03 14:57] ViralBShah commented on #233
Also, when the grids are large enough, we should either automatically use 64-bit indexing, or issue a warning.

https://github.com/Circuitscape/Circuitscape.jl/issues/232#issuecomment-623055782

[2020-05-04 02:56] indranil-wii commented on #232
Was amazed to see the memory gradually maxing out and the application stopping with a OutOfMemoryError(). I have resampled my surfaces from 30m to 100m and saw a dramatic reduction in size. Now both the habitat and node rasters are less than 1GB. Trying again with resampled image.

![Capture2](https://user-images.githubusercontent.com/52761050/80933277-ae056000-8de0-11ea-8239-715bbbf91bd4.PNG)

[2020-05-04 03:23] indranil-wii commented on #232
Hi Viral, with reduced file sizes things seem to be running, even with 4 cores in parallel !! Processing time in each step has drastically reduced too along with a much lower memory footprint.

[2020-05-04 05:20] ViralBShah commented on #232
The old files are fully compatible. Yes, we should document these things. Beyond what I shared here, there really are not many more things. Would you be able to submit a PR?

[2020-05-04 06:14] indranil-wii commented on #232
I am new to GitHub as well, so I will need to read up about pull requests before I am able to do so. However, I can easily prepare a template ini file with annotation.

[2020-05-05 03:30] vlandau commented on #232
Close and move to #233?

[2020-05-05 03:43] vlandau commented on #231
Hi Sean, sorry for the late response here. AKAIK, the reclass option is not supported in Circuitscape.jl. It is something that was used in the old Python version only.

@ranjanan can verify. Ranjan, the only place I saw it in the code was in config.jl [here](https://github.com/Circuitscape/Circuitscape.jl/blob/master/src/config.jl#L60-L61) and in some test .ini files -- it doesn't appear to be use

[2020-05-05 03:49] vlandau commented on #165
I'm closing this as the parallel processing framework will change with multithreading. Can open a new issue if a similar issue arises then.

[2020-05-05 03:49] #165 closed

[2020-05-05 05:13] indranil-wii commented on #232
Once I resampled and made my landscape smaller in MBs, Circuitscape in Julia started working without any error. In fact the analysis that I started is still running. It has 19,900 pairs, and at this rate, I calculated, it will take 200 days!! I am running in 4 cores in parallel and about 50% of 384GB memory usage.

My question is how does this parallelism work? I was thinking that each core will b

[2020-05-05 13:19] ViralBShah commented on #232
We need to move to the multi-threading version of circuitscape that will allow more parallelism and lesser memory. But it is not even ready to try yet, since we are running into some issues.

For now, you can make your problem even smaller and increase parallelism, and/or reduce the number of pairs. What mode are you using? Simple pairwise resistance, no polygons? The simpler you can make it the f

[2020-05-05 13:20] ViralBShah commented on #232
We can keep this open to discuss the particular problem at hand.

[2020-05-05 14:54] vlandau commented on #232
Are you using an include pairs file to specify which pairs you want connected? That can affect the scheduler and make parallelism less efficient (#165)

[2020-05-05 16:46] indranil-wii commented on #232
I am using pairwise mode and I am not using an include pairs file. I have made a raster from the polygon shapefile of the core area polygons and mentioned the path of the file in the "point_file" option. The contents of the ini file are as below. Please tell me if anything is extra or if I am missing anything.

**[Options for advanced mode]**
ground_file_is_resistances = True
source_file = None
re

[2020-05-05 17:02] vlandau commented on #232
Nothing jumps out to me as problematic in your .ini

There seems to be something going on with the task scheduler. @ranjanan or @ViralBShah would there be any reason that the scheduler would behave differently in Julia 1.4?

I'm seeing similar output patterns (that imply no parallel processing) for a specific test on Julia 1.4 as well.

[code]

[2020-05-05 17:11] ranjanan commented on #232
@indranil-wii it seems that your point file contains polygons. That is, you have large regions you'd like to collapse into one point. We do not support parallelism (yet) in this mode because you have to keep recomputing the graph datastructure for every solve and this would take *a lot* more memory if done in parallel (imagine holding 4 of these large graph datastructures in memory).

Is there a w

[2020-05-05 17:28] ranjanan commented on #231
Yes, this is something I haven't ported from the old Circuitscape because nobody asked for it. Honestly, I don't understand reclass files and what they do, or how to make one. @vlandau do you understand [this piece of code](https://github.com/Circuitscape/Circuitscape.py/blob/a39351d5a3f8116352e89bc99b8fb1fa954cc2c8/circuitscape/compute.py#L101)? Happy to just put that in here blindly if that will

[2020-05-05 17:29] vlandau commented on #232
I would do exactly that.

[2020-05-05 17:34] vlandau commented on #231
I'm pretty sure it's basically equivalent to a bunch of `replace!()` commands, where you replace the value in column one of the table with the corresponding value in column 2 in the resistance layer.

[2020-05-05 17:34] vlandau commented on #231
That is what a reclass does for sure -- but I meant that would be an equivalent way to implement it in Julia.

[2020-05-05 17:46] vlandau commented on #231
Makes sense to use if you have only a few (i.e. less than 100) different values in the resistance surface.

[2020-05-05 17:56] glaroc opened #234 "GZip requirement 0.5.1 can't be met"
Currently trying to install Circuitscape fails because GZip 0.5.1, as required in project.toml file is not available in Julia 1.4. Also tried Julia 1.3

[code]

[2020-05-05 17:56] ranjanan commented on #231
Ah I see. That makes sense, because practitioners tend to use only a few values and would simply like 1 value to be replaced by another. Is there a huge convenience to do this in Circuitscape? Don't GIS softwares have this feature? Users export their grids from GIS softwares anyway, don't they?

[2020-05-05 17:58] vlandau commented on #234
Interesting. I've been able to install on Linux in Julia 1.3 and 1.4. What is the output of Pkg.add("Circuitscape"). Does that fail?

[2020-05-05 18:00] ranjanan commented on #234
I just dev-ed Circuitscape yesterday on Julia 1.4 and I got GZip 0.5.1.
[code]

[2020-05-05 18:06] glaroc commented on #234
Sorry guys, I should have double checked. Pkg.add("Circuitscape") works, but I can't install from Github.

[code]

[2020-05-05 18:12] glaroc commented on #234
Nevermind this. Problem was on my side. I wiped out my .julia folder and then it worked. Must have had a corrupted registry.

[2020-05-05 18:12] #234 closed

[2020-05-05 19:03] vlandau commented on #231
GIS programs certainly have this. The point being made by the OP is that this would require creating many large files instead of just computing and storing them in memory during computation.

[2020-05-05 19:15] ranjanan commented on #234
No worries, happy to help!

[2020-05-05 19:35] sean-streich commented on #231
Thanks Vlandau,
Yes, this was my hope and I think it would be useful to have in the future.  Creating each resistance file takes time and uploading it a server leads to about 20 minutes per file for me.  A way to re-class values in julia (2=10, 3=5, ect) could possibly be a nice addition to more easily run many files if the goal was fit models.  I have been following the Sackett et al. 2012 paper,

[2020-05-05 19:50] vlandau commented on #231
Okay -- we will keep that in mind. I believe there are goals to improve and develop documentation specific to Circuitscape.jl, but for now, the manual related to .ini file development can be found here: https://circuitscape.org/docs/ (that's presumably the one you already saw). It is specific to Circuitscape in Python, but nearly all of the .ini options are identical for Circuitscape.jl

@ranjanan

[2020-05-05 20:11] indranil-wii commented on #232
I could do that to simplify the problem and conceptually too it seems fine to use the centroids, However, there are practical problems. The corridors won't be mapped right. On ground the movement of animals is not directed towards the centroid of a park from outside but towards the nearest place on the perimeter. So I have to preserve the actual shape of the core area polygon.

[2020-05-05 20:13] vlandau commented on #232
You could set the sources to be centroids and set your original polygons as short circuit regions. @ranjanan would that work with parallelism?

[2020-05-08 13:37] ViralBShah commented on #232
@indranil-wii Can we request you to take the learnings from this discussion and add them to the README for now https://github.com/Circuitscape/Circuitscape.jl/blob/master/README.md?

There is a little pen next to the README file, so you can just edit the file and submit some text. We can have a new section called - Notes for using Circuitscape on very large grids.

[2020-05-08 13:52] indranil-wii commented on #232
Sure, I can do that.

[2020-05-08 13:55] indranil-wii commented on #232
I would like to try once with point files as my core area. However, I have never done that before. How do I format my core area file then, if they are to be points?

[2020-05-08 14:56] ViralBShah commented on #232
The suggestion is not use the core area / polygons at all, and just compute resistance between pairs of central points in all your core areas.

[2020-05-08 15:42] indranil-wii commented on #232
Yes, I understand. In what format do I supply the central points file?

[2020-05-08 16:07] vlandau commented on #232
This is in the [documentation](https://circuitscape.org/docs/). See the section titled "Focal node location and data type". Focal points can be in the same ASCII format. They just must be only one pixel each.

[2020-05-08 16:54] ranjanan commented on #232
Should work.

[2020-05-09 17:28] ViralBShah commented on #197
@ranjanan Can you post here what the current issue is, and how one should reproduce it?

[2020-05-09 17:28] ViralBShah commented on #197
Never mind - I see it in #230.

[2020-05-22 21:36] frederikvand opened #235 "Maximum amount of pairs and batch processing"
Dear Julia and Circuitscape associates,

When using a pairs file with (and without) short circuits the pairs (and parallel arguments) are ignored. When the pairs file is included it starts to solve all possible pairs (5601952476) based on 105848  habitat patches (or centroids). Example subset to reproduce the problem can be found below.

The pairs file is formatted as:
mode include
4 2
7 2
6 3
1 5

[2020-05-23 21:02] frederikvand commented on #235
Hm, I just noticed that due to downscaling some centroids for the points file "touch" eachother. Will address this and see if that solves anything.

[2020-05-25 09:07] frederikvand commented on #235
The behavior remains the same when the short circuits are not included. Could it be related to the share amount of habitat patches?

[2020-05-25 19:33] frederikvand commented on #235
Same issue with 1/3th of the raster size (part of EU). [ Info: 2020-05-25 21:17:19 : Reading maps
[ Info: 2020-05-25 21:17:35 : Resistance/Conductance map has 30263875 nodes
[ Info: 2020-05-25 21:18:15 : Total number of pair solves = 206400403
[ Info: 2020-05-25 21:18:15 : Solving pair 1 of 206400403
[ Info: 2020-05-25 21:18:43 : Solver used: CHOLMOD
[ Info: 2020-05-25 21:18:43 : Graph has 3026387

[2020-05-26 06:35] frederikvand commented on #235
This might be related to #189?

[2020-05-26 09:47] frederikvand commented on #235
Example to reproduce the problem:
[partial_raster.zip](https://github.com/Circuitscape/Circuitscape.jl/files/4681316/partial_raster.zip)

[2020-05-28 16:07] Kim-Hall commented on #232
Just read through this and while I can't help on the technical issues, I'm curious to know what is being modeled here, given there is such a huge number of pairs to connect.  If you are connecting "everything to everything" maybe Omniscape would be worth a try?  While Vincent is the expert, I'm happy to do a zoom overview of that tool and show you some examples to see if it might fit your problem.

[2020-06-01 23:20] #220 closed

[2020-06-02 16:19] vlandau commented on #235
Parallel processing issue likely related to #165

[2020-06-02 16:23] vlandau commented on #235
I would strongly recommend looking into Omniscape for this problem. You might consider reading up about it [here](https://www.researchgate.net/publication/304842896_Conserving_Nature's_Stage_Mapping_Omnidirectional_Connectivity_for_Resilient_Terrestrial_Landscapes_in_the_Pacific_Northwest), and check out the docs for the [Omniscape.jl](/Circuitscape/Omniscape.jl) Julia package [here](https://circu

[2020-06-02 17:47] ViralBShah commented on #235
As I pointed out in email - this is a huge amount of compute on extremely large grids. I think looking at Omniscape is certainly a good idea.

[2020-06-02 17:51] ViralBShah commented on #218
@vlandau Can you try out using the MKL Pardiso solver in OmniScape? Does it help?

[2020-06-02 17:51] frederikvand commented on #235
Thank you for the recommendations! The issues are not related to grid size as the same issues persist on small subsamples (as in the linked partial_raster.zip. However, I am testing omniscape on the supercomputer cluster at the moment!

[2020-06-02 17:54] vlandau commented on #235
Are you seeing a specific pair that is being written that should not be? Note that Circuitscape states the _total_ number of pairs regardless of "include" status, and AFAIK it skips any pairs that are not in the include file, so it might say solving pair 3 of 5000000, but that does not mean it will solve all 5000000 pairs. Is that right @ranjanan?

[2020-06-02 17:57] vlandau commented on #235
You also have `parallelize = false` in your .ini, so parallel processing will be disabled.

[2020-06-02 18:05] frederikvand commented on #235
If I remember correct I tested this with only 5 points and it was not restraining to the given points only.
I will test this again to be sure! And ofcourse I tested it with parallelize = true. It was just an example ini file to show that the issues are the same with CG+ amg and without parallelize.

[2020-06-02 18:08] vlandau commented on #218
Definitely! So this is a different method from CHOLMOD, and it works in Advanced mode?

[2020-06-02 18:11] vlandau commented on #235
What OS are you using?

[2020-06-02 18:22] frederikvand commented on #235
Linux, Julia Version 1.4.0 and Circuitscape 5.5.4 (however in the .out file it states version = 5.0.0). I update circuitscape each time in my script on the supercomputer with
using Pkg
Pkg.add("Circuitscape")
using Circuitscape

I tested again and as stated before, even with only 5 pairs in the pairs file it keeps computing pairs, overwriting output and not working in parallel.

mode	include
64096

[2020-06-02 18:34] frederikvand commented on #235
Found a small mistake in the test case. I have to try some things again to be sure of the issue.

[2020-06-02 18:36] vlandau commented on #235
Okay good to know. Some additional info below:

To update the package you will need to run Pkg.update("Circuitscape") if an old version of Circuitscape is already installed.

It looks like you still have multiple pixels with the same value in your pairs file, so that will prevent parallel processing from working, see [#232 (comment)](https://github.com/Circuitscape/Circuitscape.jl/issues/232#issue

[2020-06-02 18:40] vlandau commented on #232
This issue appears to have been sufficiently addressed and gone somewhat stale. I'm going to close for now.

[2020-06-02 18:40] #232 closed

[2020-06-02 18:46] vlandau commented on #148
Would centroids (points) with Short circuit regions for the polygons be equivalent and work in parallel?

[2020-06-02 18:54] vlandau commented on #168
Now that .tif writing is implemented on master you can get some pretty good file size savings by setting `write_as_tif = true` in the .ini. GeoTIFFs will be written with lossless LZW compression by default, which will make file sizes much smaller than an equivalent ASCII. That plus the single precision option now implemented sufficiently addresses file size issues in general IMO (when single preci

[2020-06-02 19:39] ViralBShah commented on #218
Yes, it should work everywhere. It is just an alternative solver - but it is a sparse direct solver like cholmod. Probably need to set number of threads to 1 in parallel mode (by looking at Intel MKL docs).

[2020-06-02 19:42] vlandau commented on #218
Does that mean I can't run multiple solvers in parallel with this method in Omniscape? (I use multithreading)

[2020-06-02 20:13] ViralBShah commented on #218
You should be able to. Generally Pardiso will try to use all the cores, so you have the over subscription problem. So some environment variable probably should be set so that each Julia process runs pardiso only on one core, when in parallel.

[2020-06-02 20:19] vlandau commented on #218
Okay I see -- sort of similar to over subscription due to BLAS parallelization. I'll look into this!

[2020-06-07 16:15] frederikvand commented on #235
@vlandau Thank you for all the assistance. I got a more or less working example on 1000m resolution and with a subset of pairs. However, there are still a lot of things puzzling me.

1) Parallel processing takes longer than sequential processing (25% longer).
2) If I use parallel processing on the 64 gig node I get ERROR: LoadError: ArgumentError: dense matrix construction failed for unknown reaso

[2020-06-07 16:42] VLucet opened #236 "Best way to paralellize Circuitscape?"
I was wondering what would be the best way to paralellize Circuitscape, when the goal is not to solve multiple pairs per map (this is natively paralellized if I'm not mistaken), but when the goal is to solve many maps (one or two pairs per map). In my use case I have thousands of different INI files to map over.

[2020-06-07 17:15] ViralBShah commented on #236
Use Julia's parallelization with `pmap`.

[2020-06-07 21:10] frederikvand commented on #235
Ok, so I made this work by doing the following:

1) Make short circuits beforehand by altering all resistance of patches to 1 and not include polygons in the ini file.
2) Make sure no points touch eachother
3) Make sure no more centroids are present than integer 32 can handle
3) Chunk points by a maximum of 300 and make seperate ini files for each chunk.
4) Parallelize manually outside of Julia.

[2020-06-08 15:34] vlandau commented on #235
The next step for parallel processing is to use multi threading instead of distributed parallel processing, which could help with the overhead problems you're experiencing. But because this is in the works, we don't want to put too much effort into the current parallel processing framework since it is going to be changed soon. I think the idea of processing in batches is a good one, and glad that

[2020-06-08 15:52] vlandau commented on #236
A @distributed or @threads for loop might also be a viable option, though not sure if @threads would be optimal for this.

[2020-06-08 15:58] VLucet commented on #236
@ViralBShah @vlandau I appreciate the quick reply. I will make an attempt and reopen if I run into issues.

[2020-06-08 16:00] frederikvand commented on #235
Glad to hear about the multi-threading! Also looking forward to the .tif functionality.

A simple statement in the ini file to determine the batch size of solves would fix a lot of the other problems I was experiencing. Would be good to know if circuitscape is able to handle integer 64 centroids. Because due to the interacting problems I am currently unsure.

You can close the issue if you wish!

[2020-06-08 16:09] vlandau commented on #235
There is a `use_64bit_indexing`argument (defaults to true) available on master (so is .tif functionality).

[2020-06-08 17:03] frederikvand commented on #235
Was using the "use_64_bit_indexing" so  not sure why I get the following error when using more than 400 pairs (same error occurs using CG + AMG) and thus when the amount of possible combination  exceeds 32767 (int32) or when more than 32767 of different values are available in the raster.

ERROR: ArgumentError: dense matrix construction failed for unknown reasons. Please submit a bug report.
Stack

[2020-06-08 17:08] vlandau commented on #235
The first error seems to be triggered by the SuiteSparse package (cc @ranjanan).

The second error suggests that you're not using the latest master. Running `Pkg.status("Circuitscape")` will let you know if that's that case. Did you use `Pkg.add(PackageSpec(name="Circuitscape", rev="master"))` to add the master version?

[2020-06-08 17:50] ViralBShah commented on #236
I'll be curious to know how both options fair. Remember to set number of blas threads to 1.

[2020-06-08 17:59] vlandau commented on #236
Good call. I do the same thing [in Omniscape](https://github.com/Circuitscape/Omniscape.jl/blob/master/src/run_omniscape.jl#L60), and it helps with performance.

[2020-06-08 18:01] VLucet commented on #236
This might be a little over my head. Could you explain further what that means and how to do it?

[2020-06-08 18:11] vlandau commented on #236
BLAS is the basic linear algebra solver, and it does linear algebra in parallel using multithreading. If you are doing higher level parallelization, where each job is itself using BLAS, then you can get "oversubscription," which is basically having more work queued up to do than you have hardware resources. This causes a competition for resources that can have consequences for performance. Setting

[2020-06-09 13:03] VLucet opened #239 "InexactError while parsing nodata values"
I am running Julia 1.3.1 and circuitscape dev (adding my project and manifest file along with the ini and raster files).
The patches file only contains 1 pair. I will also add that the rasters were generated with GRASS GIS 7.6.

The ini file, the rasters and the toml files:
https://drive.google.com/drive/folders/1X_JmaWdS5OHvdNzyEcvv19VybhuMv74Z?usp=sharing

The error is:
[code]

[2020-06-09 16:16] vlandau commented on #239
I know what's going on here. Basically -9999 isn't supported by UInt8 (and many other Int types), so I need to convert Integer rasters to something like Int64 right away. Will have this fixed today.

[2020-06-09 16:22] VLucet commented on #239
@vlandau thanks for your explanation. Does that mean it would work if the values in the input rasters were not integer but float?

[2020-06-09 16:23] vlandau commented on #239
Yep! If you need it to work immediately it should be fine if you convert your input rasters to Float32 for now.

[2020-06-09 16:27] VLucet commented on #239
Not that much in a rush - was just eager to understand. Thanks again.

[2020-06-09 16:33] vlandau commented on #239
The pull request linked above should fix it. Tests take about 30 minutes to complete, and once they do, I'll merge with master and you should be good to go. Thanks for testing out the new .tif reading capabilities and discovering this issue!

[2020-06-09 16:35] ViralBShah commented on #239
Should we make a new release?

[2020-06-09 16:38] vlandau commented on #239
It looks like we haven't released a version with tif reading at all yet, so anyone installing from the Julia registry won't face this bug (but also won't have tif reading supported). @ranjanan and I were talking about doing a new minor release though.

[2020-06-09 17:36] VLucet commented on #239
BTW, i've installed from your latest commit on your PR and it works fine now. I believe this can be closed.

[2020-06-09 17:36] vlandau commented on #239
I'm going to wait to close until I finalize the PR.

[2020-06-09 18:38] vlandau opened #241 "More issues with opened files on Mac"
I think it may have to do with readdlm possibly leaving files open on Mac. The error occurred during tests during the output verification stage, which used readdlm. It seems to be inconsistent, with the "too many open files error" only happening occasionally. I'll append this with a stacktrace if the error gets triggered again.

cc @ranjanan

[2020-06-09 19:06] #239 closed

[2020-06-09 19:31] ViralBShah commented on #241
I had tracked a bunch of these down a while back. I had found some opens for which Circuitscape was not closing things. I doubt it is a readdlm issue - but you never know.

[2020-06-09 19:33] ViralBShah commented on #241
See 614b86c5ad9553126909949cae8b2d96f01cb033 and #212 and #221

[2020-06-09 19:35] vlandau commented on #241
Yeah -- @ranjanan and I had to go through this again with the latest tif support PR, but I figured out  that read_raster was leaving files open (it has since been fixed).

Ah yes, #212 above is exactly what happened this time (I lost the stacktrace for the failure I got, but it was the same as #212). I guess I can close this for now since it's a dupe of #212. Sorry about that!

[2020-06-09 19:35] #241 closed

[2020-06-10 17:28] ViralBShah opened #242 "Convert circuitscape manual to Julia Documenter format"
This will make it easy to manage for changes going forward. Probably will be good to document some of the APIs as well.

[2020-06-10 22:50] ViralBShah commented on #236
Ideally we would have it go into the documentation - but that needs #242. Until then this will have to suffice.

[2020-06-10 22:53] VLucet opened #244 "ArchGDAL version dependency error"
I just tried to install from latest to further test parallelization:
[code]
Getting dependency error:
[code]
I think this is due to 7434c3b997b60633f629a6ea7da4446afe3f4cf6

[2020-06-10 22:56] vlandau commented on #244
Hmm, it worked for me. Are you on Julia 1.3 or greater? Running Pkg.update() or Pkg.rm("Circuitscape") and then trying to reinstall from master might help.

[2020-06-10 22:57] VLucet commented on #244
Apologies, forgot to `Pkg.update()`

[2020-06-10 22:57] #244 closed

[2020-06-10 23:13] ViralBShah commented on #244
I just pushed a bunch of dependency updates. Should make Circuitscape play nicer with the rest of the ecosystem.

[2020-06-10 23:33] ViralBShah opened #245 "Get CI to pass"
We should get CI to pass before tagging a new version.

I think given the tiff stuff, all the dependency updates, and the pmap fix (among other things), we should go to 6.0.

[2020-06-10 23:34] ViralBShah commented on #228
Dash.jl or Tk.jl is perhaps the way to do this. Closing for now.

[2020-06-10 23:34] #228 closed

[2020-06-10 23:52] VLucet commented on #236
the following script launch with `julia -p 2`  now works:
[code]
Im running into issues trying to get rid of the @everywhere and using `addprocs()`. each worker completes one call to `compute` and I run in the following error. Happy to post another issue or reopen this.
[code]

[2020-06-11 00:05] vlandau commented on #245
I think the issue with CI not passing on Windows has to do with SharedArrays right? I got the sense that it won't be solved until multithreading is implemented from @ranjanan.

[2020-06-11 00:25] vlandau commented on #245
Looks like AlgebraicMultigrid v0.3 [requires Julia 1.4 or greater](https://github.com/JuliaLinearAlgebra/AlgebraicMultigrid.jl/blob/master/Project.toml#L20)
https://travis-ci.org/github/Circuitscape/Circuitscape.jl/jobs/697038000

[2020-06-11 00:26] vlandau commented on #245
So, we need to either allow AlgebraicMultigrid v0.2 or bump the Julia compat to 1.4.

[2020-06-11 00:31] vlandau commented on #236
Make sure you run `addprocs(2)` after running all of the other code (i.e. _just_ before running `pmap`). Let me know if that solves it.

[2020-06-11 00:52] VLucet commented on #236
It is what I was doing :)
full script called with julia -p 2
[code]

[2020-06-11 00:54] VLucet commented on #236
not calling with `-p 2` causes another issue:
[code]

[2020-06-11 02:02] ViralBShah commented on #245
We should bump the Julia compat. Especially with all the threading omniscape uses, it is best to keep moving up with every release, since lots of issues keep getting fixed.

[2020-06-11 02:03] ViralBShah commented on #245
Fixed in 21e5f61a3a63fa950828fca37df69d1dd1958eb3

[2020-06-11 02:12] ViralBShah commented on #245
https://github.com/JuliaLinearAlgebra/AlgebraicMultigrid.jl/issues/65

[2020-06-11 02:22] ViralBShah commented on #245
To make CI more reliable, we should revisit how many tests need to be run during CI.

[2020-06-11 02:23] ViralBShah commented on #236
Can you paste your whole session?

[2020-06-13 16:18] VLucet opened #246 "write_as_tif options only works if value is true, not True"
Hello,
I've noticed that putting `write_as_tif = True` in my ini file lead to Circuitscape outputting files as .asc and not tif. It does work if I set `write_as_tif = true`. Im guessing we are missing a check for `in TRUELIST` in `out.jl`.

[2020-06-13 17:05] VLucet commented on #236
@ViralBShah Im realising i'm on 1.3.1, but you just recently commited for 1.4 to be minimum requirement.

Do you mean my Manifest and Project files?

[2020-06-13 19:55] ViralBShah commented on #236
I meant the screendump of everything from the point you start julia. You could post it as a gist. That way we can see all the commands and also try reproduce. I suspect the fix should be straightforward.

[2020-06-13 19:56] ViralBShah commented on #236
Yes, that is mainly because some of the dependent packages need Julia 1.4.

[2020-06-13 20:29] VLucet commented on #236
Alright, here is a screen dump, with fresh install of julia 1.4.2 and dev circuitscape.
https://gist.github.com/VLucet/b472d55fe8202139daeedca33b734a6c

[2020-06-14 13:40] ViralBShah commented on #236
The `addprocs(2)` should be done before the `using Circuitscape` line. That will ensure that the packages are loaded on all processors.

[2020-06-14 15:46] VLucet commented on #236
@ViralBShah thank you for your continued help on this. I keep running into errors, as it looks like whenever I do `addprocs()`, I still have to reload Pkg, I have to activate and instantiate and also load Circuitscape as well as declare all variables with @everywhere.  This seems to be because, from the doc on addprocs, the different workers never synchronize.
[code]
For example:
https://gist.gith

[2020-06-15 13:02] ViralBShah commented on #236
Doesn't this just work for you? I'm doing this on Julia 1.4.2.

[code]

[2020-06-15 21:12] #246 closed

[2020-06-15 23:31] VLucet commented on #236
@ViralBShah I am at a loss to understand what is going on, despite my reading of the doc of the `Pkg`, but I think my issue is related to https://github.com/JuliaLang/julia/issues/28781.

Maybe there is something very basic that I do not understand, and to the risk of looking stupid, here is what I did:
I run julia in a container (fresh install of 1.4.2, nothing is installed yet at the beginning o

[2020-06-16 00:26] VLucet commented on #236
And, as per suggested in the issue, I fixed my problem with `addprocs(cores, exeflags="--project")`

[2020-06-16 00:49] ViralBShah commented on #236
@kristofferC - Is this diagnosis right about the error described above due to Pkg environments issue in https://github.com/JuliaLang/julia/issues/28781?

@VLucet Maybe you just have to throw `@everywhere` on all the things for now.

[2020-06-16 14:51] frederikvand commented on #235
Dear @vlandau ,

You are right. Installing the master solver solved the tif problem!
The only problem that now remains is the max. amount of pairs and that I lose a lot of processing time by chunking because it has to sequentially reread the map, construct graphs and cholesky factors for each batch. Furthermore I haven't found a solution to run my batches in parallel on the supercomputer node. Is

[2020-06-16 15:39] ViralBShah commented on #235
Some of the discussion in #236 should help. You should be able to then create a bunch of ini files and do something like #236 to run different pairs on each node.

[2020-06-16 19:50] frederikvand commented on #235
Dear @ViralBShah

Thank you for the information! I will try to make it work like that.
However, I seem to be getting a dense matrix construction error again for just 100 pairs without parallel processes. Do you have an idea what could cause this? Thank you for all the help!

[ Info: 2020-06-16 19:54:46 : Logs will recorded to file: log_file
[ Info: 2020-06-16 19:54:47 : Precision used: Double
[ In

[2020-06-16 20:29] ranjanan commented on #245
To make CI pass we need to move to multi-threading. When that works, let's release 6.0. But till then we can make minor releases.

[2020-06-16 20:36] ViralBShah commented on #245
Why do we need multi-threading to pass CI? Can we not make the CI test cases slightly less comprehensive for now?

[2020-06-16 21:06] ranjanan commented on #236
Have you guys checked out [this code](https://github.com/Circuitscape/Circuitscape.jl/compare/RA/metapar) on RA/metapar. It adds a flag to the INI which replaces the internal `pmap` call with a map. I'll make this a PR and @VLucet can test whether it works for him.

[2020-06-17 06:42] frederikvand commented on #235
I am going to make a new ticket with just this error because this bug is the essence of all my problems.

[2020-06-17 06:42] #235 closed

[2020-06-17 06:47] frederikvand opened #249 "LoadError: ArgumentError: dense matrix construction failed for unknown reasons"
Dear circuitscape associates,

This error keeps returning in random occasions and I think it happens only when point rasters have more than 32,767 values. I always use  64bit_indexing = true in the ini setup.

[ Info: 2020-06-16 19:54:46 : Logs will recorded to file: log_file
[ Info: 2020-06-16 19:54:47 : Precision used: Double
[ Info: 2020-06-16 19:54:51 : Reading maps
[ Info: 2020-06-16 19:55:32

[2020-06-17 13:12] ViralBShah commented on #235
It would be best if you can provide the smallest example files that can reproduce the bug.

[2020-06-17 13:15] ViralBShah commented on #249
@ranjanan do we use Int16 by any chance?

[2020-06-17 14:12] frederikvand commented on #249
Dear ViralBShah, when I make a reproducible subset for fast testing it gives a different error but it might be related:

julia> compute("/scratch/leuven/330/vsc33060/circuitscape/03_model_analysis/00_subset_test/Patch_EU_test.ini")
[ Info: 2020-06-17 16:08:16 : Logs will recorded to file: log_file
[ Info: 2020-06-17 16:08:16 : Precision used: Double
[ Info: 2020-06-17 16:08:16 : Reading maps
[ Inf

[2020-06-17 14:36] VLucet commented on #236
@ranjanan I will give it a try! If I understand I have to add `meta_parallelize = True` to my INI files and then I have to call `compute` on an array of file names?

[2020-06-17 17:51] frederikvand commented on #249
Sorry, this error seem to be related to standard NA values in tif files. I can't seem to reproduce the other problem on a smaller scale so far...

[2020-06-17 18:09] vlandau commented on #249
Circuitscape should be able to handle rasters with _any_ NoData value as long as it's supported by the raster's type. Where is the error message that is suggesting that it is breaking? Could you send a copy of the offending file so I can troubleshoot?

[2020-06-18 00:08] aviks commented on #236
I see you are trying to remove `@everywhere` -- that is a bad idea, that invocation is required.

The way this will work is that you start with multiple workers, `julia --machinefile=...` (or `julia -p ..` if its only one machine`, and then on the master node, in your top level file, run something like this (simplifying)

[code]

This code should probably be in a separate main or runner file, and

[2020-06-18 09:15] frederikvand commented on #249
Dear @vlandau,

Error dense matrix construction related to n points can only be reproduced on the complete scale I'm afraid. I'm sorry for that. It takes circa 25 min to reproduce the problem. Files can be found in the link below.

https://we.tl/t-PGWN29oUbS

The InexactError: Int64(-3.4e38) seems to be solved on the new master 5.5.6. This update just went in effect and the error dissapeared.

Tha

[2020-06-18 15:57] frederikvand commented on #249
@vlandau yup! The dense matrix construction keeps failing on the new master version though.

[2020-06-18 16:07] vlandau commented on #249
Okay good to hear at least one problem is solved! It looks like this other error could be caused by a bug or limitation of the SuiteSparse package. Might be best to let @ranjanan chime in here when he gets a chance.

[2020-06-19 16:47] vlandau opened #250 "Fix or remove codecov badge"
Looks like codecov is not current in the readme. I have had issues with travis submitting multiple coverage reports (and causing issues) to codecov, so for Omniscape, I have a [separate stage](https://github.com/Circuitscape/Omniscape.jl/blob/master/.travis.yml#L30) for codecov. Happy to do the same for Circuitscape. This would add an additional ~30 minutes to the Circuitscape testing pipeline, th

[2020-06-21 09:25] frederikvand commented on #236
This seems to work on the cluster but its not very stable.

import Pkg; Pkg.add("Distributed")
using Distributed

addprocs(3)
@everywhere using Pkg
@everywhere Pkg.add(PackageSpec(name="Circuitscape", rev="master"))
@everywhere using Circuitscape

cd("/scratch/leuven/330/vsc33060/circuitscape/05_current_connect_parts/06_julia/p3_pairs")

pmap(include,["01_current_p3_pairs48.jl", "01_current_p3_pai

[2020-06-21 09:26] frederikvand commented on #249
Separating each raster in smaller parts and using meta-parallelisation seem to be a temporary workaround but its a lot of work for all my scenarios.

However, since this morning I seems to get an error related to master installation..
Yesterday evening it still worked fine.

[ Info: Precompiling Circuitscape [2b7a1792-8151-5239-925d-e2b8fdfa3201]
ERROR: LoadError: InitError: could not load library

[2020-06-21 17:22] VLucet commented on #236
@frederikvand I do also seem to observe that although all the workers start, a lot of them seem to quickly die, or seem to alternate between in use and idle (looking at your edited message suggest you had some trouble with that too). Is `batch_size` able to fix that?

[2020-06-21 17:26] frederikvand commented on #236
Yeah I think its related to memory usage peaks. Its hard to notice with memory monitoring because the failing workers are caused by the peaks I think. When I alter batch size and use bigmemory nodes (264 gig ram) I think it is solved. They are still running so I am not sure yet!

[2020-06-30 14:00] hr881 opened #251 "julia version and Circuitscape"
I don't have admin privileges at work, and in order to install julia my IT department needs to know if/how Circuitscape would be affected by updates for julia.  Will I need to update julia any time a new version is released in order to run Circuitscape?

[2020-06-30 15:20] ViralBShah commented on #251
Julia and the Circuitscape package both can be installed in your user account without admin. In general, you won't need to update Julia to a new version every time - perhaps once a year.

[2020-06-30 15:20] #251 closed

[2020-07-10 16:57] frederikvand commented on #249
Suddenly the inexact error reappeared on the master, even when using less than 20 k points (and 90 million nodes in resistance map).

ERROR: InexactError: Int64(-3.4e38)
Stacktrace:
 [1] Int64 at ./float.jl:710 [inlined]
 [2] convert(::Type{Int64}, ::Float32) at ./number.jl:7
 [3] read_raster(::String, ::Type{T} where T) at /data/leuven/330/vsc33060/Julia/packages/Circuitscape/Gyvjc/src/io.jl:469

[2020-07-13 19:19] angelabrennan opened #252 "effective resistance for one-to-all"
Hi thanks so much for Circuitscape.jl and for all the time you put into answering users' questions. I am looking to use the one-to-all mode and in the Circuitscape documentation (McRae 2013) it looks like that mode should produce an output file with effective resistances between each node and ground. However, I only get this output file when I run the pairwise mode, not the one-to-all. Perhaps the

[2020-07-13 20:02] ranjanan commented on #252
Hi Angela, thanks so much for your feedback. We're more than happy to help. As for getting resistances in the one to all mode, I believe we just return them to the user. So at the julia prompt, if you run:
[code]
the variable `r` should have all the resistances you're looking for. I don't think we write them out, perhaps we should though. Let me check v4 to be sure, and create a PR if necessary. A

[2020-07-14 02:45] angelabrennan commented on #252
Thanks very much Ranjan! This worked perfectly!
Best,
Angela

From: Ranjan Anantharaman <notifications@github.com>
Sent: Monday, July 13, 2020 1:03 PM
To: Circuitscape/Circuitscape.jl <Circuitscape.jl@noreply.github.com>
Cc: Brennan, Angela <angela.brennan@ubc.ca>; Author <author@noreply.github.com>
Subject: Re: [Circuitscape/Circuitscape.jl] effective resistance for one-to-all (#252)

Hi Angela,

[2020-07-16 14:53] Kim-Hall opened #253 "Update "usage" section of intro to CS"
The usage section only shows the "compute" command-- please add instructions on how to run CS interactively & build the .ini file.  Can we insert the GIF here?

[2020-07-20 19:54] mattwilliamson13 opened #254 "Installing `master` branch of Circuitscape fails"
I'm trying to re-install the development branch of Circuitscape (because I'm having [this issue](https://github.com/Circuitscape/Circuitscape.jl/issues/201#issue-526038370) again).
`julia> Pkg.add(PackageSpec(name="Circuitscape", rev = "master"))
  Updating git-repo `https://github.com/Circuitscape/Circuitscape.jl.git`
 Resolving package versions...
┌ Warning: julia version requirement for package

[2020-07-20 20:36] mattwilliamson13 commented on #254
Updating to Julia 1.4 seems to solve this error.

[2020-07-20 20:36] #254 closed

[2020-07-20 20:39] vlandau commented on #254
Ah, yep, Circuitscape requires Julia 1.4 or higher at this time. Glad it was sorted!

[2020-08-07 16:22] vlandau commented on #231
I added a reclass [feature for Omniscape](https://circuitscape.github.io/Omniscape.jl/dev/usage/#Resistance-reclassification-1) and it didn't take much code. Something similar can probably be just as easily done for Circuitscape, so someone should feel free to do a PR and use my code.

Relevant code blocks [here](https://github.com/Circuitscape/Omniscape.jl/blob/main/src/run_omniscape.jl#L49-L50),

[2020-08-07 16:29] vlandau commented on #231
@ranjanana I think that code might actually be erroneous (unless I'm missing something, I'm not well-versed in Python), because of the way it's iteratively applied in a for loop to the object that is being reclassified. It might change 1's to 2's, then in the next loop, change 2's to 3's, which would incorrectly change the 1's that were changed to 2's to 3's as well. I tried something similar in m

[2020-08-07 16:33] ViralBShah commented on #231
That code may be from @tanmaykm from a very long time ago, if he can remember.

[2020-08-07 16:34] ViralBShah commented on #231
FWIW, I personally don't remember the reclass option in the code. So, I'd go with your understanding of it and reproducing the feature in Circuitscape.jl.

[2020-08-19 14:15] glaroc opened #256 "Single precision issues?"
Hi, with the most recent version of Circuitscape and Julia 1.4.1 and using tiff files as inputs and outputs, I'm getting bad results when using precision = single. This is a pair-to-pair approach with rasters defining the pairs. Everything works with precision = double, but current maps with single precision contain mostly zeros and are have only a few values around the edge. Is anyone else experi

[2020-08-19 20:11] ViralBShah commented on #256
Definitely supply the example files. Is the single precision valuable in general? Which solver is being used?

[2020-08-19 20:13] glaroc commented on #256
What do you mean by "Is the single precision valuable in general" ? I'm using the default cg+amg

[2020-08-19 20:25] glaroc commented on #256
Here are test files.

https://www.dropbox.com/s/x060pn4ow6vhyxf/test_single_precision.zip?dl=0

[2020-08-19 20:29] ViralBShah commented on #256
What I meant is - does single precision result in substantial enough savings in time or memory? If it is 10-20% or so, it may be best to remove the support - if it causes trouble. Assuming the problems are not too big, is it possible to try with cholmod? That might help understand where the issues might be.

@vlandau Would you be able to look into this?

[2020-08-19 20:32] glaroc commented on #256
The time and memory (RAM) savings are in the order of 20-25%, so it's not a huge deal, but we do have to run this at least 10,000 times so it would make a difference in the end.

[2020-08-19 22:35] ViralBShah commented on #256
Yes, those savings would add up. If it is an obvious bug of some kind, we should be lucky. This could be a deeper numerical solver thing, where the problem is ill-conditioned for Float32.

[2020-09-01 17:03] slamander opened #257 "InexactError: Int64"
Hello,

I am running CS v 5.7.0 on windows with Julia (through R using `JuliaCall::Julia_command()`). I've had no problems with analyses in the past. However, lately I've been receiving this error during a pairwise analysis which I have successfully ran in the past.

Could anyone explain this error to me, and--if possible--provide suggestions for fixing it? I've pasted the error message, as well a

[2020-09-01 17:10] vlandau commented on #257
Hi Alex, we can work on figuring out what's going on here. It would be very helpful if you could share the input raster files. You can send them to vincent@csp-inc.org if you prefer not to post them publicly. A dropbox or google drive link will work fine..

[2020-09-01 17:11] ViralBShah commented on #257
I wonder if the dropbox folders linked in the .ini file are publicly accessible.

[2020-09-01 17:22] vlandau commented on #257
@ViralBShah seems that this is a problem with [`read_raster`](https://github.com/Circuitscape/Circuitscape.jl/blob/v5.7.0/src/io.jl#L442). I wrote that function so I will try to debug and get it patched today once I get the input files.

[2020-09-01 17:23] slamander commented on #257
Hey, thanks for the quick response! Let me know if this link works:
https://drive.google.com/drive/folders/1lgoPAOV5ZsfJB_EyngiHFdx2mgPmQ4n-?usp=sharing
habitat file: "AZI_ARM.asc"
point locations: "node_AZI_ARM.asc"
I'm also uploaded my include file, in case you need it.

[2020-09-01 17:23] vlandau commented on #257
Thanks @slamander, I'll check it out now!

[2020-09-01 17:43] vlandau commented on #257
Looks like this is actually nothing to do with `read_raster`, I jumped the gun on that since it was in the stack trace and we've had bugs in it before.

@slamander it looks like the problem may be simple. It appears that you have non-integer numbers in your node file. That file must have only integers, no decimals. It looks like that file is also identical to the resistance surface, so maybe it wa

[2020-09-01 17:44] vlandau commented on #257
Running a test now. I'll post back here once I confirm that the node file is in fact the issue.

[2020-09-01 17:46] ViralBShah commented on #257
We should ideally add an input validation pass so that we can give an error to the user.

[2020-09-01 17:50] vlandau commented on #257
Agreed. Should be easy enough to add that.

[2020-09-01 17:55] vlandau commented on #257
Okay -- got things working by replacing the node file with a dummy file with three manually-defined nodes. It was the decimal values in the node file that was causing this issue. @slamander just in case you haven't seen it, you can find more info on how to create/format a node file in the docs, at https://circuitscape.org/docs under "Focal node location and data type".

Closing this issue now and

[2020-09-01 17:55] #257 closed

[2020-09-01 18:03] slamander commented on #257
@vlandau Thank you very much for your rapid solution!

Best,
-Alex.

[2020-09-01 18:04] vlandau commented on #257
Happy to help! I'm glad we were able to resolve it for you. Don't hesitate to open another issue if you run into more problems.

[2020-09-01 18:11] vlandau opened #258 "Add warning when there are non-integers in node file"
In response to #257, add an error throw that lets the user know if the node file has invalid values.

[2020-09-01 20:08] slamander opened #260 ""KeyError: key ([#],[#]) not found""
Hello, CS community!

As a continuation from issue [#258](https://github.com/Circuitscape/Circuitscape.jl/issues/258), I've encountered another CS error for which I do not know how to address. See error message pasted below:

The relevant files (nodes & resistance layers, init file, and included pair list) are [here](https://drive.google.com/drive/folders/1lgoPAOV5ZsfJB_EyngiHFdx2mgPmQ4n-?usp=shar

[2020-09-01 21:02] vlandau commented on #260
I'm able to reproduce this. This seems to be an issue with parallel processing plus include_pairs. It _did_ run properly in serial, but I needed to restart Julia to get it to work. For some reason, if you try to run in parallel and get this error, running in serial doesn't work until you restart Julia. Very strange (concerning) behavior.

#### Summary of observations:
- When not using include_pair

[2020-09-02 00:08] slamander commented on #260
Thank again, @vlandau.

These are all very helpful notes, and--as you mentioned--since this is a very small job (although it is one in several hundred grids I'm applying this too), I'm more than satisfied with this solution.

Stay well out there,

-Alex.

[2020-09-02 00:38] vlandau commented on #260
I'm leaving this open just so we can properly debug, but glad it's workable for you for now at least!

[2020-09-02 01:54] ViralBShah commented on #260
@vlandau We may want to automatically pick cholmod for small problem sizes, and switch to cg+amg on larger ones. What do you think?

[2020-09-02 04:50] vlandau commented on #260
@ViralBShah I like that idea. I'm planning to do something similar for Omniscape -- once CHOLMOD gets implemented for advanced mode :) (or once the PARDISO solver gets released I might use that if it's comparable in performance)

[2020-09-02 04:50] #258 closed

[2020-09-02 11:39] ViralBShah commented on #260
Pardiso wasn't giving better enough performance, from what I could tell in the open PR. Unless you find it does on certain problems, I would suggest sticking with cholmod.

[2020-09-02 16:35] linhunt opened #261 "Denied access to folder"
I have been trying to get the Julia version of Circuitscape to run. When I run Circuitscape it says the file directory was denied access. Are you able to run the Julia version of Circuitscape off of an external hard drive. The file path doesn't contain any spaces, special characters, or numbers. However, the node file does have numbers in the middle of the file name if that matters.

[2020-09-02 16:36] vlandau commented on #261
If you are on Windows you may have to run Julia as administrator, or on Linux, `sudo julia`.

[2020-09-02 16:37] ViralBShah commented on #261
It's not a Julia or a Circuitscape problem though.

[2020-09-04 00:39] ranjanan commented on #260
@slamander the include pairs file is missing from your link (CMR_CAF.txt). Could you please add that to your Google Drive link?

[2020-09-04 00:40] ranjanan commented on #261
@linhunt did Vincent's suggestion work for you?

[2020-09-04 16:57] slamander commented on #260
Hi, @ranjanan. Thanks for the help! Sorry, I made the mistake of altering the files in this folder while troubleshooting upstream aspects of my workflow... If my alterations produce the same error, I'll be sure to post again. If this same error doesn't throw in my updated workflow, I'll try to work backward to recreate it.

In the future, I'll be sure to preserve the code and files for recreating

[2020-09-04 17:12] ranjanan commented on #260
Alright, no problem. Would you like to reopen this issue if you encounter it again?

[2020-09-04 18:51] slamander commented on #260
Hey, @ranjanan & @ViralBShah. Sorry, I must not have hit 'comment' when I tried to respond earlier. That sounds like a good idea. I'll let you both know what happens after I complete my workflow.

[2020-09-04 19:26] vlandau commented on #260
I believe I still have the files to reproduce. I can post them and reopen if it's okay with @slamander .

[2020-09-04 19:28] slamander commented on #260
@vlandau Fine by me!

[2020-09-04 19:47] vlandau commented on #260
[AZE_ARM_CS_inputs.zip](https://github.com/Circuitscape/Circuitscape.jl/files/5176693/AZE_ARM_CS_inputs.zip)
Here are the files @ranjanan.

[2020-09-06 23:56] ranjanan commented on #260
@vlandau did you miss uploading the resistance surface? `ERROR: the file "resistance_AZE_ARM.asc" does not exist`

[2020-09-08 04:57] vlandau commented on #260
Ah shoot, sorry. I uploaded the .out file instead of the resistance surface.... this archive should contain everything.
[AZE_AR_CS_inputs_v2.zip](https://github.com/Circuitscape/Circuitscape.jl/files/5186069/AZE_AR_CS_inputs_v2.zip)

[2020-09-18 19:47] blindjesse opened #262 "Error when using Circuitscape from R"
I am trying to run Circuitscape from inside R.

This works as expected (from a command prompt):
[code]

This gives an error
[code]

Using the `JuliaCall` package to call julia gives the same error

[2020-09-18 19:57] blindjesse commented on #262
Appears to be some sort of packaging issue ??? (sorry I don't know julia) as this works (from R):
`system("julia -e 'import Pkg; Pkg.add("MbedTLS_jll");using Circuitscape'")`

[2020-09-18 19:59] vlandau commented on #262
Was `Pkg; Pkg.add("MbedTLS_jll")` necessary to get it to work?

[2020-09-18 19:59] blindjesse commented on #262
Yes, I had to add that in the call from R.

[2020-09-18 20:06] vlandau commented on #262
What happens when you do `system("julia")` -> `]add MbedTLS_jll` -> `using Circuitscape`? Same error? I think this isn't a Circuitscape problem, so just trying to narrow it down a bit to determine who to ask for help.

[2020-09-18 20:10] blindjesse commented on #262
No that works too.

[2020-09-18 20:14] vlandau commented on #262
Okay -- do you have to do the same to load other packages, or just Circuitscape? Maybe try `using ArchGDAL` directly after `system("julia")` and see if the same error gets thrown